<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{product.internal_ref}} - {{_("IN")}}</h2>
        <thead>
            <tr>

                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                <th scope="col">{{_("QUANTITY")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in historyList %}
            {%if o.in_out=='in' %}

            <tr>
                <th> {{frappe.format(o.creation, {'fieldtype': 'Date'})}}</th>
                {% set url=""%}
                {% if o.order_type=="production"%}
                {% set url="/production-summary?order="+o.linked_order%}
                {% elif o.order_type=="prototype" %}
                {% set url="/prototype-summary?order="+o.linked_order%}
                {% elif o.order_type=="fabric" %}
                {% set url="/fabric-summary?order="+o.linked_order%}
                {% elif o.order_type=="trimming" %}
                {% set url="/trimming-summary?order="+o.linked_order%}
                {% elif o.order_type=="packaging" %}
                {% set url="/packaging-summary?order="+o.linked_order%}
                {% else %}
                {% set url=""%}
                {%endif%}
                <th><a href={{url}}>{{o.linked_order}}</a></th>
                <th>{{o.quantity}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>

    </table>



</div>
<br>

<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{product.internal_ref}} - {{_("OUT")}}</h2>
        <thead>
            <tr>
                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                <th scope="col">{{_("QUANTITY")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in historyList %}
            {%if o.in_out=='out' %}

            <tr>
                <th> {{frappe.format(o.creation, {'fieldtype': 'Date'})}}</th>
                {% set url=""%}
                {% if o.order_type=="production"%}
                {% set url="/production-summary?order="+o.linked_order%}
                {% elif o.order_type=="prototype" %}
                {% set url="/prototype-summary?order="+o.linked_order%}
                {% else %}
                {% set url=""%}
                {%endif%}
                <th><a href={{url}}>{{o.linked_order}}</a></th>
                <th>{{o.quantity}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>

    </table>
</div>

<br>

<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{_("In Stock")}}</h2>
        <thead>
            {%if product.sizing%}
            <tr>
                {%for size,qty in sizingDic.items() %}
                <th scope="col">{{size}}</th>
                {%endfor%}
            </tr>
            {%else%}
            <tr>
                <th scope="col">{{_("Quantity")}}</th>

            </tr>
            {%endif%}
        </thead>
        <tbody>
            {%if product.sizing%}
            <tr>
            {% for stockPerSizeDetail in stock.product_stock_per_size %}
            
                <td> {{stockPerSizeDetail.quantity}}</td>
            {% endfor %}

            </tr>

            {%else%}
            <tr>
                <td> {{stock.quantity}}</td>
                
            </tr>
            {%endif%}
        </tbody>

    </table>

</div>
