<div class="sidebar right">
  <div class="sidebar-inner">
    <h5 class="mb-4">Fabric Vendor</h5>

    <div class="form-group">
      <label for="">Expected Work Date</label>
      <div class="input-group date">
        <input id="exWorkDate" class="form-control" value="name=&quot;workDate&quot;" placeholder="Desired date"
          type="date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="">Confirmation Doc</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" value="None" name="confirmation_doc" id="confirmation_doc">

        <label id="confirmation_doc-label" class="custom-file-label" for="confirmation_doc"></label>

      </div>
    </div>

    <div class="form-group">
      <label for="">Proforma</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" value="None" name="profoma" id="profoma">

        <label id="profoma-label" class="custom-file-label" for="profoma"></label>

      </div>
    </div>

    <div class="form-group">
      <label for="">Invoice</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" value="None" name="invoice" id="invoice">

        <label id="invoice-label" class="custom-file-label" for="invoice"></label>

      </div>
    </div>

    <h5 class="my-4">Shipment</h5>

    <div class="gorm-group">
      <label for="">Carrier</label>
      <input id="carrier" type="text" value="" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Tracking Number</label>
      <input id="tracking_number" type="text" value="" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Date of Shipment</label>
      <div class="input-group date">
        <input id="shipmentDate" class="form-control" value="None" name="desireddate" placeholder="Desired date"
          type="date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="">Comments</label>
      <textarea class="form-control" id="comment" rows="4"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" id="vendorSubmit">Submit</button>
    </div>
  </div>


</div>