{% extends "templates/web.html" %}
{% block content %}



{% set rightMenuPages = ['fabric-summary'] %}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="page-with-sidebar{% if path in rightMenuPages %} right-sidebar{% endif %}">
    <div class="sidebar">
        {% include 'erpnext/www/sidenav.html'%}
    </div>
    {% if path == 'fabric-summary' %}
    {% include 'erpnext/www/right-sidenav.html' %}
    {% endif %}
    {% include 'erpnext/www/right-sidenav.html' %}
    <div class="page-body {{ path }}">
        <div class="container-expand">

            {% import 'erpnext/templates/macros.html' as macros %}

            {%block breadcrumbs%}{%endblock%}

            {% block pageTitle %}
            <!-- <div class="col-12">
                <div class="title-with-image d-flex align-items-center">
                    <img src="/assets/erpnext/images/icons/title-fabric.svg" alt="" class="mr-3">
                    <h2 class="my-0">{{pageTitle}}</h2>
                </div>
            </div> -->
            {% endblock%}

            {% block modecontent %}

            {% endblock %}

        </div>
    </div>
</div>
{% include 'erpnext/www/brand-dashboard/vendor_modal.html' %}

{% endblock %}