<script src="http://35.192.44.237:8000/assets/frappe/js/lib/jquery/jquery.min.js"></script>

<script>
    $(function () {
        var url = window.location.pathname + window.location.search;
        $(".main-sidebar-menu a").each(function (item) {
            console.log(url, $(this).attr('href'))
            if (url === $(this).attr('href')) {
                $(this).addClass('active')
            }
        })
    })
</script>

<div class="list-group main-sidebar-menu" id="accordionMenu">

    <a href="#"><small>{{ path }} {{ frappe.form_dict }}</small></a>

    <a href="/brand-dashboard">
        <i class="custom-icon icon-home"></i> {{_("Home")}}
    </a>

    {% set client_manage = ['client-list', 'client'] %}
    {% set client = ['purchase-list', 'client-list', 'client'] %}
    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#collapse3"
        aria-expanded="{% if path in client %}true{% else %}false{% endif %}" aria-controls="collapse3">
        <i class="custom-icon icon-client"></i> {{_("Client")}}
    </a>
    <div id="collapse3" class="collapse {% if path in client %}show{% endif %}" data-parent="#accordionMenu">
        <div class="list-group">
            {# <a href="#" class="list-group-item ">
                {{_("Price List")}}
            </a> #}
            <a href="/purchase-list" class="list-group-item {% if path == 'purchase-list' %}active{% endif %}">
                {{_("List of purchase")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c3a"
                aria-expanded="{% if path in client_manage %}true{% else %}false{% endif %}" aria-controls="c3a">
                {{_("Manage")}}
            </a>
            <div id="c3a" class="collapse {% if path in client_manage %}show{% endif %}" data-parent="#collapse3">
                <div class="list-group">
                    <a href="/client?new=1" class="list-group-item {% if path == 'client' %}active{% endif %}">
                        {{_("Create new client")}}
                    </a>
                    <a href="/client-list" class="list-group-item {% if path == 'client-list' %}active{% endif %}">
                        {{_("Client list")}}
                    </a>
                    {# <a href="/client-destinations" class="list-group-item ">
                        {{_("Destinations")}}
                    </a> #}
                </div>
            </div>
        </div>
    </div>


    {% set supply_fabric_manage = ['cliasdfasdf'] %}
    {% set supply_fabric = ['cliasdfasdf'] %}

    {% set supply_trimming_manage = ['cliasdfasdf'] %}
    {% set supply_trimming = ['new-trimming-order', 'supply-dashboard?type=trimming'] %}

    {% set supply_packaging_manage = ['supply', 'packaging-item', 'packaging-material', 'packaging-size'] %}
    {% set supply_packaging = ['new-packaging-order', 'supply-dashboard?type=packaging'] %}

    {% set supply = ['purchasdf'] %}

    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#collapseOne"
        aria-expanded="{% if path in supply %}true{% else %}false{% endif %}" aria-controls="collapseOne">
        <i class="custom-icon icon-document"></i> {{_("Supply")}}
    </a>
    <div id="collapseOne" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/supply-list" class="list-group-item {% if path == 'client' %}active{% endif %}">
                {{_("Supplier List")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1a"
                aria-expanded="false" aria-controls="c1a">
                {{_("Fabric")}}
            </a>
            <div id="c1a" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-fabric-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=fabric"
                        class="list-group-item {% if path == 'client' %}active{% endif %}">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1aa"
                        aria-expanded="false" aria-controls="c1aa">
                        {{_("Manage")}}
                    </a>
                    <div id="c1aa" class="collapse" data-parent="#c1a">
                        <div class="list-group">
                            <a href="/supply" class="list-group-item form-modal" data-toggle="" data-group="fabric"
                                data-target="#form_modal">
                                {{_("Fabric vendor")}}
                            </a>
                            <a href="/fabric-item?new=1" class="list-group-item ">
                                {{_("Add new fabric")}}
                            </a>
                            <a href="/color" class="list-group-item ">
                                {{_("Fabric Color")}}
                            </a>
                            <a href="/composition" class="list-group-item ">
                                {{_("Composition")}}
                            </a>
                            <a href="/fabric-width" class="list-group-item ">
                                {{_("Width")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1b">
                {{_("Trimming")}}
            </a>
            <div id="c1b" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-trimming-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=trimming" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1ba"
                        aria-expanded="false" aria-controls="c1ba">
                        {{_("Manage")}}
                    </a>
                    <div id="c1ba" class="collapse" data-parent="#c1b">
                        <div class="list-group">
                            <a href="/supply" class="list-group-item form-modal" data-toggle="" data-group="trimming"
                                data-target="#form_modal">
                                {{_("Trimming vendor")}}
                            </a>
                            <a href="/trimming-item?new=1" class="list-group-item ">
                                {{_("Trimming Item")}}
                            </a>
                            <a href="/trimming-size" class="list-group-item ">
                                {{_("Trimming Size")}}
                            </a>
                            <a href="/trimming-category" class="list-group-item ">
                                {{_("Trimming Category")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1c">
                {{_("Packaging")}}
            </a>
            <div id="c1c" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-packaging-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=packaging" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1ca"
                        aria-expanded="false" aria-controls="c1ca">
                        {{_("Manage")}}
                    </a>
                    <div id="c1ca" class="collapse" data-parent="#c1c">
                        <div class="list-group">
                            <a href="/supply" class="list-group-item form-modal" data-toggle="" data-group="packaging"
                                data-target="#form_modal">
                                {{_("Packaging vendor")}}
                            </a>
                            <a href="/packaging-item?new=1" class="list-group-item ">
                                {{_("Packaging Item")}}
                            </a>
                            <a href="/packaging-material" class="list-group-item ">
                                {{_("Packaging Material")}}
                            </a>
                            <a href="/packaging-size" class="list-group-item ">
                                {{_("Packaging Size")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% set preProduction = ['purchasdf'] %}
    {% set client_manage = ['cliasdfasdf'] %}
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapseOTwo"
        aria-expanded="{% if path in preProduction %}true{% else %}false{% endif %}" aria-controls="collapseOTwo">
        <i class="custom-icon icon-edit"></i> {{_("Pre-production")}}
    </a>
    <div id="collapseOTwo" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c2a"
                aria-expanded="false" aria-controls="c2a">
                {{_("Prototype")}}
            </a>
            <div id="c2a" class="collapse" data-parent="#collapseOTwo">
                <div class="list-group">
                    <a href="/prototype-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/prototype-dashboard" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1aa"
                        aria-expanded="false" aria-controls="c1aa">
                        {{_("Manage")}}
                    </a> #}
                    <div id="c1aa" class="collapse" data-parent="#c1a">
                        <div class="list-group">
                            {# <a href="#" class="list-group-item ">
                                {{_("Fabric vendor")}}
                            </a>
                            <a href="#" class="list-group-item ">
                                {{_("Fabric Ref")}}
                            </a>
                            <a href="#" class="list-group-item ">
                                {{_("Fabric Color")}}
                            </a> #}
                        </div>
                    </div>
                </div>
            </div>
            {# <a href="#" class="list-group-item ">
                {{_("Tech pack")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("Pattern")}}
            </a> #}
        </div>
    </div>



    {% set production = ['purchasdf'] %}
    {% set client_manage = ['cliasdfasdf'] %}
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse4"
        aria-expanded="{% if path in production %}true{% else %}false{% endif %}" aria-controls="collapse4">
        <i class="custom-icon icon-settings"></i> {{_("Production")}}
    </a>
    <div id="collapse4" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/production-order" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="/production-dashboard" class="list-group-item ">
                {{_("List")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c4a"
                aria-expanded="false" aria-controls="c4a">
                {{_("Manage")}}
            </a>
            <div id="c4a" class="collapse" data-parent="#collapse4">
                <div class="list-group">
                    <a href="/products-list" class="list-group-item ">
                        {{_("Products List")}}
                    </a>
                    <a href="/factory-list" class="list-group-item ">
                        {{_("Factory List")}}
                    </a>
                    <a href="/product-category?new=1" class="list-group-item ">
                        {{_("Create new product category")}}
                    </a>
                    <a href="/sizing-scheme" class="list-group-item ">
                        {{_("Create new sizing scheme")}}
                    </a>
                </div>
            </div>
        </div>
    </div>



    {% set shipment = ['shipment-orde', 'shipping-list'] %}
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse5"
        aria-expanded="{% if path in shipment %}true{% else %}false{% endif %}" aria-controls="collapse5">
        <i class="custom-icon icon-shipment"></i> {{_("Shipment")}}
    </a>
    <div id="collapse5" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/shipment-order?new=1" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="/shipping-list" class="list-group-item ">
                {{_("List")}}
            </a>
            {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c5a"
                aria-expanded="false" aria-controls="c5a">
                {{_("Manage")}}
            </a>
            <div id="c5a" class="collapse" data-parent="#collapse5">
                <div class="list-group">
                    <a href="#" class="list-group-item ">
                        {{_("List of carriers")}}
                    </a>
                </div>
            </div> #}
        </div>
    </div>



    {% set stock = ['stock-products', 'stock-fabric', 'stock-trimming', 'stock-packaging'] %}
    {% set stock_supply = ['stock-fabric', 'stock-trimming', 'stock-packaging'] %}
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse6"
        aria-expanded="{% if path in stock %}true{% else %}false{% endif %}" aria-controls="collapse6">
        <i class="custom-icon icon-stock"></i> {{_("Stock")}}
    </a>
    <div id="collapse6" class="collapse {% if path in stock %}show{% else %}false{% endif %}"
        data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/stock-products" class="list-group-item {% if path == 'stock-products' %}active{% endif %}">
                {{_("Product Stock")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c6a"
                aria-expanded="{% if path in stock_supply %}true{% else %}false{% endif %}" aria-controls="c6a">
                {{_("Supply")}}
            </a>
            <div id="c6a" class="collapse" data-parent="#collapse6">
                <div class="list-group">
                    <a href="/stock-fabric" class="list-group-item {% if path == 'stock-fabric' %}active{% endif %}">
                        {{_("Fabric Stock")}}
                    </a>
                    <a href="/stock-trimming"
                        class="list-group-item {% if path == 'stock-trimming' %}active{% endif %}">
                        {{_("Trimming Stock")}}
                    </a>
                    <a href="/stock-packaging"
                        class="list-group-item {% if path == 'stock-packaging' %}active{% endif %}">
                        {{_("Packaging Stock")}}
                    </a>
                </div>
            </div>
            {# <a href="#" class="list-group-item ">
                {{_("Finished product")}}
            </a> #}
            {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c6b"
                aria-expanded="false" aria-controls="c6b">
                {{_("History")}}
            </a>
            <div id="c6b" class="collapse" data-parent="#collapse6">
                <div class="list-group">
                    <a href="/fabric-stock-history" class="list-group-item ">
                        {{_("Fabric Stock History")}}
                    </a>
                    <a href="/trimming-stock-history" class="list-group-item ">
                        {{_("Trimming Stock History")}}
                    </a>
                    <a href="/packaging-stock-history" class="list-group-item ">
                        {{_("Packaging Stock History")}}
                    </a>
                </div>
            </div> #}
        </div>
    </div>
    {# <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse7"
        aria-expanded="false" aria-controls="collapse7">
        <i class="custom-icon icon-list"></i> {{_("Invoice Packing List")}}
    </a>
    <div id="collapse7" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="#" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("List")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("Manage")}}
            </a>
        </div>
    </div>
     <a href="#" class="list-group-item ">
        <i class="custom-icon icon-finance"></i> {{_("Finance")}}
    </a> #}
</div>