<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

<script>
    $(function () {
        var url = window.location.pathname + window.location.search;
        console.log(url)
        $(".main-sidebar-menu a").each(function () {
            if (url === $(this).attr('href') || window.location.pathname === $(this).attr('href') || window.location.pathname === $(this).data('url2')) {
                console.log(url, $(this).attr('href'))
                $(this).addClass('active')
                if ($(this).parent('div.list-group') && $(this).parent('div.list-group').parent('div.collapse')) {
                    $(this).parent('div.list-group').parent('div.collapse').prev('a.list-group-item').attr('aria-expanded', 'true')
                    $(this).parent('div.list-group').parent('div.collapse').addClass('show')
                    var current = $(this).parent('div.list-group').parent('div.collapse')
                    if (current.parent('div.list-group') && current.parent('div.list-group').parent('div.collapse')) {
                        current.parent('div.list-group').parent('div.collapse').prev('a.list-group-item').attr('aria-expanded', 'true')
                        current.parent('div.list-group').parent('div.collapse').addClass('show')
                    }
                    current = $(current).parent('div.list-group').parent('div.collapse')
                    if (current.parent('div.list-group') && current.parent('div.list-group').parent('div.collapse')) {
                        current.parent('div.list-group').parent('div.collapse').prev('a.list-group-item').attr('aria-expanded', 'true')
                        current.parent('div.list-group').parent('div.collapse').addClass('show')
                    }
                }
            }
        })
    })
</script>

<div class="list-group main-sidebar-menu" id="accordionMenu">

    <a href="/brand-dashboard">
        <i class="custom-icon icon-home"></i> {{_("Home")}}
    </a>
    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#collapse3"
        aria-expanded="false" aria-controls="collapse3">
        <i class="custom-icon icon-client"></i> {{_("Client")}}
    </a>
    <div id="collapse3" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            {# <a href="#" class="list-group-item ">
                {{_("Price List")}}
            </a> #}
            <a href="/purchase" class="list-group-item parent-1">
                {{_("Purchase")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c-c-o-clients"
                aria-expanded="false" aria-controls="c-c-o-clients">
                {{_("Orders")}}
            </a>
            <div id="c-c-o-clients" class="collapse" data-parent="#collapse3">
                <div class="list-group">
                    {% set brand = frappe.get_doc('User', frappe.session.user).brand_name %}
                    {% for client in frappe.get_all("Customer",{"brand":brand},["customer_name","name"]) %}
                        <a href="#" style="color:blue" class="list-group-item" type="button" data-toggle="collapse" data-target="#c-c-o-c-{{loop.index}}"
                        aria-expanded="false" aria-controls="c-c-o-c-{{loop.index}}">
                            {{_(client.customer_name)}}
                        </a>
                        <div id="c-c-o-c-{{loop.index}}" class="collapse" data-parent="#c-c-o-clients">
                            <div class="list-group">
                                <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c-c-o-c-{{loop.index}}-pos"
                                aria-expanded="false" aria-controls="c-c-o-c-{{loop.index}}-pos">
                                    {{_("POS")}}
                                </a>
                                <div id="c-c-o-c-{{loop.index}}-pos" class="collapse" data-parent="#c-c-o-c-{{loop.index}}">
                                    <div class="list-group">
                                    {% set client_index = loop.index %}
                                    {% for pos in frappe.get_all("Point Of Sales",{"parent_company":client.name},["point_of_sale","name"]) %}
                                        <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c-c-o-c-p-{{loop.index}}"
                                        aria-expanded="false" aria-controls="c-c-o-c-p-{{loop.index}}">
                                            {{_(pos.point_of_sale)}}
                                        </a>
                                        <!-- In the current situatioon there is no pos selection for client Orders -->
                                        <div id="c-c-o-c-p-{{loop.index}}" class="collapse" data-parent="#c-c-o-c-{{client_index}}-pos">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item">
                                                    {{_("Canceled")}}
                                                </a>
                                                <a href="#" class="list-group-item">
                                                    {{_("In Progress")}}
                                                </a>
                                                <a href="#" class="list-group-item">
                                                    {{_("Package List")}}
                                                </a>
                                                <a href="#" class="list-group-item">
                                                    {{_("Invoice")}}
                                                </a>        
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>  
                                <a href="#" class="list-group-item">
                                    {{_("Canceled")}}
                                </a>
                                <a href="#" class="list-group-item">
                                    {{_("In Progress")}}
                                </a>
                                <a href="#" class="list-group-item">
                                    {{_("Package List")}}
                                </a>
                                <a href="#" class="list-group-item">
                                    {{_("Invoice")}}
                                </a>    
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c3a"
                aria-expanded="false" aria-controls="c3a">
                {{_("Manage")}}
            </a>
            <div id="c3a" class="collapse" data-parent="#collapse3">
                <div class="list-group">
                    <a href="/client?new=1" class="list-group-item">
                        {{_("New")}}
                    </a>
                    <a href="/client-list" class="list-group-item">
                        {{_("Client list")}}
                    </a>
                    {# <a href="/client-destinations" class="list-group-item ">
                        {{_("Destinations")}}
                    </a> #}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        <i class="custom-icon icon-document"></i> {{_("Supply")}}
    </a>
    <div id="collapseOne" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/supply-list" class="list-group-item ">
                {{_("Supplier List")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1a"
                aria-expanded="false" aria-controls="c1a">
                {{_("Fabric")}}
            </a>
            <div id="c1a" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-fabric-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=fabric" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1aa"
                        aria-expanded="false" aria-controls="c1aa">
                        {{_("Manage")}}
                    </a>
                    <div id="c1aa" class="collapse" data-parent="#c1a">
                        <div class="list-group">
                            <a href="/supply-list?type=Fabric" class="list-group-item form-modal" data-toggle=""
                                data-group="fabric" data-target="#form_modal">
                                {{_("Fabric vendor")}}
                            </a>
                            <a href="/fabric-item" class="list-group-item ">
                                {{_("Fabric Item")}}
                            </a>
                            <a href="/color" class="list-group-item ">
                                {{_("Fabric Color")}}
                            </a>
                            <a href="/composition" class="list-group-item ">
                                {{_("Composition")}}
                            </a>
                            <a href="/fabric-width" class="list-group-item ">
                                {{_("Width")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1b">
                {{_("Trimming")}}
            </a>
            <div id="c1b" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-trimming-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=trimming" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1ba"
                        aria-expanded="false" aria-controls="c1ba">
                        {{_("Manage")}}
                    </a>
                    <div id="c1ba" class="collapse" data-parent="#c1b">
                        <div class="list-group">
                            <a href="/supply-list?type=Trimming" class="list-group-item form-modal" data-toggle=""
                                data-group="trimming" data-target="#form_modal">
                                {{_("Trimming vendor")}}
                            </a>
                            <a href="/trimming-item" class="list-group-item ">
                                {{_("Trimming Item")}}
                            </a>
                            <!-- <a href="/trimming-size" class="list-group-item ">
                                {{_("Trimming Size")}}
                            </a> -->
                            <a href="/trimming-category" class="list-group-item ">
                                {{_("Trimming Category")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1c">
                {{_("Packaging")}}
            </a>
            <div id="c1c" class="collapse" data-parent="#collapseOne">
                <div class="list-group">
                    <a href="/new-packaging-order" class="list-group-item ">
                        {{_("Order")}}
                    </a>
                    <a href="/supply-dashboard?type=packaging" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1ca"
                        aria-expanded="false" aria-controls="c1ca">
                        {{_("Manage")}}
                    </a>
                    <div id="c1ca" class="collapse" data-parent="#c1c">
                        <div class="list-group">
                            <a href="/supply-list?type=Packaging" class="list-group-item form-modal" data-toggle=""
                                data-group="packaging" data-target="#form_modal">
                                {{_("Packaging vendor")}}
                            </a>
                            <a href="/packaging-item" class="list-group-item ">
                                {{_("Packaging Item")}}
                            </a>
                            <a href="/packaging-material" class="list-group-item ">
                                {{_("Packaging Material")}}
                            </a>
                            <a href="/packaging-size" class="list-group-item ">
                                {{_("Packaging Size")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#c2a" aria-expanded="false"
        aria-controls="c2a">
        <i class="custom-icon icon-edit"></i> {{_("Pre-production")}}
    </a>


    <!-- <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c2a"
                aria-expanded="false" aria-controls="c2a">
                {{_("Prototype")}}
            </a> -->
    <div id="c2a" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/prototype-order" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="/prototype-dashboard" class="list-group-item " data-url2="/prototype-summary">
                {{_("List")}}
            </a>
            {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c1aa"
                        aria-expanded="false" aria-controls="c1aa">
                        {{_("Manage")}}
                    </a> #}
            <div id="c1aa" class="collapse" data-parent="#c1a">
                <div class="list-group">
                    {# <a href="#" class="list-group-item ">
                                {{_("Fabric vendor")}}
                            </a>
                            <a href="#" class="list-group-item ">
                                {{_("Fabric Ref")}}
                            </a>
                            <a href="#" class="list-group-item ">
                                {{_("Fabric Color")}}
                            </a> #}
                </div>
            </div>
        </div>
    </div>
    {# <a href="#" class="list-group-item ">
                {{_("Tech pack")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("Pattern")}}
            </a> #}


    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse4"
        aria-expanded="false" aria-controls="collapse4">
        <i class="custom-icon icon-settings"></i> {{_("Production")}}
    </a>
    <div id="collapse4" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ords" data-target="#ords">
                {{_("Order")}}
            </a>
            <div id="ords" class="collapse" data-parent="#collapse4">
                <div class="list-group">
                    <a href="/bulk-production-order" class="list-group-item ">
                        {{_("Bulk")}}
                    </a>
                    <a href="/uniform" class="list-group-item ">
                        {{_("Uniform")}}
                    </a>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ordLst" data-target="#ordLst">
                {{_("List")}}
            </a>
            <div id="ordLst" class="collapse" data-parent="#collapse4">
                <div class="list-group">
                    <a href="/production-dashboard" class="list-group-item ">
                        {{_("Bulk")}}
                    </a>
                    <a href="/uniform-in-production" class="list-group-item ">
                        {{_("Uniform")}}
                    </a>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c4a"
                aria-expanded="false" aria-controls="c4a">
                {{_("Manage")}}
            </a>
            <div id="c4a" class="collapse" data-parent="#collapse4">
                <div class="list-group">
                    <a href="#" class="list-group-item"  data-toggle="collapse" aria-expanded="false" data-target="#new_product" aria-controls="new_product">
                        {{_("Products")}}
                    </a>

                    <div id="new_product"  class="collapse" data-parent="#c4a">
                        <div class="list-group" style="padding-left: 20px !important;">
                            
                            <a href="/product-items" class="list-group-item ">
                                {{_("New Product")}}
                            </a>
                            <a href="/product-item" class="list-group-item ">
                                {{_("Products List")}}
                            </a>
                        </div>
                    </div>
                    <a href="/production-factory" class="list-group-item ">
                        {{_("Factory List")}}
                    </a>
                    <a href="/product-category" class="list-group-item ">
                        {{_("Create new Product Category")}}
                    </a>
                    <a href="/sizing-scheme" class="list-group-item ">
                        {{_("Create new sizing scheme")}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse5"
        aria-expanded="false" aria-controls="collapse5">
        <i class="custom-icon icon-shipment"></i> {{_("Shipment")}}
    </a>
    <div id="collapse5" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/shipment-order?new=1" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="/shipping-list" data-url2="/shipment-order" class="list-group-item ">
                {{_("List")}}
            </a>
            {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c5a"
                aria-expanded="false" aria-controls="c5a">
                {{_("Manage")}}
            </a>
            <div id="c5a" class="collapse" data-parent="#collapse5">
                <div class="list-group">
                    <a href="#" class="list-group-item ">
                        {{_("List of carriers")}}
                    </a>
                </div>
            </div> #}
        </div>
    </div>
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse6"
        aria-expanded="false" aria-controls="collapse6">
        <i class="custom-icon icon-stock"></i> {{_("Stock")}}
    </a>
    <div id="collapse6" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/stock-products" class="list-group-item ">
                {{_("Product Stock")}}
            </a>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c6a"
                aria-expanded="false" aria-controls="c6a">
                {{_("Supply")}}
            </a>
            <div id="c6a" class="collapse" data-parent="#collapse6">
                <div class="list-group">
                    <a href="/stock-fabric" class="list-group-item ">
                        {{_("Fabric Stock")}}
                    </a>
                    <a href="/stock-trimming" class="list-group-item ">
                        {{_("Trimming Stock")}}
                    </a>
                    <a href="/stock-packaging" class="list-group-item ">
                        {{_("Packaging Stock")}}
                    </a>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c7a"
                aria-expanded="false" aria-controls="c7a">
                {{_("Dispatch")}}
            </a>
            <div id="c7a" class="collapse" data-parent="#collapse6">
                <div class="list-group">
                    <a href="" class="list-group-item ">
                        {{_("Bulk")}}
                    </a>
                    <a href="/uniform-dispatch" class="list-group-item ">
                        {{_("Uniform")}}
                    </a>
                    <a href="" class="list-group-item ">
                        {{_("Direct Ship")}}
                    </a>
                </div>
            </div>
            {# <a href="#" class="list-group-item ">
                {{_("Finished product")}}
            </a> #}
            {# <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c6b"
                aria-expanded="false" aria-controls="c6b">
                {{_("History")}}
            </a>
            <div id="c6b" class="collapse" data-parent="#collapse6">
                <div class="list-group">
                    <a href="/fabric-stock-history" class="list-group-item ">
                        {{_("Fabric Stock History")}}
                    </a>
                    <a href="/trimming-stock-history" class="list-group-item ">
                        {{_("Trimming Stock History")}}
                    </a>
                    <a href="/packaging-stock-history" class="list-group-item ">
                        {{_("Packaging Stock History")}}
                    </a>
                </div>
            </div> #}
        </div>
    </div>
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse7"
        aria-expanded="false" aria-controls="collapse7">
        <i class="custom-icon icon-settings"></i> {{_("BackOffice Modehero")}}
    </a>
    <div id="collapse7" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ords" data-target="#ords">
                {{_("Service Plan")}}
            </a>
            <div id="ords" class="collapse" data-parent="#collapse7">
                <div class="list-group">
                    <a href="#" class="list-group-item ">
                        {{_("Manager")}}
                    </a>
                    <a href="#" class="list-group-item ">
                        {{_("Brand List")}}
                    </a>
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ordLst" data-target="#ordLst">
                {{_("S&F")}}
            </a>
            <div id="ordLst" class="collapse" data-parent="#collapse7">
                <div class="list-group">
                    <a href="#" class="list-group-item ">
                        {{_("List")}}
                    </a>
                    
                </div>
            </div>
            <a href="#" class="list-group-item" type="button" data-toggle="collapse" data-target="#c5a"
                aria-expanded="false" aria-controls="c5a">
                {{_("Templates")}}
            </a>
            <div id="c5a" class="collapse" data-parent="#collapse7">
                <div class="list-group">
                    <a href="/template_management?case=email" class="list-group-item">
                        {{_("Emails")}}
                    </a>

                    <!-- <div id="new_product"  class="collapse" data-parent="#c5a">
                        <div class="list-group" style="padding-left: 20px !important;">
                            
                            <a href="/product-items" class="list-group-item ">
                                {{_("New Product")}}
                            </a>
                            <a href="/product-item" class="list-group-item ">
                                {{_("Products List")}}
                            </a>
                        </div>
                    </div> -->
                    <a href="/template_management?case=pdf" class="list-group-item ">
                        {{_("Documents")}}
                    </a>
                    <!-- <a href="/product-category" class="list-group-item ">
                        {{_("Create new Product Category")}}
                    </a>
                    <a href="/sizing-scheme" class="list-group-item ">
                        {{_("Create new sizing scheme")}}
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse8"
        aria-expanded="false" aria-controls="collapse8">
        <i class="custom-icon icon-settings"></i> {{_("PL & INVOICE")}}
    </a>
    <div id="collapse8" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="/packing-list" class="list-group-item">
                {{_("Packing List")}}
            </a>

            <!-- <div id="new_product"  class="collapse" data-parent="#c5a">
                <div class="list-group" style="padding-left: 20px !important;">
                    
                    <a href="/product-items" class="list-group-item ">
                        {{_("New Product")}}
                    </a>
                    <a href="/product-item" class="list-group-item ">
                        {{_("Products List")}}
                    </a>
                </div>
            </div> -->
            <a href="/invoice-list" class="list-group-item ">
                {{_("Invoice")}}
            </a>
            
            
            
        </div>
    </div>
    {# <a href="#" class="list-group-item " type="button" data-toggle="collapse" data-target="#collapse7"
        aria-expanded="false" aria-controls="collapse7">
        <i class="custom-icon icon-list"></i> {{_("Invoice Packing List")}}
    </a>
    <div id="collapse7" class="collapse" data-parent="#accordionMenu">
        <div class="list-group">
            <a href="#" class="list-group-item ">
                {{_("Order")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("List")}}
            </a>
            <a href="#" class="list-group-item ">
                {{_("Manage")}}
            </a>
        </div>
    </div>
     <a href="#" class="list-group-item ">
        <i class="custom-icon icon-finance"></i> {{_("Finance")}}
    </a> #}
</div>