<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{product.item_name}} - {{_("IN")}}</h2>
        <thead>
            {%if product.sizing%}
            <tr>

                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                {%for size,qty in sizingDic.items() %}
                <th scope="col">{{size}}</th>
                {%endfor%}
            </tr>
            {%else%}
            <tr>

                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                <th scope="col">{{_("Quantity")}}</th>

            </tr>
            {%endif%}
        </thead>
        <tbody>
            {%if product.sizing%}
            {% for historyName,historyData in stockHistoryDic.items() %}
            <tr>
                
                {%if stockHistoryDic[historyName]['in_out']=='in' %}
                <td> {{frappe.format(stockHistoryDic[historyName]['creation'], {'fieldtype': 'Date'})}}</td>
                {% set url=""%}
                {% if stockHistoryDic[historyName]['order_type']=="production"%}
                {% set url="/production-summary?order="+stockHistoryDic[historyName]['order']%}
                {% elif stockHistoryDic[historyName]['order_type']=="prototype" %}
                {% set url="/prototype-summary?order="+stockHistoryDic[historyName]['order']%}
                {% else %}
                {% set url=""%}
                {%endif%}
                

                <td><a href={{url}}>{{stockHistoryDic[historyName]['order']}}</a></td>
                {% for size,qty in stockHistoryDic[historyName]['sizeNqty'].items() %}
                <td> {{qty}}</td>
                {% endfor %}
                {%endif%}
            </tr>

            {% endfor %}
            {%else%}
            
            {%for rec in stockHistoryRecsNoSize %}
            {%if rec['in_out']=='in' %}
            <tr>
                <td> {{frappe.format(rec['creation'], {'fieldtype': 'Date'})}}</td>
                {% set url=""%}
                {% if rec['order_type']=="production"%}
                {% set url="/production-summary?order="+rec['linked_order']%}
                {% elif rec['order_type']=="prototype" %}
                {% set url="/prototype-summary?order="+rec['linked_order']%}
                {% else %}
                {% set url=""%}
                {%endif%}
                {{url}}

                <th><a href={{url}}>{{rec['linked_order']}}</a></th>
                <td> {{rec['quantity']}}</td>
            </tr>
            {%endif%}
            {%endfor%}
            {%endif%}
        
        </tbody>

    </table>



</div>

<br>

<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{product.item_name}} - {{_("OUT")}}</h2>
        <thead>
            {%if product.sizing%}
            <tr>

                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                {%for size,qty in sizingDic.items() %}
                <th scope="col">{{size}}</th>
                {%endfor%}
            </tr>
            {%else%}
            <tr>

                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("Order #")}}</th>
                <th scope="col">{{_("Quantity")}}</th>

            </tr>
            {%endif%}
        </thead>
        <tbody>
            {%if product.sizing%}
            {% for historyName,historyData in stockHistoryDic.items() %}
            <tr>
                

                {%if stockHistoryDic[historyName]['in_out']=='out' %}
                <td> {{frappe.format(stockHistoryDic[historyName]['creation'], {'fieldtype': 'Date'})}}</td>
                {% set url=""%}
                {% if stockHistoryDic[historyName]['order_type']=="production"%}
                {% set url="/production-summary?order="+stockHistoryDic[historyName]['order']%}
                {% elif stockHistoryDic[historyName]['order_type']=="prototype" %}
                {% set url="/prototype-summary?order="+stockHistoryDic[historyName]['order']%}
                {% else %}
                {% set url=""%}
                {%endif%}
                {{url}}

                <th><a href={{url}}>{{stockHistoryDic[historyName]['order']}}</a></th>
                <!-- <td> {{stockHistoryDic[historyName]['order']}}</td> -->
                {% for size,qty in stockHistoryDic[historyName]['sizeNqty'].items() %}
                <td> {{qty}}</td>
                {% endfor %}
                {%endif%}


                


            </tr>

            {% endfor %}

            {%else%}
            
            {%for rec in stockHistoryRecsNoSize %}
            {%if rec['in_out']=='out' %}
            <tr>
                <td> {{frappe.format(rec['creation'], {'fieldtype': 'Date'})}}</td>
                {% set url=""%}
                {% if rec['order_type']=="production"%}
                {% set url="/production-summary?order="+rec['order']%}
                {% elif rec['order_type']=="prototype" %}
                {% set url="/prototype-summary?order="+rec['order']%}
                {% else %}
                {% set url=""%}
                {%endif%}
                {{url}}

                <th><a href={{url}}>{{rec['order']}}</a></th>
                <!-- <td>{{rec['linked_order']}}</td> -->
                <td> {{rec['quantity']}}</td>
            </tr>
            {%endif%}
            {%endfor%}
            {%endif%}
        </tbody>

    </table>



</div>

<br>

<div class="table-wrapper">
    <table class="table table-striped">
        <h2>{{_("In Stock")}}</h2>
        <thead>
            {%if product.sizing%}
            <tr>
                {%for size,qty in sizingDic.items() %}
                <th scope="col">{{size}}</th>
                {%endfor%}
            </tr>
            {%else%}
            <tr>
                <th scope="col">{{_("Quantity")}}</th>

            </tr>
            {%endif%}
        </thead>
        <tbody>
            {%if product.sizing%}
            <tr>
            {% for stockPerSizeDetail in stock.product_stock_per_size %}
            
                <td> {{stockPerSizeDetail.quantity}}</td>
            {% endfor %}

            </tr>

            {%else%}
            <tr>
                <td> {{stock.quantity}}</td>
                
            </tr>
            {%endif%}
        </tbody>

    </table>

</div>
