<button type="button" class="btn btn-primary" onclick="window.location.href='/me'">{{_("Validate")}}</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/me'">{{_("Not Validate")}}</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/me'">{{_("Ship")}}</button>




<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link {% if status=='onprocess' %}active{% endif %}"
            href="/prototype-dashboard/onprocess">{{_("On Process")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if status=='shipped' %}active{% endif %}"
            href="/prototype-dashboard/validate">{{_("Validate")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if status=='cancelled' %}active{% endif %}"
            href="/prototype-dashboard/not-validate">{{_("Not Validate")}}</a>
    </li>
</ul>