<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{_("INTERNAL REF")}}</th>
                <th scope="col">{{_("PRODUCT NAME")}}</th>
                <th scope="col">{{_("PRODUCT CATEGORY")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in cancelled %}
            {% for s in frappe.get_list('Prototype Quantity Per Size',filters={'parent':o.name},fields=['size']) %}
            <tr>
                <th>{{o.internal_ref}}</th>
                <th>{{o.product}}</th>
                <th>{{o.product_category}}</th>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>