<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{_("Internal Ref")}}</th>
                <th scope="col">{{_("Product Name")}}</th>
                <th scope="col">{{_("Product Category")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in notvalidate %}
            {% for s in frappe.get_list('Prototype Quantity Per Size',filters={'parent':o.name},fields=['size']) %}
            <tr>
                <th><a href="/prototype-summary?order={{o.name}}">{{o.internal_ref}}</a></th>
                <th>{{frappe.db.get_value('Item',o.product,'item_name')}}</th>
                <th>{{o.product_category}}</th>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>