<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col">{{_("Internal Ref")}}</th>
                <th scope="col">{{_("Product Name")}}</th>
                <th scope="col">{{_("Product Category")}}</th>
                <th scope="col">{{_("SIZE")}}</th>
                <th scope="col">{{_("DATE")}}</th>
                <th scope="col">{{_("DATE EXPECTATIONS")}}</th>
                <th scope="col">{{_("Shipment Tracking Number")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in onprocess %}
            {% for s in frappe.get_list('Prototype Quantity Per Size',filters={'parent':o.name},fields=['size']) %}
            <tr>
                <th><input type="checkbox" class="selected" data-order="{{o.name}}"></th>
                <th><a href="/prototype-summary?order={{o.name}}">{{o.internal_ref}}</a></th>
                <th>{{frappe.db.get_value('Item',o.product,'item_name')}}</th>
                <th>{{support_dic_product_cats[o.product_category]}}</th>
                <th>{{s.size}}</th>
                <th>{{frappe.format(o.creation, {'fieldtype': 'Date'})}}</th>
                <th>{{frappe.format(o.ex_work_date, {'fieldtype': 'Date'})}}</th>
                <th>{{o.tracking_number}}</th>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>