{% import 'erpnext/templates/macros.html' as macros %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Packaging Order List','url':'/supply-dashboard?type=packaging'},{'label':'Packaging Order','url':'#'}]) }}
<h1>Packaging Order Summary</h1>

<div class="row mt-5">
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Date")}}
                </p>
                <p class="value">
                    {% if date %}{{date}}{% endif %}
                    {{frappe.format(packOrder.creation, {'fieldtype': 'Date'})}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Order Number")}}
                </p>
                <p class="value">
                    {{packOrder.name}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Internal ref")}}
                </p>
                <p class="value" id="order-internal">
                    {{packOrder.internal_ref}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 mt-4 pt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="mt-2">{{_("Order Info")}}</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mt-2">{{_("Price Details")}}</h2>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <ul class="order-summary">
                            <li>
                                <span>{{_("Item")}}</span>
                                <span id="order-item">
                                    {{packOrder.packaging_item}}
                                </span>

                            </li>
                            <li>
                                <span>{{_("Color")}}</span>
                                <span id="order-color">
                                    {{packItem.color}}
                                </span>

                            </li>
                            <li>
                                <span>{{_("Material")}}</span>
                                <span id="order-material">
                                    {{packItem.packaging_material}}
                                </span>

                            </li>
                            <li>
                                <span>{{_("Size")}}</span>
                                <span id="order-itemSize">
                                    {{packItem.packaging_size}}
                                </span>

                            </li>

                            <li>
                                <span>{{_("Other info")}}</span>
                                <span id="order-otherInfo">
                                    {{packItem.other_info}}
                                </span>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">

                        <ul class="order-summary">
                            <li>
                                <span>{{_("Price Per Unit")}}</span>
                                <span id="order-otherInfo">
                                    {{packOrder.price_per_unit}}
                                </span>
                            </li>
                            <li>
                                <span>{{_("Quantity")}}</span>
                                <span id="order-quantity">
                                    {{packOrder.quantity}}
                                </span>

                            </li>
                            <li>
                                <span>{{_("Total Price")}}</span>
                                <span id="order-total">
                                    {{packOrder.total_price}}
                                </span>
                            </li>
                        </ul>
                        <button class="btn btn-link display-file-selector float-right btn-sm">
                            {{_("Payment Proof")}} +

                        </button>
                        <input type="file" class="form-control d-none" value={{packOrder.payment_proof}}
                            name="paymentProof" id="paymentProof">
                    </div>


                    {% if packOrder.payment_proof %}
                    <div class="col-md-4">
                        <a href="{{packOrder.payment_proof}}" download class="order-summary-download">
                            <img src="/assets/erpnext/images/icons/pdf.svg" alt="" />
                            <span>{{packOrder.payment_proof}}</span>
                        </a>
                    </div>
                    {% endif %}




                    <div class="col-md-10">
                        <label for="" class="text-mute">{{_("Comments")}}</label>
                        <textarea class="form-control" id="proofComment"
                            rows="4">{% if packOrder.comment %}{{packOrder.comment}}{% endif %}</textarea>

                        <div class="form-group">
                            <button class="btn btn-primary" id="proofSubmit">{{_("Submit")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{# bottom part of summary page should go below #}
<div class="card" style="">
    <div class="card-body row">
        <div class="col-6">
            <div class="m-3">
                {{_("Trimming Vendor")}}
            </div>
            <div class="m-3">
                {{_("Expected Work Date")}}
                <span>
                    <div class="input-group date">
                        <input id="exWorkDate" class="form-control"
                            value={% if packOrder.ex_work_date %}{{packOrder.ex_work_date}}{% endif %} name="workDate"
                            placeholder="Desired date" type="date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </span>
            </div>

            <div class="m-3">
                {{_("Confirmation Doc")}}
                {% if packOrder.confirmation_doc != None %}
                <br />
                <a href="{{packOrder.confirmation_doc}}">{{packOrder.confirmation_doc}}</a>
                {% else %}
                {% endif %}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" value={{packOrder.confirmation_doc}}
                        name="confirmation_doc" id="confirmation_doc">

                    <label id="confirmation_doc-label" class="custom-file-label"
                        for="confirmation_doc">{% if packOrder.confirmation_doc %}{{packOrder.confirmation_doc}}{% endif %}</label>

                </div>
            </div>

            <div class="m-3">
                {{_("Proforma")}}
                {% if packOrder.profoma != None %}
                <br />
                <a href="{{packOrder.profoma}}">{{packOrder.profoma}}</a>
                {% else %}
                {% endif %}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" value={{packOrder.profoma}} name="profoma"
                        id="profoma">

                    <label id="profoma-label" class="custom-file-label"
                        for="profoma">{% if packOrder.profoma %}{{packOrder.profoma}}{% endif %}</label>

                </div>
            </div>

            <div class="m-3">
                {{_("Invoice")}}
                {% if packOrder.invoice != None %}
                <br />
                <a href="{{packOrder.invoice}}">{{packOrder.invoice}}</a>
                {% else %}
                {% endif %}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" value={{packOrder.invoice}} name="invoice"
                        id="invoice">

                    <label id="invoice-label" class="custom-file-label"
                        for="invoice">{% if packOrder.invoice %}{{packOrder.invoice}}{% endif %}</label>


                </div>

                <div class="m-3">
                    {{_("Shipment")}}
                </div>

                <div class="m-3">
                    {{_("Carrier")}}
                    <input id="carrier" type="text" value="{% if packOrder.carrier %}{{packOrder.carrier}}{% endif %}"
                        class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Tracking Number")}}
                    <input id="tracking_number" type="text"
                        value="{% if packOrder.tracking_number %}{{packOrder.tracking_number}}{% endif %}"
                        class="form-control mt-2">
                </div>

                <div class="m-3">
                    {{_("Date of Shipment")}}
                    <div class="input-group date">
                        <input id="shipmentDate" class="form-control" value={{packOrder.shipment_date}}
                            name="desireddate" placeholder="Desired date" type="date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="ml-5">
                    {% if isPackVendor %}
                    {% if packOrder.docstatus==0 %}
                    <button class="btn btn-primary" id="vendorSubmit">{{_("Submit")}}</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="m-3">
                {{_("Comments")}}
                <textarea class="form-control" id="comment"
                    rows="4">{% if packOrder.production_comment %}{{packOrder.production_comment}}{% endif %}</textarea>
            </div>
        </div>
    </div>

</div>