<h2>{{_("Production Order")}}</h2>
{# this page is used for both new client purchase and client purchase summary page #}

{% macro dropdown(items,class,id,typetwo) %}
<div class="form-group">
    <select class="form-control {{class}}" id="{{id}}">
        {% for i in items %}
        {% if typetwo %}
        <option value="{{i.name}}">{{i.item_name}}</option>
        {% elif i.name %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% elif i.fabric_ref %}
        <option value="{{i.fabric_ref}}">{{i.fabric_ref}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

<div id="container" class="container mt-3">
    <div class="card" style="">
        <div class="card-body row">
            <div class="col-6">
                <div class="m-3">
                    {{_("Product Category")}}
                    {{dropdown(categories,'','category')}}
                </div>
                <div class="m-3">
                    {{_("Internal ref")}}
                    <input id="internal-ref" type="text" class="form-control mt-2">
                </div>

                <div class="m-3">
                    {{_("Fabric ref")}}
                    {{dropdown(frappe.get_list('Fabric',fields=['fabric_ref']),'','fabric-ref')}}
                </div>
                <div class="m-3">
                    {{_("Fabric consumption")}}
                    <input id="fabric-consumption" type="text" class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Fabric Status")}}
                </div>
                <div class="m-3">
                    <label for="exampleFormControlSelect1">{{_("Garment Label")}}</label>
                    {{dropdown(garmentlabel,'','garmentlabel')}}
                </div>
                <div class="m-3">
                    <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
                    {{dropdown(destinations,'destination')}}
                </div>
                <div class="m-3 form-group">
                    {{_("Comments")}}
                    <textarea class="form-control" id="comment" rows="4"></textarea>
                </div>

            </div>
            <div class="col-6">
                <div class="m-3">
                    {{_("Production Factory Info")}}
                    {{dropdown(frappe.get_list('Production Factory'),'','factory')}}
                </div>
                <div class="m-3">
                    {{_("Trimming")}}
                    {{dropdown(frappe.get_list('Trimming Item'),'','timming')}}
                </div>
                <div class="m-3">
                    {{_("Trimming consumption")}}
                    <input id="trimming-consumption" type="text" class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Packaging")}}
                    {{dropdown(frappe.get_list('Packaging Item'),'','packaging')}}
                </div>
                <div class="m-3">
                    {{_("Packaging consumption")}}
                    <input id="packaging-consumption" type="text" class="form-control mt-2">
                </div>
            </div>
            <div class="col-12 m-3 product-table">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleFormControlSelect1">{{_("Product name")}}</label>
                        {{dropdown(products,'','product',true)}}
                    </div>
                </div>

                <div class="row mt-3 table-section">
                </div>

            </div>
            <div class="ml-5">
                <button class="btn btn-primary" id="submit">{{_("Submit")}}</button>
            </div>
        </div>
    </div>

</div>