{% import 'erpnext/templates/macros.html' as macros %}
{% if user_type=="System" %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Brand-Dashboard','url':'/brand-dashboard'},{'label':'Purchase History','url':'#'}]) }}
{% elif user_type=="Brand" %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Purchase History','url':'#'}]) }}
{% elif user_type=="Customer" %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Purchase History','url':'#'}]) }}
{% endif %}

<h2  onload="ss()">{{_("Purchase History")}}</h2>

{% set ns = namespace(universal_order_item_count=0) %}

{% for item in unique_items_orders %}
    <h3>
        <a class="font-weight-bold">
            {{unique_items_orders[item]["item_name"]}}
        </a>
    </h3>
    {% for group_no in unique_items_orders[item]["orders"] %}
        {% set ns.is_set_status=false %}
        <div class="table-wrapper table-responsive mt-2">
            <table class="table table-sm table-striped">
                {% set sizing = frappe.get_all('Item', filters={'item_code': item}, fields=['sizing']) %}
                {% if sizing|length!=0 %}
                    {% set sizing = sizing[0].sizing %}
                    {% set sizing_list = frappe.get_all('Sizing', filters={'parent': sizing}, fields=['size'],order_by='idx') %}
                    <thead>
                        <th colspan='1' scope='colgroup' >Order Date</th>
                        <th colspan='1' scope='colgroup' >Order Detail</th>
                        <th colspan='1' scope='colgroup' ></th>
                        <th colspan='{{sizing_list|length}}' scope='colgroup' style="text-align:center" >Sizing</th>
                        <th colspan='1' scope='colgroup'>Status</th>
                    </thead>
                    <thead>
                        <th  scope="col"></th>
                        <th  scope="col"></th>
                        <th  scope="col"></th>
                        {% for temp_size  in sizing_list%}
                        <th  scope="col">{{temp_size.size}}</th>
                        {% endfor %}
                        <th  scope="col"></th>
                    </thead>
                    <tbody>
                        
                        {% for order in unique_items_orders[item]["orders"][group_no]["client_orders"] %}
                            {% set ns.is_modified=false %}
                            {% set temp_order_details = frappe.get_all('Sales Order', filters={'name': order.parent}, fields=['name', 'customer','creation','modified']) %}
                            {% set quantities = frappe.get_all('Quantity Per Size',filters={'order_id':order.name,'product_id':item},fields=['size','quantity','first_quantity']) %}
                            {% if  temp_order_details|length != 0 %}
                                {% set temp_order_details = temp_order_details[0] %}
                                {% set ns.universal_order_item_count = ns.universal_order_item_count+1 %}
                                <tr>
                                    <td>{{order.creation.strftime('%Y-%m-%d')}}</td>
                                    <td>
                                        {{temp_order_details.name}}<br>
                                        <a class="client-modal-link"  data-country ="{{order['customer_details'].country}}" data-city="{{order['customer_details'].city}}" data-phone="{{order['customer_details'].phone}}" data-email="{{order['customer_details'].email_address}}" data-cusname="{{order['customer_details'].customer_name}}">{{order['customer_details'].customer_name}}</a>
                                    </td>
                                    {% if order.is_modified|string() == "1" %}
                                        {% set ns.is_modified = true %}
                                        <td>Modified</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    {% for size_col in sizing_list %}
                                        {% for item_qnty in quantities if item_qnty.size==size_col.size%}
                                            <td>
                                                {% if ns.is_modified %}
                                                    <sub class = "modified-qty">{{item_qnty.first_quantity}}</sub><br>
                                                {% endif %}
                                                <div class = '{{ns.universal_order_item_count}}-qnty-content-class qnty-content-class' data-group_no="{{group_no}}" data-item_code = "{{item}}" data-size="{{item_qnty.size}}" data-current_qty = '{{item_qnty.quantity}}'>{{item_qnty.quantity}}</div>
                                            </td>
                                        {% else %}
                                            <td>
                                                {% if ns.is_modified %}
                                                <sub class = "modified-qty">0</sub><br>
                                                {% endif %}
                                                <div data-current_qty ='0'>0</div>
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                    {% if ns.is_set_status==false  %}
                                        {% if order.docstatus==2 %}
                                            {% set ns.is_set_status=true %}
                                            <td class="order-status"><sub class="cancel">Canceled</sub> <br> <sub>{{order.modified.strftime('%Y-%m-%d')}}</sub> </td>
                                        {% elif order.docstatus==1 and unique_items_orders[item]["orders"][group_no]["prod_order_status"]==0 %}
                                            {% set ns.is_set_status=true %}
                                            <td class="order-status"><sub class="validated">Validated</sub> <br> <sub>{{order.modified.strftime('%Y-%m-%d')}}</sub><br>
                                            <sub class="pending">Pending</sub> </td>
                                        {% elif order.docstatus==1 and unique_items_orders[item]["orders"][group_no]["prod_order_status"]==1%}
                                            {% set ns.is_set_status=true %}
                                            <td class="order-status"><sub class="validated">Validated</sub> <br> <sub>{{order.modified.strftime('%Y-%m-%d')}}</sub><br>
                                            <sub class="production">Production</sub> <br> <sub>{{order.modified.strftime('%Y-%m-%d')}}</sub> </td>     
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr class="sumation-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            {% for size_col in sizing_list %}
                            <td>
                                <div data-size ='{{size_col.size}}' data-item = '{{item}}' data-group_no="{{group_no}}" class ='sum-quantity'></div>
                            </td>
                            {% endfor %}
                            <td>
                                <div data-item = '{{item}}' data-group_no="{{group_no}}" class ='total-sum'></div>
                            </td>
                        </tr>
                    </tbody>
                {% endif %}    
            </table>
        </div>
    {% endfor %}
{% endfor %}
<div class="modal fade" id="client-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Country :<p id="modal-country"></p> </h5>
                <h5>City : <p id="modal-city"></p></h5>
                <h5>Email :<p id="modal-email"></p></h5>
                <h5>Phone : <p id="modal-phone"></p></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>