<div>
    <div style="text-align: center;"><img style="max-width: 150px;" src="{{brand_logo}}" alt="Logo" /></div>
    <div style="text-align: center;">{{address}}<br />
    <h3>{{order_number}}</h3>
    </div>
    </div>
    <div style="text-align: right; padding-right: 2%;">
    <div>
    <ul style="list-style-type: none;">
    <ul style="list-style-type: none;">
    <li><span id="date"> {{creation.date()}} </span></li>
    </ul>
    </ul>
    <br />
    <ul style="list-style-type: none;">
    <li><strong>Supplier</strong>
    <p id="factory">{{supplier_name}}</p>
    </li>
    <li>{{supplier_address}}</li>
    <li>&nbsp;</li>
    <li><strong>Deliver to</strong>
    <p id="destination">{{destination}}</p>
    </li>
    </ul>
    <p>&nbsp;</p>
    </div>
    </div>
    <div>
    <div>
    <p style="text-align: center;"><span style="font-size: 14pt;">{{item_ref}}</span></p>
    <p style="text-align: center;"><img style="max-width: 150px; max-height: 100px;" src="{{item_pic}}" /></p>
    <table style="border-collapse: collapse; width: 100%; height: 34px; background-color: #f5f6ff;" border="1">
    <tbody>
    <tr style="height: 34px;">
    <td style="width: 11.4178%; height: 20px;">Fab Picture</td>
    <td style="width: 11.4166%; height: 20px;">Fabric Reference</td>
    <td style="width: 11.4166%; {%if color== none%}display: none; {%endif%} height: 20px;">Color</td>
    <td style="width: 11.4178%; {%if size== none%}display: none; {%endif%}height: 20px;">Size</td>
    <td style="width: 11.4166%; height: 20px;">Quantity</td>
    </tr>
    </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%; height: 22px;" border="1">
    <tbody>
    <tr style="height: 22px;">
    <td style="width: 11.4178%; height: 18px;"><img style="max-width: 150px; max-height: 50px;" src="{{item_pic}}" /></td>
    <td style="width: 11.4166%; height: 18px;">{{item_ref}}</td>
    <td style="width: 11.4178%; {%if color== none%}display: none; {%endif%} height: 18px;">{{color}}</td>
    <td style="width: 11.4166%; {%if size== none%}display: none; {%endif%} height: 18px;">{{size}}</td>
    <td style="width: 11.4178%; height: 18px;">{{quantity}}</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <br />
    <p>&nbsp;</p>
    </div>
    </div>