<!-- subject -->
<p>{% if country!='France'%} Your order {{internel_ref}} has been modified{% endif %} {%if country=='France'%} Votre commande {{internal_ref}} a &eacute;t&eacute; modifi&eacute;e{%endif %}</p>
<!-- body -->

<div style="text-align: left;">Dear {{Brand}}</div>
<p dir="ltr">Your order {{internel_ref}}, placed on {{order_date}} to {{SNF}} has been canceled.</p>
<p dir="ltr">Canceled&nbsp; order has been added, click <a href="{{order_type}}-summary?order={{order_name}}&amp;ampsk=1" aria-invalid="true">here</a> to manage it.</p>
<p>Do you know ? in subscribing to ModeHero you can manage easily all your orders, and benefit from many more advantages, know more here (underline is a link to the subcription page)</p>
<p>This is an automatic message, do not reply to this email, your answer won&rsquo;t be received by your client.</p>
<p>ModeHero Team</p>
<p>&nbsp;</p>
<div style="text-align: left;">&nbsp;</div>
<p style="display: none;">{% endif %}</p>
<div style="text-align: left;">Cher {{Brand}},</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">
<p dir="ltr">Votre commande {{internel_ref}}, pass&eacute;e le {{order_date}} &agrave; {{SNF}} a &eacute;t&eacute; :</p>
<p dir="ltr">&lsquo;annul&eacute;e&rsquo;&nbsp; re&ccedil;u&rsquo;, clickez sur ce <a href="{{order_type}}-summary?order={{order_name}}&amp;ampsk=1" aria-invalid="true">lien</a> pour la g&eacute;rer.</p>
&nbsp;Le saviez-vous? En vous abonnant &agrave; ModeHero, vous pouvez g&eacute;rer toutes vos commandes facilement et b&eacute;n&eacute;ficier de bien d&rsquo;autres avantages, pour en savoir plus c&rsquo;est ici.</div>
<p style="display: none;">{%if country=='France'%}</p>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">
<p dir="ltr">Cette notification a &eacute;t&eacute; envoy&eacute;e par une messagerie automatique, votre r&eacute;ponse ne sera pas trait&eacute;e.</p>
<p dir="ltr">L&rsquo;&eacute;quipe ModeHero</p>
</div>
<p>&nbsp;</p>