<div class="modal fade" id="fabric_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{_("Create a new")}} <span id='form_group_name'></span>
                    {{_("fabric")}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create_fabric">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">{{_("Fabric vendor")}}</label>
                                <select class="form-control" required name="vendor">
                                    {% for vendor in frappe.get_all('Supplier',filters={'supplier_group':'Fabric'}) %}
                                    <option>{{vendor.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{_("Fabric ref")}}</label>
                                <input class="form-control" required name="ref">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Color")}}
                                    <a class="ml-auto text-yellow" href="/color?new=1">{{_("Add new")}}</a>
                                </label>
                                <select class="form-control" required name="color">
                                    {% for color in frappe.get_all('Color',filters={}) %}
                                    <option>{{color.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Width")}}
                                    <a href="/fabric-width?new=1" class="text-yellow ml-auto">{{_("Add new")}}</a>
                                </label>
                                <select class="form-control" required name="width">
                                    {% for color in frappe.get_all('Width',filters={}) %}
                                    <option>{{color.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Composition")}}
                                    <a href="/composition?new=1" class="text-yellow ml-auto">{{_("Add new")}}</a>
                                </label>
                                <select class="form-control" required name="composition">
                                    {% for c in frappe.get_all('Composition',filters={},fields=['name','composition_name']) %}
                                    <option value={{c.name}}>{{c.composition_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-yellow">{{_("Add")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('#create_fabric').submit(function (e) {
        e.preventDefault();
        var $inputs = $('#create_fabric :input');
        var values = {};
        $inputs.each(function () {
            values[this.name] = $(this).val();
        });

        create_fabric(values)
    });

    function create_fabric(data) {
        frappe.call({
            method: 'erpnext.modehero.fabric.create_fabric',
            args: {
                data: {
                    vendor: data.vendor,
                    ref: data.ref,
                    color: data.color,
                    width: data.width,
                    composition: data.composition
                }
            },
            callback: function (r) {
                if (!r.exc) {
                    console.log(r)
                    let item = r.message.item
                    if (item && item.name) {
                        frappe.msgprint({
                            title: __('Notification'),
                            indicator: 'green',
                            message: __('Fabric ' + item.name + ' created successfully')
                        });
                        $('#fabric_modal').modal('toggle');
                        $('#ref_list').append(`<option>${item.name}</option>`)
                        //window.location.reload();
                    }
                }
            }
        })
    }

</script>