<div class="modal fade" id="trimming_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{_("Create a new")}} <span id='form_group_name'></span>
                    {{_("trimming item")}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% set brand_suppliers = frappe.get_all('Brand Suppliers',{'brand':brand},['name','parent'] ) %}
            <div class="modal-body">
                <form id="create_trimming">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">{{_("Trimming vendor")}}</label>
                                <select class="form-control" required name="vendor">
                                    {% for trim_sup in brand_suppliers %}
                                        {% set supplier = frappe.get_all("Supplier",{"name":trim_sup["parent"],"supplier_group":"Trimming"},["is_official","supplier_group"]) %}
                                        {% if supplier|length>0 %}
                                            <option value="{{trim_sup.parent}}">{{trim_sup.parent}}
                                                {% if supplier[0]["is_official"]==1 %}
                                                    &#xf05d;
                                                {% endif %}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">{{_("Item category")}}</label>
                                <select class="form-control" required name="item_category">
                                    {% for category in frappe.get_all('Trimming Category',{"brand":brand},["name","category_name"]) %}
                                    <option value="{{category.name}}">{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Color")}}
                                    <a class="text-green ml-auto" href="/color?new=1">{{_("Add new")}}</a>
                                </label>
                                <select class="form-control" required name="color">
                                    {% for color in frappe.get_list('Color',{"brand":brand},['name','color_name']) %}
                                    <option value="{{color.name}}">{{color.color_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Material")}}
                                </label>
                                <input class="form-control" required name="material">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex">
                                    {{_("Size")}}
                                </label>
                                <input class="form-control" required name="size">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{_("Other info")}}</label>
                                <input class="form-control" required name="other_info">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{_("Vendor ref")}}</label>
                                <input class="form-control" required name="vendor_ref">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{_("Internal ref")}}</label>
                                <input class="form-control" required name="internal_ref">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-green">{{_("Create")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('#create_trimming').submit(function (e) {
        e.preventDefault();
        var $inputs = $('#create_trimming :input');
        var values = {};
        $inputs.each(function () {
            values[this.name] = $(this).val();
        });

        create_trimming(values)
    });

    function create_trimming(data) {
        frappe.call({
            method: 'erpnext.modehero.trimming.create_trimming',
            args: {
                data: {
                    vendor: data.vendor,
                    item_category: data.item_category,
                    color: data.color,
                    material: data.material,
                    size: data.size,
                    other_info: data.other_info,
                    internal_ref: data.internal_ref,
                    vendor_ref: data.vendor_ref,
                }
            },
            callback: function (r) {
                if (!r.exc) {
                    console.log(r)
                    let item = r.message.item
                    if (item && item.name) {
                        frappe.msgprint({
                            title: __('Notification'),
                            indicator: 'green',
                            message: __('Trimming Item ' + item.name + ' created successfully')
                        });
                        $('#trimming_modal').modal('toggle');
                        $('#trimming_list').append(`<option>${item.name}</option>`)
                        //window.location.reload();
                    }
                }
            }
        })
    }

</script>