<div class="modal fade" id="trimming_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{_("Create a new")}} <span id='form_group_name'></span>
                    {{_("trimming item")}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="create_trimming">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">{{_("Trimming vendor")}}</label>
                                    <select class="form-control" required name="vendor">
                                        {% for vendor in frappe.get_all('Supplier',filters={'supplier_group':'Trimming'}) %}
                                        <option>{{vendor.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">{{_("Item category")}}</label>
                                    <select class="form-control" required name="item_category">
                                        {% for category in frappe.get_all('Trimming Category',filters={}) %}
                                        <option>{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">{{_("Color")}}</label>
                                    <a class="" href="/color?new=1">{{_("Add new")}}</a>
                                    <select class="form-control" required name="color">
                                        {% for color in frappe.get_all('Color',filters={}) %}
                                        <option>{{color.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">{{_("Material")}}</label>
                                    <a class="" href="/trimming-material?new=1">{{_("Add new")}}</a>
                                    <select class="form-control" required name="material">
                                        {% for material in frappe.get_all('Trimming Material',filters={}) %}
                                        <option>{{material.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">{{_("Size")}}</label>
                                    <a class="" href="/trimming-size?new=1">{{_("Add new")}}</a>
                                    <select class="form-control" required name="size">
                                        {% for item in frappe.get_all('Trimming Size',filters={}) %}
                                        <option>{{item.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{_("Other info")}}</label>
                                    <input class="form-control" required name="other_info">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{_("Vendor ref")}}</label>
                                    <input class="form-control" required name="vendor_ref">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{_("Internal ref")}}</label>
                                    <input class="form-control" required name="internal_ref">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary">{{_("Add")}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#create_trimming').submit(function (e) {
        e.preventDefault();
        var $inputs = $('#create_trimming :input');
        var values = {};
        $inputs.each(function () {
            values[this.name] = $(this).val();
        });

        create_trimming(values)
    });

    function create_trimming(data) {
        frappe.call({
            method: 'erpnext.modehero.trimming.create_trimming',
            args: {
                data: {
                    vendor: data.vendor,
                    item_category: data.item_category,
                    color: data.color,
                    material: data.material,
                    size: data.size,
                    other_info: data.other_info,
                    internal_ref: data.internal_ref,
                    vendor_ref: data.vendor_ref,
                }
            },
            callback: function (r) {
                if (!r.exc) {
                    console.log(r)
                    let item = r.message.item
                    if (item && item.name) {
                        frappe.msgprint({
                            title: __('Notification'),
                            indicator: 'green',
                            message: __('Trimming Item ' + item.name + ' created successfully')
                        });
                        $('#trimming_modal').modal('toggle');
                        $('#trimming_list').append(`<option>${item.name}</option>`)
                        //window.location.reload();
                    }
                }
            }
        })
    }

</script>