{% import 'erpnext/templates/macros.html' as macros %}

{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Production','url':'/'},{'label':'Uniform','url':'#'}]) }}


<h2>{{_("Uniform Order Dispatch")}}</h2>

<div id="container" class="container">
    {% for clientKey,clientValue in orderSets.items()%}
    <div class="card" style="width: 100%;">
        <div class="card-body">

            <div style="text-align: center;flex: 0 0 12.667%;">
                <span>{{_("client")}}</span><span style="padding-left:6%">{{_("Point of Sale")}}</span>
                <hr style="width: 40%;">
            </div>
            {%for recieverKey,recieverValue in orderSets[clientKey].items()%}
            {%for uniforNameKey,uniformNameValue in orderSets[clientKey][recieverKey].items()%}
            <div class="row segment" >
                <div class="col-1" style="padding-top: 2.6%;">
                    <label>{{_("Name")}}</label>
                    <br>
                    <input type="checkbox" id="fullCheck" style="display: none;">
                    <!-- <input class="form-control clientname-select" value="{{recieverKey}}" id="client-name-select"> -->
                    <label style="margin-top: 4%;" id="recieverName">{{recieverKey}}</label>
                </div>
                {%for order in orderSets[clientKey][recieverKey][uniforNameKey]%}
                <div class="col-3 pieces" style="text-align: center;flex: 0 0 14.7%;padding-left:2%;padding-right:0%">
                    {%set product=frappe.get_doc('Item',order[3])%}
                    <label style="margin-top: 4%;" id="product">{{product.item_name}}</label>

                    <div class="row">
                        {%if order[9]==1%}
                        <input type="checkbox" class="piecesCheck" id="ck">
                        {%endif%}
                        <div class="col-3">
                            <label>{{_("Order#")}}</label>

                            <label style="margin-top: 4%;" id="product">{{order[1]}}</label>


                        </div>
                        <div class="col-3" style="padding-left: 14%;">
                            <label>{{_("Qty")}}</label>
                            <label style="margin-top: 4%;" id="product">{{order[2]}}</label>

                        </div>
                        <div class="col-3">
                            <label>{{_("Size")}}</label>
                            <label style="margin-top: 4%;" id="product">{{order[8]}}</label>

                        </div>
                    </div>
                    <div style="display: none;" id="commentdiv">
                        <label>{{_("Comment")}}</label>
                        <input type="text" class="form-control clientname-select" id="comment">
                    </div>

                </div>
                {%endfor%}
                <hr>

            </div>
            {%endfor%}
            {%endfor%}

        </div>
        <div class="row" style="align-items:center;">
            <div style="margin-left: 57%;margin-right: 0px;margin-bottom: 10px;">
                <button type="button" class="btn btn-primary ml-auto" style="padding-left: 23px;">
                    {{_("Packing List")}}
                </button>
            </div>
            <div style="margin-left: 2%;margin-right: 0px;margin-bottom: 10px;">
                <button type="button" class="btn btn-primary ml-auto" style="padding-left: 23px;">
                    {{_("Invoice")}}
                </button>
            </div>
            <div style="margin-right: 0px;margin-left: auto;margin-bottom: 10px;">
                <button type="button" id="recieved" class="btn btn-primary ml-auto" style="margin-right: 24px;">
                    {{_("PL + Inv")}}
                </button>
            </div>
            
        </div>
       
    </div>
    <br>
    {%endfor%}
</div>