{% import 'erpnext/templates/macros.html' as macros %}

{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Production','url':'/'},{'label':'Uniform','url':'#'}]) }}


<h2>{{_("Uniform Order Dispatch")}}</h2>

<div id="container" class="container">
    {% for primaryKey,primaryValue in orderSets.items()%}
    <div class="card" style="width: 100%;">
        <div class="card-body">

            <div style="text-align: center;flex: 0 0 12.667%;">
                <span id="client">{{posSets[primaryKey]['client']}}</span>
                {% if posSets[primaryKey]['pos'] %}
                <span style="padding-left:6%" id="pos"
                    data-pos="{{posSets[primaryKey]['posName']}}">{{posSets[primaryKey]['pos']}}</span>
                {%endif%}
                <hr style="width: 40%;">
            </div>
            {%for recieverKey,recieverValue in orderSets[primaryKey].items()%}
            {%for uniforNameKey,uniformNameValue in orderSets[primaryKey][recieverKey].items()%}
            <div class="row segment">
                <div class="col-1" style="padding-top: 2.6%;">
                    <label>{{_("Name")}}</label>
                    <br>
                    <!-- <input class="form-control clientname-select" value="{{recieverKey}}" id="client-name-select"> -->
                    <label style="margin-top: 4%;" id="recieverName">{{recieverKey}}</label>
                </div>
                {%for order in orderSets[primaryKey][recieverKey][uniforNameKey]%}
                <div class="col-3 pieces" style="text-align: center;flex: 0 0 14.7%;padding-left:2%;padding-right:1%"
                    data-piece={{order[10]}}>
                    {%set product=frappe.get_doc('Item',order[3])%}
                    <label style="margin-top: 4%;" class="product"
                        data-item="{{order[3]}}">{{product.item_name}}</label>

                    <div class="row">
                        {%if order[9]==1%}
                        {% if not order[13]%}
                        <input type="checkbox" name="piecesCheck" class="piecesCheck" id="ck">
                        {%endif%}
                        {%endif%}
                        <div class="col-3" style="max-width:42%">
                            <label>{{_("Order#")}}</label>

                            <span><label style="margin-top: 4%;max-width:100%" id="order_no">{{order[1]}}</label>
                            </span><span>
                                {% if order[11]%}
                                <label style="margin-top: 4%;color:green;cursor:pointer;" class="pl"
                                    data-packList="{{order[11]}}">P</label>
                                {%endif%}</span>
                            <span>
                                {% if order[13]%}
                                <label style="margin-top: 4%;color:green;cursor:pointer;" class="inv"
                                    data-invoice="{{order[13]}}">I</label>
                                {%endif%}</span>


                        </div>
                        <div class="col-3" style="padding-left: 14%;">
                            <label>{{_("Qty")}}</label>
                            <label style="margin-top: 4%;" id="qty">{{order[2]}}</label>

                        </div>
                        <div class="col-3">
                            <label>{{_("Size")}}</label>
                            <label style="margin-top: 4%;" id="size">{{order[8]}}</label>

                        </div>
                    </div>
                    <div style="display: none;" id="commentdiv">
                        <label>{{_("Comment")}}</label>
                        <input type="text" class="form-control clientname-select" id="comment">
                    </div>

                </div>
                {%endfor%}
                <hr style="width: 100%;">


            </div>
            {%endfor%}
            {%endfor%}

        </div>
        <div class="row" style="align-items:center;">
            <div style="margin-left: 57%;margin-right: 0px;margin-bottom: 10px;">
                <button type="button" id="plGen" class="btn btn-primary ml-auto plGen" style="padding-left: 23px;">
                    {{_("Packing List")}}
                </button>
            </div>
            <div style="margin-left: 2%;margin-right: 0px;margin-bottom: 10px;">
                <button type="button" id="invGen" class="btn btn-primary ml-auto invGen" data-toggle="modal" data-target="#shipmentcost" style="padding-left: 23px;">
                    {{_("Invoice")}}
                </button>
                <!-- <a href="#" data-toggle="modal" data-target="#factory_modal"
                                    class="add-supplier text-teal ml-auto">Add
                                    new +</a> -->
            </div>
            <div style="margin-right: 0px;margin-left: auto;margin-bottom: 10px;">
                <button type="button" id="plNInvGen" class="btn btn-primary ml-auto plNInvGen" data-toggle="modal" data-target="#shipmentcost2" style="margin-right: 24px;">
                    {{_("PL + Inv")}}
                </button>
            </div>

        </div>

    </div>
    <br>
    {%endfor%}
</div>

<div class="modal hide fade" id="shipmentcost">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{_("Transport Cost")}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label>{{_("Transport Cost")}}</label>
                <input class="form-control" id="shipment_cost" name="ref">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary ml-auto" id="onlyInvoice" data-dismiss="modal">{{_("Invoice")}}</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal hide fade" id="shipmentcost2">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{_("Transport Cost")}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label>{{_("Transport Cost")}}</label>
                <input class="form-control" id="shipment_cost2" name="ref">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary ml-auto" id="bothPlNInv" data-dismiss="modal"> {{_("PL + Inv")}}</button>
        </div>
        
      </div>
    </div>
  </div>