{% if isBrand%}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Production','url':'/'},{'label':'Production Order List','url':'/production-dashboard'}]) }}
<h2>{{_("Production Orders")}}</h2>
<div class="col-12">
    <ul class="page-links">
        <li><a href="/production-order" class="">{{_("Order")}}</a></li>
        <li><a href="/" class="active">{{_("List")}}</a></li>
        <!-- <li><a href="#">Manage</a></li> -->
    </ul>
</div>
{% endif %}
{% if isManufacture %}
<div class="mb-3">
    <button id="finished" data-btntype="pre-finish" type="button" class="btn btn-primary">
        {{_("Mark Finished")}}
    </button>
</div>
{% endif %}
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    {% if isManufacture %}
    <li class="nav-item">
        <a class="nav-link active" id="pre-pro-on-pro" data-toggle="tab" href="#ppop" role="tab" aria-controls="home"
            aria-selected="false">{{_("Pre-Production On Process")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pre-pro-fin" data-toggle="tab" href="#ppf" role="tab" aria-controls="profile"
            aria-selected="true">{{_("Pre-Production Finished")}}</a>
    </li>
    {%endif%}
    <li class="nav-item">
        <a class="nav-link" id="pro-on-pro" data-toggle="tab" href="#pop" role="tab" aria-controls="contact"
            aria-selected="false">{{_("Production On Process")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pro-fin" data-toggle="tab" href="#pf" role="tab" aria-controls="contact"
            aria-selected="true">{{_("Production Finished")}}</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    {% if isManufacture %}
    <div class="tab-pane show active" id="ppop" role="tabpanel" aria-labelledby="ppop-tab">
        {% include 'erpnext/www/production-dashboard/ppop.html' %}
    </div>
    <div class="tab-pane" id="ppf" role="ppf" aria-labelledby="profile-tab">
        {% include 'erpnext/www/production-dashboard/ppf.html' %}</div>
    <div class="tab-pane" id="pop" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/production-dashboard/pop.html' %}
    </div>
    {%else%}
    <div class="tab-pane show active" id="pop" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/production-dashboard/pop.html' %}
    </div>
    {%endif%}
    
        
    <div class="tab-pane" id="pf" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/production-dashboard/pf.html' %}
    </div>
</div>