<div class="mb-4">
    <h1 style="display: inline;">Hello, {{username}}</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2 class="mt-0">{{_("Reminders")}}</h2>
    </div>

    <div class="col-sm-12">
        <ul class="data-box-ul">
            <li>
                <div class="data-box yellow" data-toggle="modal" data-target="#fabric_reminder" id="fabricRemButton">
                    <img src="/assets/erpnext/images/mesh.png" alt="">
                    <h3>{{_("Fabric")}}</h3>
                    <span class="notification">

                        <div id="fabCount">{{fabCount[0][0]}}</div>

                    </span>
                </div>
            </li>
            <li>
                <div class="data-box green" data-toggle="modal" data-target="#trimming_reminder" id="trimmingRemButton">
                    <img src="/assets/erpnext/images/settings.png" alt="">
                    <h3>{{_("Trimming")}}</h3>
                    <span class="notification">
                        <div id="trimCount">{{trimCount[0][0]}}</div>
                    </span>
                </div>
            </li>
            <li>
                <div class="data-box orange" data-toggle="modal" data-target="#pack_reminder" id="packRemButton">
                    <img src="/assets/erpnext/images/shipment.png" alt="">
                    <h3>{{_("Packaging")}}</h3>
                    <span class="notification">
                        <div id="packCount">{{packCount[0][0]}}</div>
                    </span>
                </div>
            </li>
            <!-- <li>
                    <div class="data-box green">
                        <img src="/assets/erpnext/images/stock.png" alt="">
                        <h3>Fabric</h3>
                        <span class="notification">
                            0
                        </span>
                    </div>
                </li>
                <li>
                    <div class="data-box purple">
                        <img src="/assets/erpnext/images/button.png" alt="">
                        <h3>Fabric</h3>
                        <span class="notification">
                        </span>
                    </div>
                </li> -->
        </ul>
    </div>


</div>


<div class="row">

    <div class="col-sm-12 d-flex align-items-center mt-4">
        <h2 class="my-4">
            {{_("Shipping status")}}

        </h2>
        <button id="delivered" type="button" class="btn btn-primary ml-auto" disabled>
            {{_("Delivered")}}
        </button>
    </div>

    <div class="col-sm-12">

        <div class="table-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">{{_("Product")}}</th>
                        <th scope="col">{{_("Sender")}}</th>
                        <th scope="col">{{_("Recipient")}}</th>
                        <th scope="col">{{_("Carrier")}}</th>
                        <th scope="col">{{_("Tracking number")}}</th>
                        <th scope="col">{{_("Sent on</")}}th>
                        <th scope="col">{{_("Expected on")}}</th>

                    </tr>
                </thead>
                <tbody>

                    {% for o in shipmentOrdersList %}
                    <tr>
                        <td><label class="custom-checkbox">
                                <input type="checkbox" class="selectedShipOrder" name="orderCheck"
                                    onchange="validateButton()" data-name="{{o.name}}">
                                <span class="icon"></span>
                            </label></td>
                        <td><a href="/shipment-order?name={{o.name}}{%if o.stock%}&f=1{%endif%}">
                                {% if o.fabric_order_id %}{{frappe.get_doc('Fabric Order',o.fabric_order_id).fabric_ref}}
                                {%elif o.trimming_order_id%}{{frappe.get_doc('Trimming Order',o.trimming_order_id).trimming_item}}
                                {%elif o.packaging_order_id%}{{frappe.get_doc('Packaging Order',o.packaging_order_id).packaging_item}}
                                {%elif o.internal_ref_prod_order%}{{frappe.get_doc('Production Order',o.internal_ref_prod_order).product_name}}
                                {%elif o.stock%}{% set productName=frappe.get_doc('Stock',o.stock).product%}
                                {{frappe.get_doc('Item',productName).item_name}}
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            {% if o.fabric_order_id %}{{frappe.get_doc('Fabric Order',o.fabric_order_id).fabric_vendor}}
                            {%elif o.trimming_order_id%}{{frappe.get_doc('Trimming Order',o.trimming_order_id).trimming_vendor}}
                            {%elif o.packaging_order_id%}{{frappe.get_doc('Packaging Order',o.packaging_order_id).packaging_vendor}}
                            {%elif o.internal_ref_prod_order%}{{frappe.get_doc('Production Order',o.internal_ref_prod_order).production_factory}}
                            {%elif o.stock%}{{brand_name}}
                            {% endif %}


                        </td>
                        <td>
                            {% if o.fabric_order_id %}{{frappe.get_doc('Fabric Order',o.fabric_order_id).destination}}
                            {%elif o.trimming_order_id%}{{frappe.get_doc('Trimming Order',o.trimming_order_id).destination}}
                            {%elif o.packaging_order_id%}{{frappe.get_doc('Packaging Order',o.packaging_order_id).destination}}
                            {%elif o.sales_order_item%}{{frappe.get_doc('Sales Order Item',o.sales_order_item).item_destination}}
                            {%elif o.internal_ref_prod_order%}{{frappe.get_doc('Production Order',o.internal_ref_prod_order).final_destination}}
                            {% endif %}
                        </td>

                        <td>{{o.carrier_company}}</td>
                        <td>
                            {%if o.html_tracking_link != None%}
                            <a href="{{o.html_tracking_link}}">{{o.tracking_number}}</a></td>
                        {%else%}
                        {{o.tracking_number}}</td>
                        {%endif%}



                        <td>{{o.shipping_date}}</td>
                        <td>{{o.expected_delivery_date}}</td>





                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>


        <div class="modal fade" id="fabric_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered reminder-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Fabric Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper rem-table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">{{("DELETE")}}</th>
                                        <th scope="col">{{("REMINDER")}}</th>
                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("INTERNAL REF")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in fabricReminders %}
                                    <tr>
                                        <th><input type="checkbox" class="reminder_selected_fabric"
                                            data-reminder="{{r[10]}}" /></th>
                                        <th>{{r[7]}}</th>
                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%endif%}
                                        <th><a href="/fabric-summary?order={{r[0]}}">{{r[0]}}</a></th>
                                        <th>{{r[9]}}</th>
                                        <th>{{r[1]}}</th>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3 delete_reminder_button">
                            <button data-remtype="fabric" type="button" class="btn btn-primary delete_reminder">
                                {{_("Delete")}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="trimming_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered reminder-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Trimming Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper rem-table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">{{("DELETE")}}</th>
                                        <th scope="col">{{("REMINDER")}}</th>
                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("INTERNAL REF")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in trimmingReminders %}
                                    <tr>
                                        <th><input type="checkbox" class="reminder_selected_trimming"
                                            data-reminder="{{r[10]}}" /></th>
                                        <th>{{r[7]}}</th>
                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}</th>
                                        {%endif%}
                                        <th><a href="/trimming-summary?order={{r[0]}}">{{r[0]}}</a> </th>
                                        <th>{{r[9]}}</th>
                                        <th>{{r[1]}}</th>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3 delete_reminder_button">
                            <button data-remtype="trimming" type="button" class="btn btn-primary delete_reminder">
                                {{_("Delete")}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="pack_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered reminder-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Packaging Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper rem-table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th scope="col">{{("DELETE")}}</th>
                                        <th scope="col">{{("REMINDER")}}</th>
                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("INTERNAL REF")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in packReminders %}
                                    <tr>
                                        <th><input type="checkbox" class="reminder_selected_packaging"
                                            data-reminder="{{r[10]}}" /></th>
                                        <th>{{r[7]}}</th>
                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}</th>
                                        {%endif%}
                                        <th><a href="/packaging-summary?order={{r[0]}}">{{r[0]}}</a> </th>
                                        <th>{{r[9]}}</th>
                                        <th>{{r[1]}}</th>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3 delete_reminder_button">
                            <button data-remtype="packaging" type="button" class="btn btn-primary delete_reminder">
                                {{_("Delete")}}
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% include 'erpnext/www/brand-dashboard/vendor_modal.html' %}
    </div>
</div>
</div>
</div>
</div>