<div class="mb-4">
    <h1 style="display: inline;">Hello, {{username}}</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2 class="mt-0">{{_("Reminders")}}</h2>
    </div>

    <div class="col-sm-12">
        <ul class="data-box-ul">
            <li>
                <div class="data-box yellow" data-toggle="modal" data-target="#fabric_reminder" id="fabricRemButton">
                    <img src="/assets/erpnext/images/mesh.png" alt="">
                    <h3>{{_("Fabric")}}</h3>
                    <span class="notification">

                        <div id="fabCount">{{fabCount[0][0]}}</div>

                    </span>
                </div>
            </li>
            <li>
                <div class="data-box green" data-toggle="modal" data-target="#trimming_reminder" id="trimmingRemButton">
                    <img src="/assets/erpnext/images/settings.png" alt="">
                    <h3>{{_("Trimming")}}</h3>
                    <span class="notification">
                        <div id="trimCount">{{trimCount[0][0]}}</div>
                    </span>
                </div>
            </li>
            <li>
                <div class="data-box orange" data-toggle="modal" data-target="#pack_reminder" id="packRemButton">
                    <img src="/assets/erpnext/images/shipment.png" alt="">
                    <h3>{{_("Packaging")}}</h3>
                    <span class="notification">
                        <div id="packCount">{{packCount[0][0]}}</div>
                    </span>
                </div>
            </li>
            <!-- <li>
                    <div class="data-box green">
                        <img src="/assets/erpnext/images/stock.png" alt="">
                        <h3>Fabric</h3>
                        <span class="notification">
                            0
                        </span>
                    </div>
                </li>
                <li>
                    <div class="data-box purple">
                        <img src="/assets/erpnext/images/button.png" alt="">
                        <h3>Fabric</h3>
                        <span class="notification">
                        </span>
                    </div>
                </li> -->
        </ul>
    </div>


</div>


<div class="row">

    <div class="col-sm-12 d-flex align-items-center mt-4">
        <h2 class="my-4">
            {{_("Shipping status")}}

        </h2>
        <button id="delivered" type="button" class="btn btn-primary ml-auto" disabled>
            {{_("Deliver")}}
        </button>
    </div>

    <div class="col-sm-12">

        <div class="table-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">{{_("Internal Ref")}}</th>
                        <th scope="col">{{_("Order Number")}}</th>
                        <th scope="col">{{_("Product Name")}}</th>
                        <th scope="col">{{_("Product Category")}}</th>
                        <th scope="col">{{_("Order Date")}}</th>
                        <th scope="col">{{_("Destination</")}}th>
                        <th scope="col">{{_("Delivery Status")}}</th>

                    </tr>
                </thead>
                <tbody>

                    {% for o in shipmentOrdersList %}
                    <tr>
                        <td><label class="custom-checkbox">
                                <input type="checkbox" class="selectedShipOrder" name="orderCheck"
                                    onchange="validateButton()" data-name="{{o.name}}">
                                <span class="icon"></span>
                            </label></td>
                        <td><a href="/shipment-order?name={{o.name}}">{{o.internal_ref}}</a></td>
                        <td>{{frappe.get_doc('Sales Order Item',o.product_order_id).parent}}</td>
                        <td>{{frappe.get_doc('Sales Order Item',o.product_order_id).item_code}}</td>
                        <td>{{frappe.get_doc('Sales Order Item',o.product_order_id).item_group}}</td>
                        <td>{{frappe.format(frappe.get_doc('Sales Order',(frappe.get_doc('Sales Order Item',o.product_order_id).parent)).creation, {'fieldtype': 'Date'})}}
                        </td>
                        <td>{{frappe.get_doc('Sales Order Item',o.product_order_id).item_destination}}</td>

                        <td>
                            <span class="btn-delivery {%if o.docstatus==1%}delivered{%endif%}">
                                Delivered
                            </span>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>


        <div class="modal fade" id="fabric_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Fabric Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in fabricReminders %}
                                    <tr>

                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle fab" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}
                                        </th>

                                        {%endif%}
                                        <th><a href="/fabric-summary?order={{r[0]}}">{{r[0]}}</a></th>
                                        <th>{{r[1]}}</th>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="trimming_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Trimming Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in trimmingReminders %}
                                    <tr>

                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle trim" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}</th>
                                        {%endif%}
                                        <th><a href="/trimming-summary?order={{r[0]}}">{{r[0]}}</a> </th>
                                        <th>{{r[1]}}</th>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="pack_reminder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{_("Reminders of Packaging Orders")}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th scope="col">{{("DATE")}}</th>
                                        <th scope="col">{{("Order Number")}}</th>
                                        <th scope="col">{{("SUPPLIER")}}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for r in packReminders %}
                                    <tr>

                                        {%if r[7]=='confirmation'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[2], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='profoma'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[3], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='payment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[4], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='shipment'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[5], {'fieldtype': 'Date'})}}</th>
                                        {%elif r[7]=='reception'%}
                                        <th>
                                            {%if r[8]=='0'%}
                                            <i class="fa fa-circle pack" aria-hidden="true" style="color:red"></i>
                                            {%endif%}
                                            {{frappe.format(r[6], {'fieldtype': 'Date'})}}</th>
                                        {%endif%}
                                        <th><a href="/packaging-summary?order={{r[0]}}">{{r[0]}}</a> </th>
                                        <th>{{r[1]}}</th>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% include 'erpnext/www/brand-dashboard/vendor_modal.html' %}
    </div>
</div>
</div>
</div>
</div>