td{
    min-width: 2rem;
    
}
.reminder-dialog{
    min-width: 80%;
}
.reminder-dialog {
    max-width: 50% !important;
}
.rem-table-wrapper {
    overflow-x: auto;
}
.delete_reminder_button{
    margin-top: 10px
}