<h2>{{_("Prototype Order")}}</h2>
{# this page is used for both new client purchase and client purchase summary page #}

{% macro dropdown(items,class,id) %}
<div class="form-group">
    <select class="form-control {{class}}" id="{{id}}">
        {% for i in items %}
        {% if i.name %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% elif i.fabric_ref %}
        <option value="{{i.fabric_ref}}">{{i.fabric_ref}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

<div id="container" class="container mt-3">
    <div class="card" style="">
        <div class="card-body row">
            <div class="col-6">
                <div class="m-3">
                    {{_("Product Category")}}
                    {{dropdown(categories,'','category')}}
                </div>
                <div class="m-3">
                    {{_("Internal ref")}}
                    <input id="internal-ref" type="text" class="form-control mt-2">
                </div>

                <div class="m-3">
                    {{_("Fabric ref")}}
                    {{dropdown(frappe.get_list('Fabric',fields=['fabric_ref']),'','fabric-ref')}}
                </div>
                <div class="m-3">
                    {{_("Fabric consumption")}}
                    <input id="fabric-consumption" type="text" class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Fabric Status")}}
                </div>
                <div class="m-3">
                    {{_("Comments")}}
                    <textarea class="form-control" id="comment" rows="4"></textarea>
                </div>

            </div>
            <div class="col-6">
                <div class="m-3">
                    {{_("Production Factory Name")}}
                </div>
                <div class="m-3">
                    <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
                    {{dropdown(destinations,'','destination')}}
                </div>
                <div class="m-3">
                    {{_("Trimming")}}
                    {{dropdown(frappe.get_list('Trimming Item'),'','timming')}}
                </div>
                <div class="m-3">
                    {{_("Trimming Status")}}
                </div>

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="techpack">
                        <label id="techpack-label" class="custom-file-label" for="techpack">{{_("Techpack")}}</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="pattern">
                        <label id="pattern-label" class="custom-file-label" for="pattern">{{_("Pattern")}}</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="picture">
                        <label id="picture-label" class="custom-file-label" for="picture">{{_("Picture")}}</label>
                    </div>
                </div>

            </div>
            <div class="col-12 m-3 product-table">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleFormControlSelect1">{{_("Product name")}}</label>
                        {{dropdown(products,'','product')}}
                    </div>
                </div>

                <div class="row mt-3 table-section">
                </div>

                <div>
                    <table class="table table-bordered pricing-table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{_("Price/Pcs")}}</th>
                                <th scope="col">{{_("Total Price")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price-pp"></td>
                                <td class="total-price"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ml-5">
                <button class="btn btn-primary" id="submit">{{_("Submit")}}</button>
            </div>
        </div>
    </div>

</div>