<h2>{{_("Prototype Order")}}</h2>
{# this page is used for both new client purchase and client purchase summary page #}

{% macro dropdown(items,class,id) %}
<div class="form-group">
    <select class="form-control {{class}}" id="{{id}}">
        {% for i in items %}
        {% if i.name %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

<div id="container" class="container mt-3">
    <div class="row">
        <div class="card mr-3" style="">
            <div class="card-body">

                <div class="m-3">
                    {{_("Date")}} <br />
                    <span>{% if date %}{{date}}{% endif %}
                        {% if order %}
                        {{frappe.format(order.creation, {'fieldtype': 'Date'})}}
                        {% endif %}
                    </span>
                </div>
                <div id="order-no-section">
                    {{_("Order Number")}}
                    <span id="order-no">
                        {% if order %}
                        {{order.name}}
                        {% endif %}
                    </span>
                </div>
                <div class="m-3">
                    {{_("Internal ref")}}
                    {% if order %}
                    <br />
                    {{order.internal_ref}}
                    {% else %}
                    <input id="internal-ref" type="text" class="form-control mt-2">
                    {% endif %}
                </div>

                <div class="m-3">
                    {{_("Fabric ref")}}
                    {% if order %}
                    <br />
                    {{order.internal_ref}}
                    {% else %}
                    <input id="fabric-ref" type="text" class="form-control mt-2">
                    {% endif %}
                </div>
                <div class="m-3">
                    {{_("Fabric consumption")}}
                    {% if order %}
                    <br />
                    {{order.internal_ref}}
                    {% else %}
                    <input id="fabric-ref" type="text" class="form-control mt-2">
                    {% endif %}
                </div>
                <div class="m-3">
                    <label for="exampleFormControlSelect1">{{_("Garment Label")}}</label>
                    {% if order %}
                    {{order.garment_label}}
                    {% else %}
                    {{dropdown(garmentlabel,'','garmentlabel')}}
                    {% endif %}
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="techpack">
                        <label id="techpack-label" class="custom-file-label" for="techpack">{{_("Techpack")}}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text" id="upload-techpack">Upload</button>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="pattern">
                        <label id="pattern-label" class="custom-file-label" for="pattern">{{_("Pattern")}}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text" id="upload-pattern">Upload</button>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="picture">
                        <label id="picture-label" class="custom-file-label" for="picture">{{_("Picture")}}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text" id="upload-picture">Upload</button>
                    </div>
                </div>

                {% if order and order.profoma is not none and order.profoma!='null' %}
                <div class="card mt-3 ml-3" style="width: 20rem;padding:1rem">
                    <a href="{{order.profoma}}">Profoma</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-xs">

        </div>
    </div>

    {# product table #}
    {% if not order %}
    <div id="box0" class="row card mt-3 product-table" style="width:90%">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="exampleFormControlSelect1">{{_("Product name")}}</label>
                    {{dropdown(products,'selected-product')}}
                </div>
                <div class="col-md-4">
                    <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
                    {{dropdown(destinations,'destination')}}
                </div>
            </div>

            <div class="row mt-3 table-section">
            </div>

            <div>
                <table class="table table-bordered pricing-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{_("Price/Pcs")}}</th>
                            <th scope="col">{{_("Total Price")}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="price-pp"></td>
                            <td class="total-price"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if order %}
    {% for o in order.items %}
    <div id="{{o.item_code}}" class="row card mt-3 product-table" style="width:90%">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="exampleFormControlSelect1">{{_("Product name")}}</label>
                    <br />
                    <span class="product">{{o.item_name}}</span>
                </div>
                <div class="col-md-4">
                    <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
                    <br />
                    {{o.item_destination}}
                </div>
            </div>

            <div class="row mt-3 table-section">
                <table class="table table-bordered">
                    <thead>
                        <tr class="sizing">
                            <th scope="col">{{_("Sizing")}}</th>
                            {% for s in qtys[o.name] %}
                            <th scope="col">{{frappe.get_doc('Quantity Per Size',s)['size']}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="qty">
                            <th scope="row">{{_("Quantity")}}</th>
                            {% for s in qtys[o.name] %}
                            <td scope="col" data-size="{{frappe.get_doc('Quantity Per Size',s)['size']}}">
                                {{frappe.get_doc('Quantity Per Size',s)['quantity']}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <table class="table table-bordered pricing-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{_("Price/Pcs")}}</th>
                            <th scope="col">{{_("Total Price")}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="price-pp"></td>
                            <td class="total-price"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="row">
        <div class="card mt-3" style="width: 15rem;padding:1rem">
            <div class="">
                {% if order %}
                <button class="btn btn-primary" id="validate">{{_("Validate")}}</button>
                {% else %}
                <button class="btn btn-primary" id="submit">{{_("Submit")}}</button>
                {% endif %}
            </div>
        </div>
    </div>

</div>