{% macro heading(title,url)%}
<div class="mb-3">
    <h2 style="display: inline-block;">{{title}}</h2>
    <button id="finished" data-btntype="pre-finish" type="button" class="btn btn-primary mb-3 float-right"
        onclick="window.location.href='{{url}}'">
        {{_("New Supplier")}}
    </button>
</div>
{%endmacro%}

{% if 'type' in frappe.form_dict %}
{% set url = ['/supply?new=1&type=',frappe.form_dict['type']]|join('')%}
{%if frappe.form_dict['type']=='Fabric'%}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Fabric','url':'/'},{'label':'Manage','url':'/'},{'label':'Fabric Vendor','url':url}]) }}
{{heading('Fabric Vendor',url)}}
{%elif frappe.form_dict['type']=='Trimming'%}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Trimming','url':'/'},{'label':'Manage','url':'/'},{'label':'Trimming Vendor','url':url}]) }}
{{heading('Trimming Vendor',url)}}
{%elif frappe.form_dict['type']=='Packaging'%}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Packaging','url':'/'},{'label':'Manage','url':'/'},{'label':'Packaging Vendor','url':url}]) }}
{{heading('Packaging Vendor',url)}}
{%endif%}
{%else%}
{%set url ='/supply?new=1'%}
{{heading('Supplier List',url)}}
{%endif%}

<div class="table-wrapper">
    <table class="table table-striped" id="allSuppliers">
        <thead>
            <tr>
                <th scope="col" id="cat_col"  class="fa fa-sort"><span style="margin-left: 0.5rem;font-weight:600">{{_("CATEGORY")}}</span></th>
                <th scope="col">{{_("VENDOR NAME")}}</th>
                <th scope="col">{{_("CONTACT")}}</th>
                <th scope="col">{{_("EMAIL")}}</th>
                <th scope="col">{{_("PHONE NUMBER")}}</th>
                <th scope="col">{{_("CITY")}}</th>
                <th scope="col">{{_("ZIP CODE")}}</th>
                <th scope="col">{{_("COUNTRY")}}</th>
                <th scope="col" style="display: none;">{{_("CREATION")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{supplier.supplier_group}}</td>
                <td><a href="/supply?name={{supplier.name}}">{{supplier.supplier_name}}</a></td>
                <td>{{supplier.contact}}</td>
                <td>{{supplier.email}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.city}}</td>
                <td>{{supplier.zip_code}}</td>
                <td>{{supplier.country}}</td>
                <td style="display: none;">{{supplier.creation}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>