{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Production','url':'/'},{'label':'Product Item','url':'#'}]) }}

<div class="col-sm-12 mt-4 pt-3">
    <label><h2>New Product</h2></label>
    <div class="card" style="width: 108%;">
        <div class="card-body" style="padding-right: 2rem;">
            <div class="row" style="padding-bottom: 2%;">
                <div class="col-md-2">
                    <div class="form-group mb-1 pb-1">
                        <label>Product Name *</label>
                        <input class="form-control" id="product_name" required name="internal_ref">
                    </div>

                    <div class="form-group mb-1 pb-1">
                        <label>Product Category *</label>

                        <select class="form-control" id="product_catagory" required name="product_cat">
                            {% for item_cat in frappe.get_all('Item Group') %}
                            <option value="{{item_cat.name}}">{{item_cat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-1 pb-1">
                        <label>Sizing</label>

                        <select class="form-control" id="sizing" name="sizing_field">
                            {% for sizing in frappe.get_all('Sizing Scheme') %}
                            <option value="{{sizing.name}}">{{sizing.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group mb-1 pb-1">
                        <label>Average Wholesale Price</label>

                        <input class="form-control" id="avg_price" required name="average_price">
                    </div>
                    <div class="form-group mb-1 pb-1">
                        <input type="checkbox" id="prod_witout_size">  Product without size
                    </div>
                    
                </div>


                <div class="col-md-8" id="price_div">
                    <label>Production Price</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="price_row">
                                <td><input type='checkbox' class='checkRec'></td>
                                <td><input name="from" type='text' class='input-with-feedback form-control bold in  put-sm'
                                        placeholder='From'></td>
                                <td><input name="to" type='text' class='input-with-feedback form-control bold in  put-sm'
                                        placeholder='To'></td>
                                <td><input name="price" type='text' class='input-with-feedback form-control bold in  put-sm'
                                        placeholder='Price'></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="padding-left:3%;">
                        <button type="button" id="del_row" style="display: none;margin-right:2%"
                            class="btn btn-xs btn-danger grid-remove-rows">Delete Row</button>
                        <button type="button" id="add_row" class="btn btn-xs btn-default grid-add-row">Add Row</button>
                    </div>

                </div>

                <div class="col-md-2">

                    <div class="form-group" style="padding-top: 4%;">
                        {{_("Tech Pack")}}
                        <div class="custom-file">
                            
                            <input type="file" class="custom-file-input" name="tech_pack" id="tech_pack">

                            <label id="tech_pack-label" class="custom-file-label" for="tech_pack">

                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        {{_("Picture")}}
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="picture" id="picture">

                            <label id="picture-label" class="custom-file-label" for="picture">

                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        {{_("Pattern")}}
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="pattern" id="pattern">

                            <label id="pattern-label" class="custom-file-label" for="pattern">

                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        {{_("Bar codes")}}
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="bar_codes" id="barcode">

                            <label id="bar_codes-label" class="custom-file-label" for="barcode">

                            </label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row service" style='background-color: #dddddd;padding-top:3%'>
                <div class="col-md-4 mb-5 fab">
                    <div class="fab-block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3 pb-1">
                                <label>{{_("Fabric supplier")}}</label>
                                <select class="form-control fab_sup" required name="fabric_sup">
                                    <option value=""></option>
                                    {% for fab_sup in frappe.get_all('Supplier',filters={'brand':brand,'supplier_group':'Fabric'}) %}
                                    <option value="{{fab_sup.name}}">{{fab_sup.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4 pb-1">
                                <label style="width: 10rem;" class="d-flex">{{_("Fabric ref")}} <span class="ml-auto text-nowrap text-12"><a
                                            href="#" data-toggle="modal" data-target="#fabric_modal"
                                            class="add-supplier text-blue"
                                            data-group="fabric">{{_("Add new +")}}</a></span></label>
                                <select class="form-control" id="fab_ref_list" required name="fabric_ref"></select>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4 pb-1">
                                <label style="width: 16rem;">{{_("Fabric consumption")}}</label>
                                <input class="form-control" required="" name="fabric_con">
                            </div>
                        </div>
                    </div>
                    <a type="button" id="addFab" style="color: lightskyblue;">Add Fabric +</a>
                    <a type="button" class="delFab" style="color: red;margin-left:2%;">Delete x</a>
                    <hr>
                    </div>
                </div>

                <div class="col-md-4 mb-5 trim">
                    <div class="trim-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3 pb-1">
                                    <label>{{_("Trimming Supplier")}}</label>
                                    <select class="form-control trim_sup" required name="trimming_sup">
                                        <option value=""></option>
                                        {% for trim_sup in frappe.get_all('Supplier',filters={'brand':brand,'supplier_group':'Trimming'}) %}
                                        <option value="{{trim_sup.name}}">{{trim_sup.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4 pb-1">
                                    <label style="width: 10rem;" class="d-flex">{{_("Trimming ref")}} <span class="ml-auto text-nowrap text-12"><a
                                                href="#" data-toggle="modal" data-target="#trimming_modal"
                                                class="add-supplier text-blue"
                                                data-group="fabric">{{_("Add new +")}}</a></span></label>
                                    <select class="form-control" id="trim_ref_list" required name="trimming_ref"></select>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4 pb-1">
                                    <label style="width: 16rem;">{{_("Trimming consumption")}}</label>
                                    <input class="form-control" required="" name="trimming_con">
                                </div>
                            </div>
                        </div>
                        <a type="button" style="color: lightskyblue;" id="addTrim">Add Trimming +</a>
                        <a type="button" class="delTrim" style="color: red;margin-left:2%;">Delete x</a>
                        <hr>
                    </div>


                </div>

                <div class="col-md-4 mb-5 pack">
                    <div class="pack-block">

                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3 pb-1">
                                <label>{{_("Packaging Supplier")}}</label>
                                <select class="form-control pack_sup" required name="packaging_sup">
                                    <option value=""></option>
                                    {% for pack_sup in frappe.get_all('Supplier',filters={'brand':brand,'supplier_group':'Packaging'}) %}
                                    <option value="{{pack_sup.name}}">{{pack_sup.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4 pb-1">
                                <label style="width: 10rem;" class="d-flex">{{_("Packaging ref")}} <span
                                        class="ml-auto text-nowrap text-12"><a href="#" data-toggle="modal"
                                            data-target="#packaging_modal" class="add-supplier text-blue"
                                            data-group="fabric">{{_("Add new +")}}</a></span></label>
                                <select class="form-control" id="pack_ref_list" required name="packaging_ref"></select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4 pb-1">
                                <label style="width: 16rem;">{{_("Packaging consumption")}}</label>
                                <input class="form-control" required="" name="packaging_con">
                            </div>
                        </div>
                    </div>

                    <a type="button" style="color: lightskyblue;" id="addPack">Add Packaging +</a>
                    <a type="button" class="delPack" style="color: red;margin-left:2%;">Delete x</a>
                    
                    <hr>
                    </div>
                </div>
                <hr>
                <hr>
                <br>

            </div>



        </div>

        <div class="form-group" style="padding-left: 0.5%;">
            <button class="btn btn-primary mt-4" id="productSubmit">{{_("Submit")}}</button>
        </div>
    </div>
</div>

{% include 'erpnext/www/modals/fabric_modal.html' %}
{% include 'erpnext/www/modals/trimming_modal.html' %}
{% include 'erpnext/www/modals/packaging_modal.html' %}