<style type="text/css">
    .center{
        text-align: center;
    }
    .header_size{
        font-size: 14px
    }
    .font_size{
        font-size: 14px
    } 
    .text_right{
        text-align: right;
    }
    .td_width{
        width: 20%
    }
    .size_qty{
        width: 10%;
        font-size:12px;
    } 
</style>
<div>
    <div class="center header_size">
        <img id="brand_logo" style="max-width: 150px;" src="{{brand_logo}}" alt="{{brand.name}}" /><br>
    </div>
    {%if brand_address %}
    <div>{{brand_address.address1 or ""}}
        {%if brand_address.address2 %}
        <br>{{brand_address.address2 or ""}}
        {%endif%}
        {%if brand_address.city %}
        <br>{{brand_address.city or ""}} {{brand_address.country or ""}}-{{brand_address.zip_code or ""}}
        {%endif%}
    </div>
    {%endif%}
</div>
<br>
<div class="center header_size">
    <p><b>PACKING LIST 8e4c62770a</b></p>
</div>
<br>
<div class="text_right font_size">
    <p>
        {{frappe.utils.formatdate(creation.date(),"dd-mm-yyyy") or ""}}
    </p>
</div>
<div class="text_right font_size">
    <p>
        <b>Invoice To:</b><br>{{client_name}}
        {% if client_address.address_line_1 %}
            <br>{{brand_address.address_line_1 or ""}}
            {% if client_address.address_line_2 %}
            <br>{{brand_address.address_line_2 or ""}}
            {%endif%}
            {% if client_address.address_line_2 %}
            <br>{{client_address.city or ""}} {{client_address.country or ""}}-{{client_address.zip_code or ""}}
            {%endif%}
        {%endif%}
    </p>
</div>
<div class="text_right font_size">
    <p>
        <b>Deliver To:</b><br>{{destination}}
    </p>
</div>
<br>
<div>
    <table style="width: 100%; font-size: 12px; text-align: left;">
        <thead>
            <tr>
                <th class="td_width">Product</th>
                <th class="td_width">Order Number</th>
                <th class="td_width">Internal Reference</th>
            </tr>
            <tr>
                <th class="td_width" style="text-align: left;">Size</th>
            </tr>
            <tr>
                <th class="td_width">Quantity</th>
            </tr>
        </thead>
    </table>
    <hr>
    {% for product in order_details %}
    <table style="width: 100%; font-size: 12px; text-align:left;">
        <tr>
           <td class="td_width">{{order_details[product]["product_name"]}}</td>
           <td class="td_width">{{order_details[product]["order"]}}</td>
           <td class="td_width">{{order_details[product]["internal_ref"]}</td> 
        </tr>
    </table>
    <br>
    <table style="text-align: left;">
        {%for size in order_details[product]["size_qty"] %}
        <tr>
           <td class="size_qty">{{size}}</td>
        </tr>
        {%endfor%}
        {%for size in order_details[product]["size_qty"] %}
        <tr>
           <td class="size_qty">{{order_details[product]["size_qty"][size]}}</td>
        </tr>
        {%endfor%}
    </table>
    {%endfor%}
</div>