<div>
    <div style="text-align: center;"><img id="brand_logo" style="max-width: 150px;" src="brandlogoimage" alt="Logo" /></div>
    <div style="text-align: center;">{{address}}<br />
    <h3>&nbsp;</h3>
    </div>
    <div style="text-align: center;"><span style="font-size: 14pt;">INVOICE #</span></div>
    </div>
    <div style="text-align: right; padding-right: 2%;">
    <div>
    <ul style="list-style-type: none;">
    <ul style="list-style-type: none;">
    <li><span id="date"> {{creation.date()}} </span></li>
    </ul>
    </ul>
    <br />
    <ul style="list-style-type: none;">
    <li><strong>Invoiced To<br /></strong>
    <p>{{client_name}}</p>
    <p>{{client_address}}</p>
    </li>
    <li>&nbsp;</li>
    </ul>
    </div>
    </div>
    <p>&nbsp;</p>
    <table style="border-collapse: collapse; border: none; width: 100%;" border="1">
    <tbody>
    <tr style="height: 10px;">
    <td style="width: 18.9011%; border: none; height: 30px;"><strong>Employee </strong><br /><strong>Product Designation</strong></td>
    <td style="width: 18.9011%; border: none; height: 30px;"><strong>Point Of Sale</strong></td>
    <td style="width: 18.9011%; border: none; height: 30px;"><strong>Unit</strong></td>
    <td style="width: 18.9011%; border: none; height: 30px;"><strong>Price</strong></td>
    <td style="width: 18.9011%; border: none; height: 30px;"><strong>Amount</strong></td>
    </tr>
    </tbody>
    </table>
    <p style="display: none;">{% for packRecieveName,PackDetails in packProductDetails.items()%}</p>
    <table style="border-collapse: collapse; border: none; width: 100%;" border="1">
    <tbody>
    <tr style="height: 10px;">
    <td style="width: 18.9011%; border: none; height: 10px;">{{packRecieveName}}</td>
    <td style="width: 18.9011%; border: none; height: 10px;">{{destination}}</td>
    <td style="width: 18.9011%; border: none; height: 10px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 10px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 10px;">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    <p style="display: none;">{%for packProductDetail in packProductDetails[packRecieveName]%}</p>
    <table style="border-collapse: collapse; border: none; width: 100%;" border="1">
    <tbody>
    <tr style="height: 10px;">
    <td style="width: 18.9011%; border: none; height: 10px;"><span style="font-size: 10pt;">{{packProductDetail['product']}}</span></td>
    <td style="width: 18.9011%; border: none; height: 10px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 10px;">{{packProductDetail['qty']}}</td>
    <td style="width: 18.9011%; border: none; height: 10px;">{{packProductDetail['price']}}</td>
    <td style="width: 18.9011%; border: none; height: 10px;">{{packProductDetail['itemfullPrice']}}</td>
    </tr>
    </tbody>
    </table>
    <p style="display: none;">{%endfor%}</p>
    <p>&nbsp;</p>
    <p style="display: none;">{%endfor%}</p>
    <hr />
    <table style="border-collapse: collapse; border: none; width: 100%;" border="1">
    <tbody>
    <tr style="height: 22px;">
    <td style="width: 18.9011%; border: none; height: 22px;"><span style="font-size: 10pt;">TOTAL</span></td>
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">EUR</td>
    <td style="width: 18.9011%; border: none; height: 22px;">{{totalCost}}</td>
    </tr>
    <tr style="height: 22px;">
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">Transport</td>
    <td style="width: 18.9011%; border: none; height: 22px;">EUR</td>
    <td style="width: 18.9011%; border: none; height: 22px;">{{shipment_cost}}</td>
    </tr>
    <tr style="height: 22px;">
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">&nbsp;</td>
    <td style="width: 18.9011%; border: none; height: 22px;">Total</td>
    <td style="width: 18.9011%; border: none; height: 22px;">EUR</td>
    <td style="width: 18.9011%; border: none; height: 22px;">{{totalAmount}}</td>
    </tr>
    <tr>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">VAT Rate%</td>
    <td style="width: 18.9011%; border: none;">{{vat_rate}}</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">VAT Amount</td>
    <td style="width: 18.9011%; border: none;">{{vatAmount}}</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">Total to pay EUR</td>
    <td style="width: 18.9011%; border: none;">&nbsp;</td>
    <td style="width: 18.9011%; border: none;">{{totalPay}}</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>