{# to add red dot to tab, add `notification` class to span sorrounding tab name #}

{% if not isBrand %}

<div class="d-flex align-items-center mt-5 pt-4 mb-4">
    <h1 class="my-0">Client Dashboard</h1>

    <button type="button" class="btn btn-primary ml-auto" onclick="window.location.href='/new-client-order'">
        <i class="fa fa-plus"></i>
        Place new order
    </button>
    <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#destination_modal"
        id="destinatonButton">
        <i class="fa fa-plus"></i>
        {{_("Destinations")}}
    </button>
</div>




{% endif %}
<ul class="nav nav-tabs mt-5 nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#waiting" role="tab" aria-controls="home"
            aria-selected="true">
            <span id="waiting-notf" class="">{{_("Waiting for Validation")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#onprocess" role="tab" aria-controls="profile"
            aria-selected="false"><span id="onprocess-notf" class="">{{_("On Process")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#shipped" role="tab" aria-controls="contact"
            aria-selected="false"><span id="shipped-notf" class="">{{_("Shipped")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="contact"
            aria-selected="false"><span id="cancelled-notf" class="">{{_("Cancelled")}}</span></a>
    </li>
</ul>
<div class="tab-content mb-5" id="myTabContent">
    <div class="tab-pane show active" id="waiting" role="tabpanel" aria-labelledby="waiting-tab">
        {% include 'erpnext/www/client-dashboard/waiting.html' %}
    </div>
    <div class="tab-pane" id="onprocess" role="onprocess" aria-labelledby="profile-tab">
        {% include 'erpnext/www/client-dashboard/onprocess.html' %}</div>
    <div class="tab-pane" id="shipped" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/client-dashboard/shipped.html' %}
    </div>
    <div class="tab-pane" id="cancelled" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/client-dashboard/cancelled.html' %}
    </div>
</div>


<div class="modal fade" id="destination_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Client Destinations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-striped mb-4">
                    <thead>
                        <tr>

                            <th scope="col">DESTINATION NAME</th>
                            <th scope="col">CITY NAME</th>
                            <th scope="col" style="width: 40%;"></th>


                        </tr>
                    </thead>
                    <tbody>

                        {% for dest in destinations %}
                        <tr>
                            <td>{{dest.destination_name}}</td>
                            <td>{{dest.city_town}}</td>
                            <td><a href="/client-destinations?name={{dest.name}}">{{_("See more info +")}}</a></td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="mb-3 text-center">
                    <button id="newDest" type="button" class="btn btn-primary"
                        onclick="window.location.href='/client-destinations?new=1'">
                        {{_("Add Destination")}}
                    </button>

                </div>


            </div>

        </div>
    </div>
</div>