<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#waiting" role="tab" aria-controls="home"
            aria-selected="true">{{_("Waiting for Validation")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#onprocess" role="tab" aria-controls="profile"
            aria-selected="false">{{_("On Process")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#shipped" role="tab" aria-controls="contact"
            aria-selected="false">{{_("Shipped")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="contact"
            aria-selected="false">{{_("Cancelled")}}</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="waiting" role="tabpanel" aria-labelledby="waiting-tab">
        {% include 'erpnext/www/client-dashboard/waiting.html' %}
    </div>
    <div class="tab-pane fade" id="onprocess" role="onprocess" aria-labelledby="profile-tab">
        {% include 'erpnext/www/client-dashboard/onprocess.html' %}</div>
    <div class="tab-pane fade" id="shipped" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/client-dashboard/shipped.html' %}
    </div>
    <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/client-dashboard/shipped.html' %}
    </div>
</div>

{% include "erpnext/www/imports.html" %}