<button type="button" class="btn btn-primary"
    onclick="window.location.href='/new-client-order'">{{_("Place new order")}}</button>
<button type="button" class="btn btn-primary"
    onclick="window.location.href='/client-destinations'">{{_("Destinations")}}</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/address-all'">{{_("Address")}}</button>



<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link {% if status=='waiting' %}active{% endif %}"
            href="/client-dashboard/waiting">{{_("Waiting for Validation")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if status=='onprocess' %}active{% endif %}"
            href="/client-dashboard/onprocess">{{_("On Process")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if status=='shipped' %}active{% endif %}"
            href="/client-dashboard/shipped">{{_("Shipped")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if status=='cancelled' %}active{% endif %}"
            href="/client-dashboard/cancelled">{{_("Cancelled")}}</a>
    </li>
</ul>

<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{# <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> #}

<script>
    $(document).ready(function () {
        $('.delete').click((e) => {
            console.log($(e.target).parent().parent())
        })
    })
</script>