{% set status='onprocess' %}
{% include "erpnext/www/client-dashboard/nav.html" %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">{{_("INTERNAL REF")}}</th>
            <th scope="col">{{_("ORDER NUMBER")}}</th>
            <th scope="col">{{_("PRODUCT NAME")}}</th>
            <th scope="col">{{_("PRODUCT CATEGORY")}}</th>
            <th scope="col">{{_("ORDER DATE")}}</th>
            <th scope="col">{{_("EX WORK DATE")}}</th>
            <th scope="col">{{_("DESTINATION")}}</th>
            <th scope="col">{{_("PERFORMA")}}</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <th></th>
            <th>{{o.name}}</th>
            <th></th>
            <th></th>
            <th>{{o.creation}}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% endfor %}
    </tbody>
</table>