<div class="table-wrapper table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{_("INTERNAL REF")}}</th>
                <th scope="col">{{_("ORDER NUMBER")}}</th>
                <th scope="col">{{_("PRODUCT NAME")}}</th>
                <th scope="col">{{_("PRODUCT CATEGORY")}}</th>
                <th scope="col">{{_("ORDER DATE")}}</th>
                <th scope="col">{{_("EX WORK DATE")}}</th>
                <th scope="col">{{_("SHIPMENT")}}</th>
                <th scope="col">{{_("INVOICE")}}</th>
                <th class="two-icons"></th>
            </tr>
        </thead>
        <tbody>
            {% if shipped is empty %}
            <tr>
                <td colspan="9" class="text-center">No records found.</td>
            </tr>
            {% endif %}
            {% for o in shipped %}
            <tr>
                <td>{{o[5]}}</td>
                <td><a href="/new-client-order?order={{o[0]}}">{{o[0]}}</a></td>
                {% set item = frappe.get_all('Item',filters={'item_code':o[2]},fields=['item_name']) %}
                {% if item|length >0 %}
                <td>{{item[0].item_name}}</td>
                {% else %}
                <td>{{o[2]}}</td>
                {% endif %}
                <td>{{o[3]}}</td>
                <td>{{frappe.format(o[1], {'fieldtype': 'Date'})}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span class="duplicate fa fa-clone" order-no="{{o[0]}}"></span>
                    <img class="cancel" style="float: right;" order-no="{{o[0]}}"
                        src="/assets/erpnext/images/delete.svg" alt="">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>