{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Packaging','url':'/'},{'label':'Packaging Order','url':'#'}]) }}



<div class="row">

  <div class="col-12">
    <ul class="page-links yellow">
      <li><a href="#" class="active">{{_("Order")}}</a></li>
      <li><a href="/supply-dashboard?type=packaging">{{_("List")}}</a></li>
      <!-- <li><a href="#">Manage</a></li> -->
    </ul>
  </div>

  <div class="col-12">
    <div class="title-with-image d-flex align-items-center">
      <img src="/assets/erpnext/images/icons/title-shipment.svg" alt="" class="mr-3">
      <h2 class="my-0">{{_("Packaging order form")}}</h2>
    </div>
  </div>

  <div class="col-12">
    <form id="new_packaging_order">

      <div class="card mt-3">
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4 pb-1">
                <label class="d-flex">{{_("Packaging vendor")}} <span class="ml-auto text-nowrap text-12"><a href="#"
                      data-toggle="modal" data-target="#form_modal" class="add-supplier text-orange"
                      data-group="trimming">{{_("Add new +")}}</a></span></label>
                <select class="form-control" id="vendor_list" required name="packaging_vendor">
                  <option disabled selected value=''>---+---</option>
                  {% for vendor in pack_suppliers %}
                  <option>{{vendor.name}}
                    {% if vendor["is_official"]==1 %}
                      &#xf05d;
                    {% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group mb-4 pb-1">
                <label class="d-flex">{{_("Internal Ref")}}<span class="ml-auto text-nowrap text-12"></span></label>
                <input class="form-control" required name="internal_ref">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group mb-4 pb-1">
                <label class="d-flex">{{_("Packaging Ref")}} <span class="ml-auto text-nowrap text-12"><a href="#"
                      data-toggle="modal" data-target="#packaging_modal"
                      class="add-supplier text-orange">{{_("Add new")}}
                      +</a></span></label>
                <select id="ref_list" class="form-control" required name="packaging_item">
                  
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group mb-4 pb-1">
                <label class="d-flex">{{_("Product Name")}} <span class="ml-auto text-nowrap text-12"><a
                      class="text-orange" href="/product-item?new=1">{{_("Add new +")}}</a></span></label>
                <select class="form-control" required name="product_name">
                  <option disabled selected value=''>---+---</option>
                  {% for product_name  in product_names %}
                  <option value='{{product_name.item_code}}'>{{product_name.item_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group mb-4 pb-1">
                <label class="d-flex">{{_("Destination")}} <span class="ml-auto text-nowrap text-12"><a href="#"
                      data-toggle="modal" data-target="#factory_modal" class="add-supplier text-orange">{{_("Add new")}}
                      +</a></span></label>
                <select id="factory_list" class="form-control" required name="production_factory">
                  <option disabled selected value=''>---+---</option>
                  {% for production_factory  in production_facories %}
                  <option value="{{production_factory.name}}">{{production_factory.name}}
                    {% if production_factory["is_official"]==1 %}
                    &#xf05d;
                  {% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>{{_("Quantity")}}</label>
                <input class="form-control price" required name="quantity" id="quantity">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{_("Stock")}}</label>
                <input class="form-control" required name="stock" id="stock">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{_("Price / Unit")}}</label>
                <input class="form-control price" required name="price_per_unit" id="price_per_unit">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{_("Total price")}}</label>
                <input class="form-control" required name="total_price" id="total_price">
              </div>
            </div>
          </div>

        </div>
      </div>

      {% include 'erpnext/www/reminders.html' %}

      <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>

    </form>
  </div>
</div>
{% include 'erpnext/www/brand-dashboard/vendor_modal.html' %}
{% include 'erpnext/www/modals/factory_modal.html' %}
{% include 'erpnext/www/modals/packaging_modal.html' %}