{%if 'Brand User' in roles%}
{% if frappe.form_dict.type=='fabric' %}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Fabric Order List','url':'#'}]) }}
{% elif frappe.form_dict.type=='trimming' %}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Trimming Order List','url':'#'}]) }}
{% else %}
{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Packaging Order List','url':'#'}]) }}
{% endif %}

<div class="col-12">
    <ul class="page-links yellow">
        {% if frappe.form_dict.type=='fabric' %}
        <li><a href="/new-fabric-order">{{_("Order")}}</a></li>
        {% elif frappe.form_dict.type=='trimming' %}
        <li><a href="/new-trimming-order">{{_("Order")}}</a></li>
        {% else %}
        <li><a href="/new-packaging-order">{{_("Order")}}</a></li>
        {% endif %}
        <li><a class="active" href="/supply-dashboard?type={{frappe.form_dict.type}}">{{_("List")}}</a></li>
        <!-- <li><a href="#">Manage</a></li> -->
    </ul>
</div>
{% endif%}
<div class="col-12 mt-3">
    <div class="title-with-image d-flex align-items-center">
        {% if frappe.form_dict.type=='fabric' %}
        <h2 class="my-0">{{_("Fabric Orders")}}</h2>
        {% elif frappe.form_dict.type=='trimming' %}
        <h2 class="my-0">{{_("Trimming Orders")}}</h2>
        {% elif frappe.form_dict.type=='packaging' %}
        <h2 class="my-0">{{_("Packaging Orders")}}</h2>
        {% else%}
        <h2 class="my-0">{{_("Supply Dashboard")}}</h2>
        {% endif %}
    </div>
</div>

{# to add red dot to tab, add `notification` class to span sorrounding tab name #}
<ul class="nav nav-tabs nav-fill mt-3" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#neworders" role="tab" aria-controls="home"
            aria-selected="true"><span id="new-order-notf" class="">{{_("New Orders")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#onprocess" role="tab" aria-controls="profile"
            aria-selected="false"><span id="on-process-notf" class="">{{_("On Process")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#ready" role="tab" aria-controls="contact"
            aria-selected="false"><span id="ready-notf" class="">{{_("Ready")}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#shipped" role="tab" aria-controls="contact"
            aria-selected="false"><span id="shipped-notf" class="">{{_("Shipped")}}</span></a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="neworders" role="tabpanel" aria-labelledby="neworders-tab">
        {% include 'erpnext/www/supply-dashboard/neworders.html' %}
    </div>
    <div class="tab-pane" id="onprocess" role="onprocess" aria-labelledby="profile-tab">
        {% include 'erpnext/www/supply-dashboard/onprocess.html' %}</div>
    <div class="tab-pane" id="ready" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/supply-dashboard/ready.html' %}
    </div>
    <div class="tab-pane" id="shipped" role="tabpanel" aria-labelledby="contact-tab">
        {% include 'erpnext/www/supply-dashboard/shipped.html' %}
    </div>
</div>

</div>
</div>
</div>