<div class="table-wrapper">
    <table class="table table-striped table-text-center" id="newOrdersTab">
        <thead>
            <tr>
                <!-- <th scope="col">{{_("Internal Ref")}}</th> -->
                {%if isSupplier%}
                <th></th>
                <th scope="col" id="client_col" class="sortCol" data-ref=0>{{_("Client")}}</th>
                {%endif%}
                <th scope="col" id="item_col" class="sortCol" data-ref=1>{{_("Item Name")}}</th>
                {# <th scope="col">{{_("ITEM CATEGORY")}}</th> #}
                <th scope="col" id="date_col" class="sortCol" data-ref=2>{{_("Order Date")}}</th>
                <th scope="col" id="dest_col" class="sortCol" data-ref=3>{{_("Destination")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in neworders %}
            <tr>
                <!-- <td>
                    {% if isFabric %}
                    <a href="/fabric-summary?order={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% elif isTrimming %}
                    <a href="/trimming-summary?order={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% elif isPackaging %}
                    <a href="/packaging-summary?order={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% endif %}
                </td> -->
                {%if isSupplier%}
                <td><label class="custom-checkbox">
                    <input type="checkbox" class="selectedCancelOrder" autocomplete="off" name="orderCheck"
                        data-name="{{o.name}}">
                    <span class="icon"></span>
                </label></td>
                <td data-ref="{{o['name']}}" class="item">{{o['brand']}}</td>
                {%endif%}
                <td data-ref="{{o['name']}}" class="item">{{o['item_ref']}}</td>
                {# <td>{{frappe.db.get_value('Item',o['product_name'],'item_group')}}</td> #}
                <td>{{frappe.format(o['creation'], {'fieldtype': 'Date'})}}</td>
                {%if o.destination%}
                <td>{{ frappe.get_doc("Production Factory",o.destination).factory_name}}</td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>