<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{_("INTERNAL REF")}}</th>
                <th scope="col">{{_("ITEM NAME")}}</th>
                <th scope="col">{{_("ITEM CATEGORY")}}</th>
                <th scope="col">{{_("ORDER DATE")}}</th>
                <th scope="col">{{_("EX WORK DATE")}}</th>
                <th scope="col">{{_("DESTINATION")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in ready %}
            <tr>
                <th>
                    {% if isFabric %}
                    <a href="/fabric-order?name={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% elif isTrimming %}
                        <a href="/trimming-order?name={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% elif isPackaging %}
                        <a href="/packaging-order?name={{o['internal_ref']}}">{{o['internal_ref']}}</a>
                    {% endif %}
                </th>
                <th>{{o['product_name']}}</th>
                <th>{{frappe.db.get_value('Item',o['product_name'],'item_group')}}</th>
                <th>{{frappe.format(o['creation'], {'fieldtype': 'Date'})}}</th>
                <th>{{frappe.format(o['ex_work_date'], {'fieldtype': 'Date'})}}</th>
                <th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>