{% import 'erpnext/templates/macros.html' as macros %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Client','url':'/'},{'label':'Purchase','url':'#'}]) }}

<h2  onload="ss()">{{_("Purchase")}}</h2>
{% set ns = namespace(universal_order_item_count=0) %}
{% for item in unique_items_orders %}
{% set sizing = unique_items_orders[item]["item_sizing"] %}
{% if sizing!=None %}
<div id="order-section" data-item='{{unique_items_orders[item]["item_name"]}}'>
{% else %}
<div id="order-section" data-item='{{unique_items_orders[item]["item_name"]}}' data-is_free_size="1"> 
{% endif %}
    <div >
        <h3 class="col-3" style="display: inline-block;">
            <p class="font-weight-bold" >
                {{unique_items_orders[item]["item_name"]}}
            </p>
        </h3>
        <div class="col-3" style="display: inline-block;">
            <select data-item_code="{{item}}"  class="form-control factory-select">
                <option value="" selected disabled>Select Factory</option>
                {% for factory in factories %}
                <option data-factory_name="{{factory.factory_name}}" value="{{factory.name}}">{{factory.factory_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="table-wrapper table-responsive mt-2">
        <table class="table table-sm table-striped">
            {% if sizing!="" %}
            {% if sizing!=None %}
            {% set sizing_list = frappe.get_all('Sizing', filters={'parent': sizing}, fields=['size'],order_by='idx') %}
            {% else %}
            {% set sizing_list = [{"size":"Free Size"}] %}
            {% endif %}
            <thead>
                    <th class="modify-show-{{item}} default-hide" colspan='1' scope='colgroup' ><input type="checkbox" data-item_code='{{item}}' data-check_type="select-all" onclick="select_all_chekbox('{{item}}')" class="select-all-sales-orders sales-order-section" /></th>
                    <th colspan='1' scope='colgroup' >Order Date</th>
                    <th colspan='1' scope='colgroup' >Order Detail</th>
                    <th colspan='1' scope='colgroup' ></th>
                    <th colspan='{{sizing_list|length}}' scope='colgroup' style="text-align:center" >Sizing</th>
                    <th colspan='1' scope='colgroup' ></th>
                </thead>
                <thead>
                    <th class="modify-show-{{item}} default-hide"  scope="col"></th>
                    <th  scope="col"></th>
                    <th  scope="col"></th>
                    <th  scope="col"></th>
                    {% for temp_size  in sizing_list%}
                    <th  scope="col" >{{temp_size.size}}</th>
                    {% endfor %}
                    <th  scope="col"></th>
                </thead>
                <tbody>
                    {% for order in unique_items_orders[item]["orders"] %}
                    {% set ns.is_modified=false %}
                    {% if sizing==None %}
                        {% set quantities = [{'size':'Free Size','quantity':order.free_size_qty,'first_quantity':order.first_free_size_qty}] %}
                    {% else %}
                        {% set quantities = frappe.get_all('Quantity Per Size',filters={'order_id':order.name,'product_id':item},fields=['size','quantity','first_quantity']) %}
                    {% endif %}
                    {% set ns.universal_order_item_count = ns.universal_order_item_count+1 %}
                    <tr  data-client_name="{{order['customer_details'].customer_name}}"  data-order_count = '{{ns.universal_order_item_count}}' data-item_code = "{{item}}"  data-order = "{{order.name}}">
                        <td class="modify-show-{{item}} default-hide"><input type="checkbox"   data-order_count = '{{ns.universal_order_item_count}}' data-item_code = "{{item}}"  data-order = "{{order.name}}"  class="sales-order-checkbox sales-order-section" /></td>
                        <td>{{order.creation.strftime('%Y-%m-%d')}}</td>
                        <td>
                            {{order["sales_order_name"]}}<br>
                            <a class="client-modal-link"  data-country ="{{order['customer_details'].country}}" data-city="{{order['customer_details'].city}}" data-phone="{{order['customer_details'].phone}}" data-email="{{order['customer_details'].email_address}}" data-cusname="{{order['customer_details'].customer_name}}">{{order['customer_details'].customer_name}}</a>
                        </td>

                        {% if order.is_modified|string() == "1"%}
                        <td>Modified<br>{{order.modified.strftime('%Y-%m-%d')}}</td>
                        {% set ns.is_modified = true %}
                        {% else %}
                        <td></td>
                        {% endif %}
                        
                        {% for size_col in sizing_list %}
                            {% for item_qnty in quantities if item_qnty.size==size_col.size%}
                                <td>
                                    {% if ns.is_modified %}
                                    <sub class = "modified-qty">{{item_qnty.first_quantity}}</sub><br>
                                    {% endif %}
                                    <div class = '{{ns.universal_order_item_count}}-qnty-content-class qnty-content-class' data-item_code = "{{item}}" data-size="{{item_qnty.size}}" data-current_qty = '{{item_qnty.quantity}}'>{{item_qnty.quantity}}</div>
                                </td>
                            {% else %}
                                <td>
                                    {% if ns.is_modified %}
                                    <sub class = "modified-qty">0</sub><br>
                                    {% endif %}
                                    <div data-current_qty ='0'>0</div>
                                </td>
                            {% endfor %}
                        {% endfor %}
                        <td></td>
                    </tr>
                    {% endfor %}
                    <tr class="sumation-row">
                        <td class="modify-show-{{item}} default-hide"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for size_col in sizing_list %}
                            <td>
                                <div data-size ='{{size_col.size}}' data-item = '{{item}}'  class ='sum-quantity'></div>
                            </td>
                        {% endfor %}
                        <td>
                            <div data-item = '{{item}}'  class ='total-sum'></div>
                        </td>
                    </tr>
                </tbody>
            {% endif %} 
        </table>
        <div  class="modify-hide-{{item}}">
            <button  data-item="{{item}}" type="button" class="btn btn-light select-button not-selected" style="display: inline-block;">Select</button>
            <button  onclick="set_modify('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Modify quantity</button>
            <button  onclick="cancel('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Cancel order</button>
        </div>
        <div class="modify-show-{{item}} default-hide" >
            <button  onclick="modify('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Modify quantity</button>
            <button  onclick="cancel_modify('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Cancel modify</button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal fade" id="client-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Country :<p id="modal-country"></p> </h5>
                <h5>City : <p id="modal-city"></p></h5>
                <h5>Email :<p id="modal-email"></p></h5>
                <h5>Phone : <p id="modal-phone"></p></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="supply-order-section">
    <div id="supply-content-section"> 
        
    </div>
    <div id="supply-button-section"> 

    </div>
</div>


<div class="modal fade" data-supplier="" data-destination="" data-supply="" id="reminder-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'erpnext/www/reminders.html' %}
            </div>
            <div class="modal-footer">
                <button id="add-reminder-button" type="button" class="btn btn-secondary" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade"  id="product-only-confirmation-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="product-only-confirmation-modal-body">
                </div>
            </div>
            <div class="modal-footer">
                <button id="product-only-confirmation-button" type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
                <button type="button" id="cancel-confirmation-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  id="product-supply-confirmation-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="product-supply-confirmation-modal-body">
                </div>
            </div>
            <div class="modal-footer">
                <button id="product-supply-confirmation-button" type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
                <button type="button" id="cancel-confirmation-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>