.modified-qty{
    color: rgb(185, 157, 157);
}
.sumation-row{
    border-top:1px solid rgb(219, 210, 210);
}
.background-ash{
    background-color: rgb(213, 218, 226);
    text-align: center;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.client-modal-link{
    cursor: pointer;
    font-weight: bold;
}
