{% import 'erpnext/templates/macros.html' as macros %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Client','url':'/'},{'label':'Purchase','url':'#'}]) }}

<h2  onload="ss()">{{_("Purchase")}}</h2>
{% set ns = namespace(universal_order_item_count=0) %}
{% for item in unique_items_orders %}

<h3>
    <a class="font-weight-bold" href="/product-item?name={{item}}">
        {{frappe.get_all('Item',{'item_code':item},'item_name')[0].item_name}}
    </a>
</h3>
<div class="table-wrapper table-responsive mt-2">
    <table class="table table-sm table-striped">
        {% set sizing = frappe.get_all('Item', filters={'item_code': item}, fields=['sizing']) %}
        {% if sizing|length!=0 %}
            {% set sizing = sizing[0].sizing %}
            {% set sizing_list = frappe.get_all('Sizing', filters={'parent': sizing}, fields=['size'],order_by='size') %}
            <thead>
                <th colspan='1' scope='colgroup' ><input type="checkbox" data-check_type="select-all" onclick="select_all_chekbox('{{item}}')" class="select-all-sales-orders-{{item}}" /></th>
                <th colspan='1' scope='colgroup' >Order Date</th>
                <th colspan='1' scope='colgroup' >Order Detail</th>
                <th colspan='1' scope='colgroup' ></th>
                <th colspan='{{sizing_list|length}}' scope='colgroup' style="text-align:center" >Sizing</th>
            </thead>
            <thead>
                <th  scope="col"></th>
                <th  scope="col"></th>
                <th  scope="col"></th>
                <th  scope="col"></th>
                {% for temp_size  in sizing_list%}
                <th  scope="col" >{{temp_size.size}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for order in unique_items_orders[item] %}
                    {% set ns.is_modified=false %}
                    {% set temp_order_details = frappe.get_all('Sales Order', filters={'name': order.parent}, fields=['name', 'customer','creation','modified']) %}
                    {% set quantities = frappe.get_all('Quantity Per Size',filters={'order_id':order.name,'product_id':item},fields=['size','quantity','first_quantity']) %}
                    {% if  temp_order_details|length != 0 %}
                        {% set temp_order_details = temp_order_details[0] %}
                        {% set ns.universal_order_item_count = ns.universal_order_item_count+1 %}
                        <tr>
                            <td><input type="checkbox"  data-order = "{{order.name}}"  class="sales-order-checkbox-{{item}}" /></td>
                            <td>{{order.creation.strftime('%Y-%m-%d')}}</td>
                            {% set client_details = frappe.get_all('Customer',{'name':temp_order_details.customer},['customer_name','name','city','country','email_address','phone']) %}
                            <td>
                                {{temp_order_details.name}}<br>
                                {% if client_details|length !=0 %}
                                    {% set client_details = client_details[0]%}
                                    <a class="client-modal-link"  data-country ="{{client_details.country}}" data-city="{{client_details.city}}" data-phone="{{client_details.phon}}" data-email="{{client_details.email_address}}" data-cusname="{{client_details.customer_name}}">{{client_details.customer_name}}</a>
                            </td>
                            {% else %}
                            </td>
                            {% endif %}
                            {% if (order.creation-order.modified).seconds!=0 %}
                                {% set ns.is_modified = true %}
                                <td>Modified<br>{{order.modified.strftime('%Y-%m-%d')}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            
                            {% for size_col in sizing_list %}
                                {% for item_qnty in quantities if item_qnty.size==size_col.size%}
                                    <td>
                                        {% if ns.is_modified %}
                                        <sub class = "modified-qty">{{item_qnty.first_quantity}}</sub><br>
                                        {% endif %}
                                        <div class = '{{item}}-{{item_qnty.size}} {{order.name}}-qnty-content-class' data-size="{{item_qnty.size}}" data-current_qty = '{{item_qnty.quantity}}'>{{item_qnty.quantity}}</div>
                                    </td>
                                {% else %}
                                    <td>
                                        {% if ns.is_modified %}
                                        <sub class = "modified-qty">0</sub><br>
                                        {% endif %}
                                        <div data-current_qty ='0'>0</div>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr class="sumation-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for size_col in sizing_list %}
                        <td>
                            <div data-size ='{{size_col.size}}' data-item = '{{item}}'  class ='sum-quantity'></div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        {% endif %} 
    </table>
    <div>
        <button  onclick="validate('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Validate</button>
        <button  onclick="modify('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Modify</button>
        <button  onclick="cancel('{{item}}')" type="button" class="btn btn-light" style="display: inline-block;">Cancel</button>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="client-modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Country :<p id="modal-country"></p> </h5>
                <h5>City : <p id="modal-city"></p></h5>
                <h5>Email :<p id="modal-email"></p></h5>
                <h5>Phone : <p id="modal-phone"></p></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
