.modified-qty{
    color: rgb(185, 157, 157);
}
.sumation-row{
    border-top:1px solid rgb(219, 210, 210);
}
.background-ash{
    background-color: rgb(225, 229, 235);
    text-align: center;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.client-modal-link{
    cursor: pointer;
    font-weight: bold;
    color:#3B3DBF !important;
}
#order-section{
    margin-bottom: 40px;
}
#supply-order-section{
    border-top:5px solid rgb(219, 210, 210);
}
.reminder-link{
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(157, 179, 155);
    font-size: 11px;
}

#supply-button-section{
    margin-top: 45px;
}

.selected{
    background-color:#8a7c7c !important;
}

.not-selected{
    background-color:#fff !important;
}
.thead-supply-table>tr>th{
    font-size: 12px;
    padding: 4px;
}
.tbody-supply-order-section>tr>td{
    font-size: 11px;
    padding: 4px;
}
