<style>

</style>
<script src="https://js.stripe.com/v3/"></script>

<!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script> -->

<!-- <script src="/client.js" defer></script> -->



<div class="container">
  {%if plan_period=='Monthly'%}
  <h2>{{plan.plan_name}}{{_(" - Monthly Subscription")}}</h2>
  {%elif plan_period=='Annually'%}
  <h2>{{plan.plan_name}}{{_(" - Annual Subscription")}}</h2>
  {%endif%}
  <div class="card" style="">
    <table class="table table-striped table-text-center planTr" id="paymentPlans">
      <thead>
        <tr>
          <th>Description</th>
          <th><label class="custom-checkbox">
              {{plan.plan_name}}
            </label></th>

        </tr>
      </thead>
      <tbody>
        <tr>

          <td class="accessPart">{{_("Client")}}</td>
          {%if plan.client==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}


          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("No of Accesses")}} </td>


          <td><label class="custom-checkbox">
              {{plan.no_of_clients}}

            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("Supply")}}</td>



          {%if plan.supply==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("Pre Production")}}</td>

          {%if plan.pre_production==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("Production")}}</td>
          {%if plan.production==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>

        </tr>
        <tr>
          <td class="accessPart">{{_("Shipment")}}</td>

          {%if plan.shipment==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("Stock")}}</td>

          {%if plan.stock==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("S&F")}}</td>
          {%if plan.snf==1%}
          {% set checked=checked%}
          {%else%}
          {% set checked=""%}
          {%endif%}
          <td><label class="custom-checkbox ">
              <input type="checkbox" {{checked}} disabled>
              <span class="icon"></span>
            </label></td>


        </tr>
        <tr>
          <td class="accessPart">{{_("Days of Trial")}}</td>

          <td><label class="custom-checkbox">
              {{plan.trial_days}}

            </label></td>


        </tr>
        <tr>
          {%if plan_period=='Monthly'%}
          {% set payAmount=plan.monthly_price%}
          <td class="accessPart" style="font-size: 2rem;font-weight:bold">{{_("Pricing-Monthly")}}</td>
          <td><label class="custom-checkbox" style="font-size: 2rem;font-weight:bold">
              ${{plan.monthly_price}}
            </label></td>
          {%elif plan_period=='Annually'%}
          {% set payAmount=plan.annual_price%}
          <td class="accessPart" style="font-size: 2rem;font-weight:bold">{{_("Pricing-Annual")}}</td>
          <td><label class="custom-checkbox" style="font-size: 2rem;font-weight:bold">
              ${{plan.annual_price}}
            </label></td>
          {%endif%}


        </tr>


      </tbody>
    </table>
    <!-- Display a payment form -->
    <div style="align-items: center;padding-left:15px;">
      <h2 style="margin-bottom: 0px;">Payment Section</h2>
      <form id="payment-form" style="box-shadow: none;">

        <div id="card-element">
          <!--Stripe.js injects the Card Element-->
        </div>

        <button id="submit">

          <div class="spinner hidden" id="spinner"></div>

          <span id="button-text">Pay ${{payAmount}}</span>

        </button>

        <p id="card-error" role="alert"></p>

        <p class="result-message hidden">
          Payment succeeded, Thank you for subscribe Modehero.
          Refresh the page to pay again.
        </p>

      </form>
    </div>


  </div>

</div>