{% import 'erpnext/templates/macros.html' as macros %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Fabric','url':'/'},{'label':'Fabric Order List','url':'/supply-dashboard?type=fabric'},{'label':'Fabric Order','url':'#'}]) }}
<h1>Fabric Order Summary</h1>

<div class="row mt-5" style="{%if isGuest %}width: 90%;{%else%}width:83%;{%endif%}">
    {%if isFabricVendor %}
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Brand Name")}}
                </p>
                <p class="value">
                    {{fabricOrder.brand}}
                </p>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Date")}}
                </p>
                <p class="value">
                    {% if date %}{{date}}{% endif %}
                    {{frappe.format(fabricOrder.creation, {'fieldtype': 'Date'})}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Order Number")}}
                </p>
                <p class="value">
                    {{fabricOrder.name}}
                </p>
            </div>
        </div>
    </div>
    {%if isBrand%}
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <p class="label">
                    {{_("Internal ref")}}
                </p>
                <p class="value" id="order-internal">
                    {{fabricOrder.internal_ref}}
                </p>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="col-sm-12 mt-4 pt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="mt-2">{{_("Order Info")}}</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mt-2">{{_("Price Details")}}</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mt-2">{{_("Order Document")}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-5">

                        <ul class="order-summary">
                            <li>
                                <span>{{_("Fabric Ref")}}</span>
                                <span id="order-item">
                                    {{fabricOrder.fabric_ref}}
                                </span>
                            </li>
                            <li>
                                <span>{{_("Color")}}</span>
                                <span id="order-color">
                                    {{fabric.color}}
                                </span>
                            </li>
                            <li>
                                <span>{{_("Destination")}}</span>
                                <span id="order-destination">
                                    {# {{fabricOrder.quantity}} #}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-5">

                        <ul class="order-summary">
                            <li>
                                <span>{{_("Price Per Unit")}}</span>
                                <span id="order-otherInfo">
                                    {{fabricOrder.price_per_unit}}
                                </span>
                            </li>
                            <li>
                                <span>{{_("Quantity")}}</span>
                                <span id="order-quantity">
                                    {{fabricOrder.quantity}}
                                </span>
                            </li>
                            <li>
                                <span>{{_("Total Price")}}</span>
                                <span id="order-total">
                                    {{fabricOrder.total_price}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-5">

                        <div class="row" id="order_doc">

                            <!-- to put document -->
                            <a href="#" class="order-summary-download" id="pdf_doc" style="padding-bottom: 0%;">
                                <img src="/assets/erpnext/images/icons/pdf.svg" alt="" style="margin-top: 0%;" />
                                <span>{{_('Order Document')}}</span>
                            </a>



                        </div>

                        <div class="row">

                            <h3 style="margin-top: 0%;margin-bottom:0%">{{_("Payment Proof")}}</h3>

                            <div id="payment_doc" style="width: 90%;">
                                {% if fabricOrder.payment_proof %}

                                <a href="{{fabricOrder.payment_proof}}" download class="order-summary-download"
                                    style="padding-bottom: 0%;width:112%">
                                    <img src="/assets/erpnext/images/icons/pdf.svg" alt="" style="margin-top:0%;" />
                                    <span>{{fabricOrder.payment_proof}}</span>
                                </a>
                                {% endif %}
                            </div>

                            <div class="form-group">

                                <div class="custom-file" style="margin-top: 5%;">
                                    <input type="file" class="custom-file-input" value={{fabricOrder.payment_proof}}
                                        name="paymentProof" id="payment_proof">

                                    <label id="payment_proof-label" class="custom-file-label"
                                        for="payment_proof"></label>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-10">
                        <label for="" class="text-mute">{{_("Comments")}}</label>
                        <textarea class="form-control" id="proofComment"
                            rows="3">{% if fabricOrder.comment %}{{fabricOrder.comment}}{% endif %}</textarea>

                        {% if "Brand User" in roles %}

                        {% include 'erpnext/www/reminders.html' %}
                        {% endif %}
                        {%if isBrand%}
                        <!-- <div class="form-group">
                            <button class="btn btn-primary mt-4" id="proofSubmit">{{_("Submit")}}</button>
                        </div> -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <button class="btn btn-primary mt-4" id="proofSubmit">{{_("Submit")}}</button>
                                </div>
                                <div class="col-3">
                                    <div class="loader mt-4 proof"></div>
                                </div>
                            </div>
                            
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%if (isFabricVendor or isBrand)%}
<div class="sidebar right"
    style="position: fixed;top: 80px;right: 0;height: calc(100% - 80px);width: 375px;overflow-x: hidden;overflow-y: auto;border-left: 1px solid #e6e6e6;background-color:white;padding-left:2%">
    <div class="sidebar-inner">
        <h5 class="mb-4 mt-0">Fabric Vendor</h5>

        <div class="form-group">
            {{_("Expected end of production")}}
            <div class="input-group date">
                <input id="exWorkDate" class="form-control"
                    value={% if fabricOrder.ex_work_date %}{{fabricOrder.ex_work_date}}{% endif %} name="workDate"
                    placeholder="Desired date" type="date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            {{_("Confirmation Doc")}}
            {% if fabricOrder.confirmation_doc != None %}
            <br />
            <a href="{{fabricOrder.confirmation_doc}}">{{fabricOrder.confirmation_doc}}</a>
            {% else %}
            {% endif %}
            <div class="custom-file row" style="{%if isGuest %}width: 120%;{%else%}width:160%;{%endif%}display:flex !important">
                <div class="col-md-8">
                    <input type="file" class="custom-file-input" value={{fabricOrder.confirmation_doc}}
                        name="confirmation_doc" id="confirmation_doc">

                    <label id="confirmation_doc-label" class="custom-file-label"
                        for="confirmation_doc">{% if fabricOrder.confirmation_doc %}{{fabricOrder.confirmation_doc}}{% endif %}</label>

                </div>
                <div class="col-md-4 del" id="conf_del">
                    <button class="delbtn"><i class="fa fa-trash"></i></button>
                </div>

            </div>


        </div>

        <div class="form-group">
            {{_("Proforma")}}
            {% if fabricOrder.profoma != None %}
            <br />
            <a href="{{fabricOrder.profoma}}">{{fabricOrder.profoma}}</a>
            {% else %}
            {% endif %}
            <div class="custom-file row" style="{%if isGuest %}width: 120%;{%else%}width:160%;{%endif%}display:flex !important">
                <div class="col-md-8">
                    <input type="file" class="custom-file-input" value={{fabricOrder.profoma}} name="profoma" id="profoma">

                    <label id="profoma-label" class="custom-file-label"
                        for="profoma">{% if fabricOrder.profoma %}{{fabricOrder.profoma}}{% endif %}</label>
                </div>
                <div class="col-md-4 del" id="profoma_del">
                    <button class="delbtn"><i class="fa fa-trash"></i></button>
                </div>
                

            </div>
        </div>

        <div class="form-group">
            {{_("Invoice")}}
            {% if fabricOrder.invoice != None %}
            <br />
            <a href="{{fabricOrder.invoice}}">{{fabricOrder.invoice}}</a>
            {% else %}
            {% endif %}
            <div class="custom-file row" style="{%if isGuest %}width: 120%;{%else%}width:160%;{%endif%}display:flex !important">
                <div class="col-md-8">
                    <input type="file" class="custom-file-input" value={{fabricOrder.invoice}} name="invoice" id="invoice">

                    <label id="invoice-label" class="custom-file-label"
                        for="invoice">{% if fabricOrder.invoice %}{{fabricOrder.invoice}}{% endif %}</label>
                </div>
                <div class="col-md-4 del" id="invoice_del">
                    <button class="delbtn"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>


        <h5 class="my-4">{{_("Shipment")}}</h5>
        <div class="form-group">
            {{_("Carrier")}}
            <input id="carrier" type="text"
                value="{% if fabricOrderShipment %}{{fabricOrderShipment[0].carrier_company}}{% endif %}"
                class="form-control mt-2">
        </div>
        <div class="form-group">
            {{_("Tracking Number")}}
            <input id="tracking_number" type="text"
                value="{% if fabricOrderShipment %}{{fabricOrderShipment[0].tracking_number}}{% endif %}"
                class="form-control mt-2">
        </div>

        <div class="form-group">
            {{_("Date of Shipment")}}
            <div class="input-group date">
                <input id="shipmentDate" class="form-control" value= "{% if fabricOrderShipment %}{{fabricOrderShipment[0].shipping_date}}{% endif %}"
                    name="desireddate" placeholder="Desired date" type="date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            {{_("Expected Delivery Date")}}
            <div class="input-group date">
                <input id="expectedDate" class="form-control" value="{% if fabricOrderShipment %}{{fabricOrderShipment[0].expected_delivery_date}}{% endif %}"
                    name="expecteddate" placeholder="Expected Delivery date" type="date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            {{_("Shipping Price")}}
            <input id="shipping_price" type="text"
                value="{% if fabricOrderShipment %}{{fabricOrderShipment[0].shipping_price}}{% endif %}"
                class="form-control mt-2">
        </div>

        <div class="form-group">
            {{_("HTML Tracking Link")}}
            <input id="html_tracking_link" type="text"
                value="{% if fabricOrderShipment %}{{fabricOrderShipment[0].html_tracking_link}}{% endif %}"
                class="form-control mt-2">
        </div>

        <div class="form-group">
            {{_("Comments")}}
            <textarea class="form-control" id="comment"
                rows="4">{% if fabricOrder.production_comment %}{{fabricOrder.production_comment}}{% endif %}</textarea>
        </div>

        {% if isFabricVendor or isBrand %}
        <!-- <div class="form-group">
            <button class="btn btn-primary" id="vendorSubmit">{{_("Submit")}}</button>
        </div> -->
        <div class="col-12">
            <div class="row" style="width: 130%;">
                <div class="col-9">
                    <button class="btn btn-primary" id="vendorSubmit">{{_("Submit")}}</button>
                </div>
                <div class="col-3">
                    <div class="loader vendor"></div>
                </div>
            </div>
            
        </div>
        {% endif %}

    </div>


</div>

{%endif%}

<div id="full">
    <div id="doc" style="display: none;">
        {{template}}
    </div>
</div>