<h1>Fabric Order Summary</h1>


<div id="container" class="container mt-3">
    <div class="card" style="">
        <div class="card-body row">
            <div class="col-6">
                <div class="m-3">
                    {{_("Date")}} <br />
                    <span>{% if date %}{{date}}{% endif %}
                        {{frappe.format(fabricOrder.creation, {'fieldtype': 'Date'})}}
                    </span>
                </div>

                <div id="order-no-section" class="m-3">
                    {{_("Order Number")}}
                    <br />
                    <span id="order-no">
                        {{fabricOrder.name}}
                    </span>
                </div>


                <div class="m-3">
                    {{_("Internal ref")}}
                    <br />
                    <span id="order-internal">
                        {{fabricOrder.internal_ref}}
                    </span>

                </div>

                <h2>{{_("Order Info")}}</h2>

                <div class="m-3">
                    {{_("Fabric Ref")}}
                    <br />
                    <span id="order-item">
                        {{fabricOrder.fabric_ref}}
                    </span>

                </div>
                <div class="m-3">
                    {{_("Color")}}
                    <br />
                    <span id="order-color">
                        {{fabric.color}}
                    </span>

                </div>
                <div class="m-3">
                    {{_("Quantity")}}
                    <br />
                    <span id="order-quantity">
                        {{fabricOrder.quantity}}
                    </span>

                </div>
                <div class="m-3">
                    {{_("Destination")}}
                    <br />


                </div>

            </div>

            <div class="col-6">
                <h2>Price Details</h2>
                <div class="m-3">
                    {{_("Price Per Unit")}}
                    <br />
                    <span id="order-otherInfo">
                        {{fabricOrder.price_per_unit}}
                    </span>

                </div>
                <div class="m-3">
                    {{_("Total Price")}}
                    <br />
                    <span id="order-otherInfo">
                        {{fabricOrder.total_price}}
                    </span>

                </div>

                <div class="m-3">
                    {{_("Payment Proof")}}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" value={{fabricOrder.payment_proof}}
                            name="paymentProof" id="paymentProof">

                        <label id="paymentProof-label" class="custom-file-label"
                            for="paymentProof">{% if fabricOrder.payment_proof %}{{fabricOrder.payment_proof}}{% endif %}</label>

                    </div>
                </div>

                {% if fabricOrder.payment_proof %}
                <div class="m-3">
                    {{_("Submitted Payment Proof")}}
                    <br>
                    <a href="{{fabricOrder.payment_proof}}" download>Download Submitted Document</a>
                </div>
                {% endif %}


                <div class="m-3">
                    {{_("Comments")}}
                    <textarea class="form-control" id="proofComment"
                        rows="4">{% if fabricOrder.comment %}{{fabricOrder.comment}}{% endif %}</textarea>
                </div>


                <div class="ml-5">

                    <button class="btn btn-primary" id="proofSubmit">{{_("Submit")}}</button>

                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    {# bottom part of summary page should go below #}
    <div class="card" style="">
        <div class="card-body row">
            <div class="col-6">
                <div class="m-3">
                    {{_("Fabric Vendor")}}
                </div>
                <div class="m-3">
                    {{_("Expected Work Date")}}
                    <span>
                        <div class="input-group date">
                            <input id="exWorkDate" class="form-control"
                                value={% if fabricOrder.ex_work_date %}{{fabricOrder.ex_work_date}}{% endif %}
                                name="workDate" placeholder="Desired date" type="date">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </span>
                </div>

                <div class="m-3">
                    {{_("Confirmation Doc")}}
                    {% if fabricOrder.confirmation_doc != None %}
                    <br />
                    <a href="{{fabricOrder.confirmation_doc}}">{{fabricOrder.confirmation_doc}}</a>
                    {% else %}
                    {% endif %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" value={{fabricOrder.confirmation_doc}}
                            name="confirmation_doc" id="confirmation_doc">

                        <label id="confirmation_doc-label" class="custom-file-label"
                            for="confirmation_doc">{% if fabricOrder.confirmation_doc %}{{fabricOrder.confirmation_doc}}{% endif %}</label>

                    </div>
                </div>

                <div class="m-3">
                    {{_("Proforma")}}
                    {% if fabricOrder.profoma != None %}
                    <br />
                    <a href="{{fabricOrder.profoma}}">{{fabricOrder.profoma}}</a>
                    {% else %}
                    {% endif %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" value={{fabricOrder.profoma}} name="profoma"
                            id="profoma">

                        <label id="profoma-label" class="custom-file-label"
                            for="profoma">{% if fabricOrder.profoma %}{{fabricOrder.profoma}}{% endif %}</label>

                    </div>
                </div>

                <div class="m-3">
                    {{_("Invoice")}}
                    {% if fabricOrder.invoice != None %}
                    <br />
                    <a href="{{fabricOrder.invoice}}">{{fabricOrder.invoice}}</a>
                    {% else %}
                    {% endif %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" value={{fabricOrder.invoice}} name="invoice"
                            id="invoice">

                        <label id="invoice-label" class="custom-file-label"
                            for="invoice">{% if fabricOrder.invoice %}{{fabricOrder.invoice}}{% endif %}</label>

                    </div>
                </div>

                <div class="m-3">
                    {{_("Shipment")}}
                </div>

                <div class="m-3">
                    {{_("Carrier")}}
                    <input id="carrier" type="text"
                        value="{% if fabricOrder.carrier %}{{fabricOrder.carrier}}{% endif %}"
                        class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Tracking Number")}}
                    <input id="tracking_number" type="text"
                        value="{% if fabricOrder.tracking_number %}{{fabricOrder.tracking_number}}{% endif %}"
                        class="form-control mt-2">
                </div>

                <div class="m-3">
                    {{_("Date of Shipment")}}
                    <div class="input-group date">
                        <input id="shipmentDate" class="form-control" value={{fabricOrder.shipment_date}}
                            name="desireddate" placeholder="Desired date" type="date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {% if isFabricVendor %}
                <div class="ml-5">
                    <button class="btn btn-primary" id="vendorSubmit">{{_("Submit")}}</button>
                </div>
                {% endif %}
            </div>

            <div class="col-6">
                <div class="m-3">
                    {{_("Comments")}}
                    <textarea class="form-control" id="comment"
                        rows="4">{% if fabricOrder.production_comment %}{{fabricOrder.production_comment}}{% endif %}</textarea>
                </div>
            </div>


        </div>
    </div>
</div>