
div[data-fieldname="minimum_order_qty"] label {
  min-width:3px !important;
}

div[data-web-form="fabric-item"] div div div div div.form-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}


div[data-web-form="fabric-item"] div div div div div form {
  width: 100%;
}


div[data-web-form="fabric-item"] div div div a.btn.btn-default {
  width: 40%;
  min-width: 80px;
  display: inline-block !important;
}


input.custom-file-input + label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: calc(100% - 110px);
}

select.form-control {
  padding-right: 25px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

#page-subscription {
  margin-top: 270px;
}

.page-with-sidebar.right-sidebar .sidebar.right {
  position: fixed;
  top: 80px;
  right: 0;
  height: calc(100% - 80px);
  width: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #e6e6e6;
  background-color:white;
  padding-left:2%
}

.page-with-sidebar.right-sidebar .page-body {
  order: 1;
  width: calc(100% - 610px) !important;
}

.table-wrapper .table.table-xs td {
  padding: 8px 10px;
}

.table-wrapper .separator {
  position: relative;
}

.table-wrapper .separator:before {
  display: block;
  content: '';
  height: 20px;
  width: 1px;
  background: black;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.table-wrapper .separator:first-child:before {
  display: none;
  visibility: hidden;
}

.table-wrapper .table.table-xs .thead-blue {
  background: blue;
}

.shipment-tag {
  background: #EFE4B0 !important;
}
