@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./icons.less";

@theme: #3b3dbf;
@red: #db3838;
@yellow: #f8c331;
@orange: #f88d60;
@teal: #80c5dc;
@purple: #6c6ebb;
@green: #6bbaa5;

.default-font {
  font-family: "Poppins", sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  body {
    width: 100%;
  }
}

body {
  position: relative;
  .default-font;
  font-weight: 500;
  min-height: 100vh;
  font-size: 14px;
  background: white !important;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #9092ff 36%, #f7f8fa 100%);
    z-index: 0;
    pointer-events: none;
  }

  &[data-path="new-fabric-order"]:before {
    background: linear-gradient(135deg, @yellow 36%, #f7f8fa 100%);
  }
  &[data-path="shipment-order"]:before {
    background: linear-gradient(135deg, @orange 36%, #f7f8fa 100%);
  }
  &[data-path="teal"]:before {
    background: linear-gradient(135deg, @teal 36%, #f7f8fa 100%);
  }
  &[data-path="production-order"]:before {
    background: linear-gradient(135deg, @teal 36%, #f7f8fa 100%);
  }
  &[data-path="new-trimming-order"]:before {
    background: linear-gradient(135deg, @green 36%, #f7f8fa 100%);
  }

  display: flex;
  flex-direction: column;
  & > nav,
  & > div,
  & > footer {
    width: 100%;
  }
  & > footer {
    margin-top: auto;
    padding: 30px 0 1px !important;
    .row.footer-bottom-line.mt-5 {
      margin-top: 15px !important;
    }
  }
}

footer.web-footer {
  display: none;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

span,
a {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
span,
b,
strong,
i,
a,
li,
input,
textarea,
div {
  .default-font;
}

.close-button {
  cursor: pointer;
}

p,
a,
input,
span {
  font-weight: 500;
}

.text-12 {
  font-size: 12px;
  line-height: normal;
}
.text-13 {
  font-size: 13px;
  line-height: normal;
}
.text-14 {
  font-size: 14px;
  line-height: normal;
}
.text-15 {
  font-size: 15px;
  line-height: normal;
}
.text-16 {
  font-size: 16px;
  line-height: normal;
}
.text-17 {
  font-size: 17px;
  line-height: normal;
}
.text-18 {
  font-size: 18px;
  line-height: normal;
}
.text-19 {
  font-size: 19px;
  line-height: normal;
}
.text-10 {
  font-size: 20px;
  line-height: normal;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

nav.navbar {
  padding: 20px 25px;
  min-height: 80px;
  & > .container {
    max-width: none !important;
  }
  background: white !important;
  .navbar-brand {
    color: #27282a !important;
  }

  .nav-link {
    color: #19273d !important;
    font-weight: 600;
    font-size: 14px;
    span {
      font-weight: inherit;
    }
    .user-image-wrapper {
      .standard-image {
        margin-right: 15px;
        border-radius: 0% !important;
        border: none !important;
        background: white !important;
        text-indent: -9999px;
        background: url(./images/icons/user.svg) center center no-repeat !important;
        background-size: contain;
      }
    }
  }
  .dropdown-menu {
    background-color: white !important;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px fade(black, 5%);
    border-color: white;
    padding: 10px;
    a {
      color: black;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 8px;
      transition: all 0.2s linear;
      padding: 8px 12px;
      font-weight: 600;
      &:hover,
      &:active {
        background: #f7f8fa;
        color: #3b3dbf;
      }
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }
}

main {
  z-index: 1;
}

.page-with-sidebar {
  min-height: calc(~"100vh - 80px");
}
main.container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.btn {
  font-size: 14px;
  border: none !important;
  &.btn-primary {
    min-width: 100px;
    color: white;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    background: @theme;
    box-shadow: 0 8px 14px 0 fade(@theme, 40%);
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }
  &.btn-yellow {
    background: @yellow;
    color: white;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    box-shadow: 0 8px 14px 0 fade(@yellow, 40%);
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }
  &.btn-green {
    background: @green;
    color: white;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    box-shadow: 0 8px 14px 0 fade(@green, 40%);
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }
  &.btn-teal {
    background: @teal;
    color: white;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    box-shadow: 0 8px 14px 0 fade(@teal, 40%);
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }
  &.btn-orange {
    background: @orange;
    color: white;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    box-shadow: 0 8px 14px 0 fade(@orange, 40%);
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }

  &.btn-link {
    color: @theme !important;
    font-weight: bold;
    &.btn-sm {
      font-size: small;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.btn-default,
  &.btn-light {
    min-width: 100px;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    border: 1px solid #8e949a;
    background: transparent;
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
  }
  &.btn-secondary {
    min-width: 100px;
    @media (min-width: 1440px) {
      min-width: 160px;
    }
    border: 1px solid #8e949a;
    background: transparent;
    border-radius: 22px;
    padding: 0px 26px;
    height: 44px;
    line-height: 44px;
    color: #2e3338 !important;
  }
}

.page_content {
  width: 100%;
  overflow: inherit !important;
  h1 {
    color: #19273d;
    font-size: 30px;
    font-weight: 600;
    line-height: 46px;
    margin: 0;
  }
}

h2 {
  color: #19273d;
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  color: #19273d;
  font-size: 18px;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 25px;
}

h4 {
  color: #19273d;
  font-size: 16px;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}

h5 {
  color: #19273d;
  font-size: 15px;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 15px;
}

.nav.nav-tabs {
  border: none !important;
  li.nav-item {
    background: transparent;
    margin-bottom: 0;
    position: relative;
    overflow: visible;
    &:nth-child(1) a {
      z-index: 5;
    }
    &:nth-child(2) a {
      z-index: 4;
    }
    &:nth-child(3) a {
      z-index: 3;
    }
    &:nth-child(4) a {
      z-index: 2;
    }
    &:nth-child(5) a {
      z-index: 1;
    }
    .nav-link {
      box-shadow: 0 3px 13px 0 rgba(151, 151, 167, 0.31);
      border-radius: 15px 15px 0 0 !important;
      background: #f8f8fd;
      color: black;
      position: relative;
      z-index: 1;
      border: none !important;
      padding: 20px 25px;
      font-size: 18px;
      font-weight: 600;
      color: #19273d;
      span {
        display: inline-block;
        &.notification {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            display: block;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            right: -12px;
            top: -2px;
            background: @red;
          }
        }
      }

      &.active {
        box-shadow: 0 -9px 9px 0 rgba(151, 151, 167, 0.11);
        background: white !important;
        z-index: 9 !important;
        color: #19273d;
      }
    }
  }
  & + div {
    border-radius: 0 0 15px 15px !important;
  }
}

.badge {
  border: 1px solid #c8cbcd;
  border-radius: 21px;
  height: 25px;
  font-size: 13px !important;
  color: #828990;
  line-height: 25px !important;
  padding: 0 15px;
  display: inline-block;
}

.tab-content {
  .table-wrapper {
    border-radius: 0 0 15px 15px !important;
  }
}

.table-wrapper {
  background: white !important;
  position: relative;
  z-index: 8 !important;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(151, 151, 167, 0.21);
}

.table-section.table-responsive {
  padding: 1px;
}

table,
table.table {
  thead {
    background: transparent !important;
  }
  th,
  thead th {
    color: #828990;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    border: none !important;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: 1440px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .two-icons {
    width: 75px;
    padding-left: 0;
    padding-right: 0;
    @media (min-width: 1440px) {
      width: 98px;
    }
  }

  tbody {
    tr {
      background: white !important;
    }
    td {
      vertical-align: middle;
      .fa {
        cursor: pointer;
        display: inline-block;
        margin: 0 4px;
      }
      img.cancel {
        display: inline-block;
        width: 22px;
        cursor: pointer;
        margin: 0 4px;
      }
    }
  }

  // stripped styles for the table
  &:not(.table-custom-header) {
    tbody {
      tr:nth-child(2n + 1) {
        border-radius: 10px;
        td,
        th {
          background-color: #f7f8fa !important;
          &:first-child {
            border-radius: 10px 0 0 10px;
          }
          &:last-child {
            border-radius: 0 10px 10px 0;
          }
        }
      }
    }
  }

  td {
    color: #19273d;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    padding: 15px 10px;
    @media (min-width: 1440px) {
      padding: 24px 20px;
    }
    border: none !important;
    span {
      display: block;
      color: #828990;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 21px;
      &.btn-delivery {
        display: inline-block;
        color: #828990;
        height: 26px;
        line-height: 26px;
        border-radius: 13px;
        border: 1px solid #c8cbcd;
        padding: 0 15px;
        &.delivered {
          color: @theme;
          border-color: @theme;
        }
      }
    }
  }
}

ol.breadcrumb,
ul.breadcrumbs {
  li,
  li.breadcrumb-item {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding: 0 !important;
    font-size: 0;
    &:before {
      margin: 0 10px;
      padding: 0 !important;
      -webkit-text-stroke: 1px white;
      display: inline-block;
      content: "\f061" !important;
      font-family: "FontAwesome";
      font-size: medium;
      opacity: 0.3;
    }
    &:first-child {
      &:before {
        content: "" !important;
        display: none;
        visibility: hidden;
      }
    }
    a {
      color: #808389;
      font-size: 14px;
      text-decoration: none !important;
      line-height: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}

.page-with-sidebar {
  display: flex;
  .sidebar {
    display: block;
    width: 300px;
    background: white;
    z-index: 2;
    border-right: 1px solid #e6e6e6;
    .list-group {
      border-radius: 0;
      a {
        color: #19273d;
        border: none;
        border-radius: 0;
        padding: 23px 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 14px;
        transition: all 0.2s linear;
        &:hover {
          background: fade(black, 1%);
        }

        i {
          opacity: 0.7;
          width: 30px;
          text-align: left;
          margin-right: 25px;
          background-position: center top;
        }
        &.active {
          color: #27282a;
          i {
            filter: brightness(0.22) sepia(1) hue-rotate(193deg) saturate(16);
          }
        }
      }
      a[aria-expanded="true"] {
        background: #f5f6f8 !important;
        color: #27282a !important;
      }

      & > div > .list-group {
        a {
          padding: 15px 15px 15px 70px !important;
          &.active,
          &:hover {
            color: @theme;
          }
        }
        & > div > .list-group {
          background: white !important;
          a {
            padding-left: 90px !important;
            &:hover {
              color: @theme;
            }
          }
        }
      }
    }
  }
  .page-body {
    display: block;
    width: calc(~"100% - 300px");
    padding: 30px 60px;
  }
  &.right-sidebar {
    .sidebar.right {
      order: 2;
      width: 375px;
      border-left: 1px solid #e6e6e6;
      .sidebar-inner {
        padding: 60px;
      }
    }
    .page-body {
      order: 1;
      width: calc(~"100% - 375px");
    }
  }
}

.data-box-ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    width: 200px;
    margin-right: 30px;
  }
}

.data-box {
  display: flex;
  align-items: center;
  background: @theme;
  padding: 14px 18px;
  border-radius: 20px;
  color: white;
  position: relative;
  margin-bottom: 30px;
  img {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  h3 {
    font-size: 14px;
    padding-left: 20px;
    margin: 0;
    color: white;
  }
  span {
    position: absolute;
    right: -3px;
    top: -3px;
    border-radius: 50%;
    display: block;
    height: 32px;
    width: 32px;
    border: 2px solid @theme;
    background: white;
    line-height: 32px;
    text-align: center;
    color: #19273d;
    font-size: 13px;
    font-weight: 600;
  }
  &.orange {
    background: #fdbd59;
    span {
      border-color: #fdbd59;
    }
  }
  &.purple {
    background: #6c6ebb;
    span {
      border-color: #6c6ebb;
    }
  }
  &.blue {
    background: #80c5dc;
    span {
      border-color: #80c5dc;
    }
  }
  &.red {
    background: #f88d60;
    span {
      border-color: #f88d60;
    }
  }
  &.green {
    background: #6bbaa5;
    span {
      border-color: #6bbaa5;
    }
  }
}

.card {
  border-radius: 15px;
  box-shadow: 0 5px 15px 4px fade(black, 5%);
  border: 1px solid #f7f7f7;
  p {
    &.label {
      opacity: 0.5;
      margin: 0;
      margin: 0 0 15px 0;
    }
    &.value {
      margin: 0;
      font-size: 150% !important;
    }
  }
}

input.form-control,
select.form-control {
  border-color: #dadada !important;
  font-size: 15px;
  border-radius: 5px;
  line-height: 15px;
  box-shadow: none !important;
  outline: none !important;
  padding: 12px 15px;
  height: 45px;
}

select {
  appearance: none !important;
  -moz-appearance: window;
  -webkit-appearance: none;
  background: url("./images/icons/chev-down.svg") right 12px center no-repeat;
  background-size: 12px auto;
  padding-right: 35px !important;
}

.table.table-bordered {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #dadada;
  th {
    white-space: nowrap;
  }
  td,
  th {
    border: 1px solid #dadada;
    vertical-align: middle;
  }
  thead {
    th {
      &:first-child {
        border-top-left-radius: 15px;
      }
    }
  }
}

.table-custom-header {
  background: #f8f8fd;
  th {
    background: transparent !important;
    border: none !important;
    text-align: center;
  }
  td {
    background: white !important;
    text-align: center;
  }
}

ul.order-summary {
  list-style-type: none;
  padding: 10px 30px;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  li {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
    span {
      color: #898f96;
      &:last-child {
        color: #19273d;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.order-summary-download {
  display: block;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 70px;
  text-align: center;
  color: #19273d;
  text-decoration: none !important;
  img {
    width: 80%;
    max-width: 40px;
    text-align: center;
    display: block;
    margin: 30px auto 15px;
  }
  span {
    display: block;
    width: 100%;
  }
  background: url(./images/icons/print.svg) bottom 10px right 10px no-repeat;
  background-size: 30px auto;
}

label.custom-checkbox {
  margin: 0;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
  }
  span.icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    transition: all 0.2s linear;
  }
  input[type="checkbox"]:checked + span.icon {
    background-color: @theme;
    border-color: @theme;
    background-image: url(./images/icons/checkbox-tick.svg);
  }
}

.page-links {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0 0 40px 0;
  li {
    display: inline-block;
    margin-right: 60px;
    a {
      font-size: 16px;
      color: #828990;
      text-decoration: none !important;
      &.active {
        position: relative;
        color: #303c50;
        &:after {
          display: block;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          content: "";
          height: 3px;
          background: @purple;
        }
      }
    }
  }
  &.yellow {
    li a:after {
      background: @yellow !important;
    }
  }
  &.teal {
    li a:after {
      background: @teal !important;
    }
  }
  &.orange {
    li a:after {
      background: @orange !important;
    }
  }
  &.green {
    li a:after {
      background: @green !important;
    }
  }
}

label.fabric-form-input {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  position: relative;
  margin: 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: @yellow;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px fade(@yellow, 25%);
  }
  .btn.date-picker {
    color: transparent !important;
    overflow: hidden;
    outline: none !important;
    box-shadow: none !important;
    height: 32px;
    width: 32px;
    background: url("./images/icons/calendar.svg") center center no-repeat,
      url("./images/icons/calendar-hover.svg") center center no-repeat;
    background-size: contain, 0 0;
    &:hover,
    &.active {
      background-size: 0 0, contain;
    }
  }
}

&[data-path="new-fabric-order"] {
  .fabric-form-input:before {
    background: @yellow;
    box-shadow: 0 0 0 6px fade(@yellow, 25%);
  }
  button.btn,
  a.btn {
    background: @yellow !important;
    box-shadow: 0 8px 14px 0 fade(@yellow, 40%) !important;
  }
}
&[data-path="shipment-order"] {
  .fabric-form-input:before {
    background: @orange;
    box-shadow: 0 0 0 6px fade(@orange, 25%);
  }
  button.btn,
  a.btn {
    background: @orange !important;
    box-shadow: 0 8px 14px 0 fade(@orange, 40%) !important;
  }
}
&[data-path="teal"] {
  .fabric-form-input:before {
    background: @teal;
    box-shadow: 0 0 0 6px fade(@teal, 25%);
  }
  button.btn,
  a.btn {
    background: @teal !important;
    box-shadow: 0 8px 14px 0 fade(@teal, 40%) !important;
  }
}
&[data-path="production-order"] {
  .fabric-form-input:before {
    background: @teal;
    box-shadow: 0 0 0 6px fade(@teal, 25%);
  }
  button.btn,
  a.btn {
    background: @teal !important;
    box-shadow: 0 8px 14px 0 fade(@teal, 40%) !important;
  }
}
&[data-path="new-trimming-order"] {
  .fabric-form-input:before {
    background: @green;
    box-shadow: 0 0 0 6px fade(@green, 25%);
  }
  button.btn,
  a.btn {
    background: @green !important;
    box-shadow: 0 8px 14px 0 fade(@green, 40%) !important;
  }
}

.text-mute {
  color: #bbb !important;
}

.text-yellow {
  color: @yellow !important;
}
.text-teal {
  color: @teal !important;
}
.text-orange {
  color: @orange !important;
}
.text-green {
  color: @green !important;
}

.custom-download-card {
  background: white;
  .card;
  text-align: center;
  padding: 30px;
  position: relative;
  width: 80%;
  max-width: 200px;
  p {
    margin: 0;
    color: #19273d;
  }
  img {
    display: block;
    width: 42px;
    height: auto;
    margin: 0 auto 20px;
    cursor: pointer;
  }
  input {
    display: none;
  }
  a {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -9999999px;
    background: url(images/icons/print.svg) center center no-repeat;
    background-size: 30px auto;
  }
}

.modal-dialog {
  @media (min-width: 768px) {
    max-width: 560px;
  }
}

.modal-header {
  border: none !important;
  .close {
    outline: none !important;
    box-shadow: none !important;
    span {
      font-family: auto;
      font-weight: 100;
    }
  }
  @media (min-width: 1200px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    .close {
      position: absolute;
      top: 10px;
      right: 13px;
    }
  }
  .modal-title {
    font-size: 20px;
  }
}
.modal-body {
  @media (min-width: 1200px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.page-breadcrumbs {
  & + div.d-flex {
    margin-top: 70px;
    margin-bottom: 25px;
  }
}
