@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf)
      format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1s.ttf)
      format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6V1s.ttf)
      format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1s.ttf)
      format("truetype");
}
.custom-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 20px;
  position: relative;
}
.custom-icon.icon-home {
  background-image: url(images/icons/home.svg);
}
.custom-icon.icon-client {
  background-image: url(images/icons/client.svg);
}
.custom-icon.icon-edit {
  background-image: url(images/icons/edit.svg);
}
.custom-icon.icon-finance {
  background-image: url(images/icons/finance.svg);
}
.custom-icon.icon-list {
  background-image: url(images/icons/list.svg);
}
.custom-icon.icon-settings {
  background-image: url(images/icons/settings.svg);
}
.custom-icon.icon-logout {
  background-image: url(images/icons/logout.svg);
}
.custom-icon.icon-shipment {
  background-image: url(images/icons/shipment.svg);
}
.custom-icon.icon-stock {
  background-image: url(images/icons/stock.svg);
}
.custom-icon.icon-user {
  background-image: url(images/icons/user.svg);
}
.custom-icon.icon-document {
  background-image: url(images/icons/document.svg);
}
.default-font {
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  font-size: 14px;
  background: white !important;
  display: flex;
  flex-direction: column;
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(134.96deg, #9092ff 0%, #f7f8fa 100%);
  opacity: 0.08;
  z-index: 0;
  pointer-events: none;
}
body[data-path="orange"]:before {
  background: linear-gradient(
    134.96deg,
    rgba(248, 141, 96, 0.36) 0%,
    #f7f8fa 100%
  );
}
body[data-path="teal"]:before {
  background: linear-gradient(
    134.96deg,
    rgba(128, 197, 220, 0.36) 0%,
    #f7f8fa 100%
  );
}
body[data-path="green"]:before {
  background: linear-gradient(
    134.96deg,
    rgba(107, 186, 165, 0.36) 0%,
    #f7f8fa 100%
  );
}
body > nav,
body > div,
body > footer {
  width: 100%;
}
body > footer {
  margin-top: auto;
  padding: 30px 0 1px !important;
}
body > footer .row.footer-bottom-line.mt-5 {
  margin-top: 15px !important;
}
footer.web-footer {
  display: none;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
span,
b,
strong,
i,
a,
li,
input,
textarea,
div {
  font-family: "Poppins", sans-serif;
}
.close-button {
  cursor: pointer;
}
p,
a,
input,
span {
  font-weight: 500;
}
.text-12 {
  font-size: 12px;
  line-height: normal;
}
.text-13 {
  font-size: 13px;
  line-height: normal;
}
.text-14 {
  font-size: 14px;
  line-height: normal;
}
.text-15 {
  font-size: 15px;
  line-height: normal;
}
.text-16 {
  font-size: 16px;
  line-height: normal;
}
.text-17 {
  font-size: 17px;
  line-height: normal;
}
.text-18 {
  font-size: 18px;
  line-height: normal;
}
.text-19 {
  font-size: 19px;
  line-height: normal;
}
.text-10 {
  font-size: 20px;
  line-height: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
nav.navbar {
  padding: 20px 25px;
  min-height: 80px;
  background: white !important;
}
nav.navbar > .container {
  max-width: none !important;
}
nav.navbar .navbar-brand {
  color: #27282a !important;
}
nav.navbar .nav-link {
  color: #19273d !important;
  font-weight: 600;
  font-size: 14px;
}
nav.navbar .nav-link span {
  font-weight: inherit;
}
nav.navbar .nav-link .user-image-wrapper .standard-image {
  margin-right: 15px;
  border-radius: 0% !important;
  border: none !important;
  background: white !important;
  text-indent: -9999px;
  background: url(images/icons/user.svg) center center no-repeat !important;
  background-size: contain;
}
nav.navbar .dropdown-menu {
  background-color: white !important;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
  border-color: white;
  padding: 10px;
}
nav.navbar .dropdown-menu a {
  color: black;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
  transition: all 0.2s linear;
  padding: 8px 12px;
  font-weight: 600;
}
nav.navbar .dropdown-menu a:hover,
nav.navbar .dropdown-menu a:active {
  background: #f7f8fa;
  color: #3b3dbf;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }
}
main {
  z-index: 1;
}
.page-with-sidebar {
  min-height: calc(100vh - 80px);
}
main.container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}
.btn {
  font-size: 14px;
}
.btn.btn-primary {
  min-width: 100px;
  color: white;
  background: #3b3dbf;
  box-shadow: 0 8px 14px 0 rgba(59, 61, 191, 0.4);
  border-radius: 22px;
  padding: 0px 26px;
  height: 44px;
  line-height: 44px;
}
@media (min-width: 1440px) {
  .btn.btn-primary {
    min-width: 160px;
  }
}
.btn.btn-yellow {
  background: #f8c331;
  color: white;
  box-shadow: 0 8px 14px 0 rgba(248, 195, 49, 0.4);
  border-radius: 22px;
  padding: 0px 26px;
  height: 44px;
  line-height: 44px;
}
@media (min-width: 1440px) {
  .btn.btn-yellow {
    min-width: 160px;
  }
}
.btn.btn-link {
  color: #3b3dbf !important;
  font-weight: bold;
}
.btn.btn-link.btn-sm {
  font-size: small;
}
.btn.btn-link:hover {
  text-decoration: none;
}
.btn.btn-default,
.btn.btn-light {
  min-width: 100px;
  border: 1px solid #8e949a;
  background: transparent;
  border-radius: 22px;
  padding: 0px 26px;
  height: 44px;
  line-height: 44px;
}
@media (min-width: 1440px) {
  .btn.btn-default,
  .btn.btn-light {
    min-width: 160px;
  }
}
.btn.btn-secondary {
  min-width: 100px;
  border: 1px solid #8e949a;
  background: transparent;
  border-radius: 22px;
  padding: 0px 26px;
  height: 44px;
  line-height: 44px;
  color: #2e3338 !important;
}
@media (min-width: 1440px) {
  .btn.btn-secondary {
    min-width: 160px;
  }
}
.page_content {
  width: 100%;
  overflow: inherit !important;
}
.page_content h1 {
  color: #19273d;
  font-size: 30px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 40px;
}
h2 {
  color: #19273d;
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
h3 {
  color: #19273d;
  font-size: 18px;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 25px;
}
h4 {
  color: #19273d;
  font-size: 16px;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
h5 {
  color: #19273d;
  font-size: 15px;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 15px;
}
.nav.nav-tabs {
  border: none !important;
}
.nav.nav-tabs li.nav-item {
  background: transparent;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
}
.nav.nav-tabs li.nav-item:nth-child(1) a {
  z-index: 5;
}
.nav.nav-tabs li.nav-item:nth-child(2) a {
  z-index: 4;
}
.nav.nav-tabs li.nav-item:nth-child(3) a {
  z-index: 3;
}
.nav.nav-tabs li.nav-item:nth-child(4) a {
  z-index: 2;
}
.nav.nav-tabs li.nav-item:nth-child(5) a {
  z-index: 1;
}
.nav.nav-tabs li.nav-item .nav-link {
  box-shadow: 0 3px 13px 0 rgba(151, 151, 167, 0.31);
  border-radius: 15px 15px 0 0 !important;
  background: #f8f8fd;
  color: black;
  position: relative;
  z-index: 1;
  border: none !important;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 600;
  color: #19273d;
}
.nav.nav-tabs li.nav-item .nav-link span {
  display: inline-block;
}
.nav.nav-tabs li.nav-item .nav-link span.notification {
  position: relative;
}
.nav.nav-tabs li.nav-item .nav-link span.notification:after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  right: -12px;
  top: -2px;
  background: #db3838;
}
.nav.nav-tabs li.nav-item .nav-link.active {
  box-shadow: 0 -9px 9px 0 rgba(151, 151, 167, 0.11);
  background: white !important;
  z-index: 9 !important;
  color: #19273d;
}
.nav.nav-tabs + div {
  border-radius: 0 0 15px 15px !important;
}
.badge {
  border: 1px solid #c8cbcd;
  border-radius: 21px;
  height: 25px;
  font-size: 13px !important;
  color: #828990;
  line-height: 25px !important;
  padding: 0 15px;
  display: inline-block;
}
.tab-content .table-wrapper {
  border-radius: 0 0 15px 15px !important;
}
.table-wrapper {
  background: white !important;
  position: relative;
  z-index: 8 !important;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(151, 151, 167, 0.21);
}
table thead,
table.table thead {
  background: transparent !important;
}
table th,
table.table th,
table thead th,
table.table thead th {
  color: #828990;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  border: none !important;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1440px) {
  table th,
  table.table th,
  table thead th,
  table.table thead th {
    padding-left: 20px;
    padding-right: 20px;
  }
}
table .two-icons,
table.table .two-icons {
  width: 75px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1440px) {
  table .two-icons,
  table.table .two-icons {
    width: 98px;
  }
}
table tbody tr,
table.table tbody tr {
  background: white !important;
}
table tbody td,
table.table tbody td {
  vertical-align: middle;
}
table tbody td .fa,
table.table tbody td .fa {
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
}
table tbody td img.cancel,
table.table tbody td img.cancel {
  display: inline-block;
  width: 22px;
  cursor: pointer;
  margin: 0 4px;
}
table tbody tr:nth-child(2n + 1),
table.table tbody tr:nth-child(2n + 1) {
  border-radius: 10px;
}
table tbody tr:nth-child(2n + 1) td,
table.table tbody tr:nth-child(2n + 1) td,
table tbody tr:nth-child(2n + 1) th,
table.table tbody tr:nth-child(2n + 1) th {
  background-color: #f7f8fa !important;
}
table tbody tr:nth-child(2n + 1) td:first-child,
table.table tbody tr:nth-child(2n + 1) td:first-child,
table tbody tr:nth-child(2n + 1) th:first-child,
table.table tbody tr:nth-child(2n + 1) th:first-child {
  border-radius: 10px 0 0 10px;
}
table tbody tr:nth-child(2n + 1) td:last-child,
table.table tbody tr:nth-child(2n + 1) td:last-child,
table tbody tr:nth-child(2n + 1) th:last-child,
table.table tbody tr:nth-child(2n + 1) th:last-child {
  border-radius: 0 10px 10px 0;
}
table td,
table.table td {
  color: #19273d;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  padding: 15px 10px;
  border: none !important;
}
@media (min-width: 1440px) {
  table td,
  table.table td {
    padding: 24px 20px;
  }
}
table td span,
table.table td span {
  display: block;
  color: #828990;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}
table td span.btn-delivery,
table.table td span.btn-delivery {
  display: inline-block;
  color: #828990;
  height: 26px;
  line-height: 26px;
  border-radius: 13px;
  border: 1px solid #c8cbcd;
  padding: 0 15px;
}
table td span.btn-delivery.delivered,
table.table td span.btn-delivery.delivered {
  color: #3b3dbf;
  border-color: #3b3dbf;
}
ol.breadcrumb li:before {
  margin: 0 10px;
  padding: 0 !important;
  -webkit-text-stroke: 1px white;
  display: inline-block;
  content: "\f061" !important;
  font-family: "FontAwesome";
  font-size: medium;
  opacity: 0.3;
}
ol.breadcrumb li:first-child:before {
  content: "" !important;
  display: none;
  visibility: hidden;
}
ol.breadcrumb li a {
  color: #808389;
  text-decoration: none !important;
}
ul.breadcrumbs {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}
ul.breadcrumbs li {
  display: inline-block;
}
ul.breadcrumbs li:before {
  margin: 0 10px;
  -webkit-text-stroke: 1px white;
  display: inline-block;
  content: "\f061" !important;
  font-family: "FontAwesome";
  font-size: medium;
  opacity: 0.3;
}
ul.breadcrumbs li:first-child:before {
  content: "" !important;
  display: none;
  visibility: hidden;
}
ul.breadcrumbs li a {
  color: #808389;
  text-decoration: none !important;
}
.page-with-sidebar {
  display: flex;
}
.page-with-sidebar .sidebar {
  display: block;
  width: 300px;
  background: white;
  z-index: 2;
  border-right: 1px solid #e6e6e6;
}
.page-with-sidebar .sidebar .list-group {
  border-radius: 0;
}
.page-with-sidebar .sidebar .list-group a {
  color: #19273d;
  border: none;
  border-radius: 0;
  padding: 23px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  transition: all 0.2s linear;
}
.page-with-sidebar .sidebar .list-group a:hover {
  background: rgba(0, 0, 0, 0.01);
}
.page-with-sidebar .sidebar .list-group a i {
  opacity: 0.7;
  width: 30px;
  text-align: left;
  margin-right: 25px;
  background-position: center top;
}
.page-with-sidebar .sidebar .list-group a.active {
  background: white;
  color: #27282a;
}
.page-with-sidebar .sidebar .list-group a.active i {
  filter: brightness(0.22) sepia(1) hue-rotate(193deg) saturate(16);
}
.page-with-sidebar .sidebar .list-group a[aria-expanded="true"] {
  background: #f5f6f8 !important;
  color: #27282a !important;
}
.page-with-sidebar .sidebar .list-group > div > .list-group a {
  padding: 15px 15px 15px 70px !important;
}
.page-with-sidebar .sidebar .list-group > div > .list-group a.active {
  color: #3b3dbf;
  background: white !important;
}
.page-with-sidebar
  .sidebar
  .list-group
  > div
  > .list-group
  > div
  > .list-group
  a {
  padding-left: 90px !important;
  background: rgba(0, 0, 0, 0.05);
}
.page-with-sidebar
  .sidebar
  .list-group
  > div
  > .list-group
  > div
  > .list-group
  a:hover {
  background: rgba(0, 0, 0, 0.01);
}
.page-with-sidebar .page-body {
  display: block;
  width: calc(100% - 300px);
  padding: 30px 60px;
}
.page-with-sidebar.right-sidebar .sidebar.right {
  order: 2;
  width: 375px;
  border-left: 1px solid #e6e6e6;
}
.page-with-sidebar.right-sidebar .sidebar.right .sidebar-inner {
  padding: 60px;
}
.page-with-sidebar.right-sidebar .page-body {
  order: 1;
  width: calc(100% - 375px);
}
.data-box-ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.data-box-ul li {
  display: inline-block;
  width: 200px;
  margin-right: 30px;
}
.data-box {
  display: flex;
  align-items: center;
  background: #3b3dbf;
  padding: 14px 18px;
  border-radius: 20px;
  color: white;
  position: relative;
  margin-bottom: 30px;
}
.data-box img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.data-box h3 {
  font-size: 14px;
  padding-left: 20px;
  margin: 0;
  color: white;
}
.data-box span {
  position: absolute;
  right: -3px;
  top: -3px;
  border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
  border: 2px solid #3b3dbf;
  background: white;
  line-height: 32px;
  text-align: center;
  color: #19273d;
  font-size: 13px;
  font-weight: 600;
}
.data-box.orange {
  background: #fdbd59;
}
.data-box.orange span {
  border-color: #fdbd59;
}
.data-box.purple {
  background: #6c6ebb;
}
.data-box.purple span {
  border-color: #6c6ebb;
}
.data-box.blue {
  background: #80c5dc;
}
.data-box.blue span {
  border-color: #80c5dc;
}
.data-box.red {
  background: #f88d60;
}
.data-box.red span {
  border-color: #f88d60;
}
.data-box.green {
  background: #6bbaa5;
}
.data-box.green span {
  border-color: #6bbaa5;
}
.card {
  border-radius: 15px;
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #f7f7f7;
}
.card p.label {
  opacity: 0.5;
  margin: 0;
  margin: 0 0 15px 0;
}
.card p.value {
  margin: 0;
  font-size: 150% !important;
}
input.form-control,
select.form-control {
  border-color: #dadada !important;
  font-size: 15px;
  border-radius: 5px;
  line-height: 15px;
  box-shadow: none !important;
  outline: none !important;
  padding: 12px 15px;
  height: 45px;
}
select {
  appearance: none !important;
  -moz-appearance: window;
  -webkit-appearance: none;
  background: url("images/icons/chev-down.svg") right 12px center no-repeat;
  background-size: 12px auto;
}
.table.table-bordered {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #dadada;
}
.table.table-bordered th {
  white-space: nowrap;
}
.table.table-bordered td,
.table.table-bordered th {
  border: 1px solid #dadada;
  vertical-align: middle;
}
.table.table-bordered thead th:first-child {
  border-top-left-radius: 15px;
}
.table-custom-header {
  background: #f8f8fd;
}
.table-custom-header th {
  background: transparent !important;
  border: none !important;
  text-align: center;
}
.table-custom-header td {
  background: white !important;
  text-align: center;
}
ul.order-summary {
  list-style-type: none;
  padding: 10px 30px;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
ul.order-summary li {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
}
ul.order-summary li span {
  color: #898f96;
}
ul.order-summary li span:last-child {
  color: #19273d;
}
ul.order-summary li:last-child {
  border-bottom: none;
}
.order-summary-download {
  display: block;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 70px;
  text-align: center;
  color: #19273d;
  text-decoration: none !important;
  background: url(images/icons/print.svg) bottom 10px right 10px no-repeat;
  background-size: 30px auto;
}
.order-summary-download img {
  width: 80%;
  max-width: 40px;
  text-align: center;
  display: block;
  margin: 30px auto 15px;
}
.order-summary-download span {
  display: block;
  width: 100%;
}
label.custom-checkbox {
  margin: 0;
  cursor: pointer;
}
label.custom-checkbox input[type="checkbox"] {
  display: none;
}
label.custom-checkbox span.icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  border-radius: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  transition: all 0.2s linear;
}
label.custom-checkbox input[type="checkbox"]:checked + span.icon {
  background-color: #3b3dbf;
  border-color: #3b3dbf;
  background-image: url(images/icons/checkbox-tick.svg);
}
.page-links {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0 0 40px 0;
}
.page-links li {
  display: inline-block;
  margin-right: 60px;
}
.page-links li a {
  font-size: 16px;
  color: #828990;
  text-decoration: none !important;
}
.page-links li a.active {
  position: relative;
  color: #303c50;
}
.page-links li a.active:after {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  content: "";
  height: 3px;
  background: #6c6ebb;
}
.page-links.yellow li a:after {
  background: #f8c331 !important;
}
.page-links.teal li a:after {
  background: #80c5dc !important;
}
.page-links.orange li a:after {
  background: #f88d60 !important;
}
label.fabric-form-input {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  position: relative;
  margin: 0;
}
label.fabric-form-input:before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #f8c331;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(248, 195, 49, 0.25);
}
label.fabric-form-input .btn.date-picker {
  margin-left: auto;
  color: transparent !important;
  overflow: hidden;
  outline: none !important;
  box-shadow: none !important;
  height: 32px;
  width: 32px;
  background: url("images/icons/calendar.svg") center center no-repeat,
    url("images/icons/calendar-hover.svg") center center no-repeat;
  background-size: contain, 0 0;
}
label.fabric-form-input .btn.date-picker:hover,
label.fabric-form-input .btn.date-picker.active {
  background-size: 0 0, contain;
}
.text-mute {
  color: #bbb !important;
}
.text-yellow {
  color: #f8c331 !important;
}
.text-teal {
  color: #80c5dc !important;
}
.text-orange {
  color: #f88d60 !important;
}
.text-green {
  color: #6bbaa5 !important;
}
.custom-download-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #f7f7f7;
  text-align: center;
  padding: 30px;
  position: relative;
  width: 80%;
  max-width: 200px;
}
.custom-download-card p.label {
  opacity: 0.5;
  margin: 0;
  margin: 0 0 15px 0;
}
.custom-download-card p.value {
  margin: 0;
  font-size: 150% !important;
}
.custom-download-card p {
  margin: 0;
  color: #19273d;
}
.custom-download-card img {
  display: block;
  width: 42px;
  height: auto;
  margin: 0 auto 20px;
  cursor: pointer;
}
.custom-download-card input {
  display: none;
}
.custom-download-card a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  display: block;
  text-indent: -9999999px;
  background: url(images/icons/print.svg) center center no-repeat;
  background-size: 30px auto;
}
.modal-header {
  border: none !important;
}
@media (min-width: 1200px) {
  .modal-header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.modal-header .modal-title {
  font-size: 20px;
}
@media (min-width: 1200px) {
  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.page-breadcrumbs + div {
  margin-top: 70px;
  margin-bottom: 25px;
}
