{{ breadcrumb([{'label':'Home','url':'/'},{'label':'Production','url':'/'},{'label':'Product Orders','url':'/production-order'}]) }}

<div class="col-12">
    <ul class="page-links ">
        <li><a href="#" class="active">{{_("Order")}}</a></li>
        <li><a href="/production-dashboard">{{_("List")}}</a></li>
        <!-- <li><a href="#">Manage</a></li> -->
    </ul>
</div>


<div class="title-with-image d-flex align-items-center">
    <img src="/assets/erpnext/images/icons/title-production.svg" alt="" class="mr-3">
    <h2 class="my-0">{{_("Bulk Order")}}</h2>
</div>
{# this page is used for both new client purchase and client purchase summary page #}

{% macro dropdown(items,class,id,typetwo) %}
<div class="form-group">

    <select class="form-control {{class}}" id="{{id}}">
        <option  value="" selected disabled>---:---</option>
        {% for i in items %}
        {% if typetwo %}
        <option value="{{i.name}}">{{i.item_name}}</option>
        {% elif i.factory %}
        {% set factory = frappe.get_all("Production Factory",{"name":i.parent},["is_official"]) %}
        <option value="{{i.name}}">{{i.parent}}
            {% if factory|length>0 %}
                {% if factory[0]["is_official"]==1 %}
                    &#xf05d;
                {% endif %}
            {% endif %}
        </option>
        {% elif i.name %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% elif i.fabric_ref %}
        <option value="{{i.fabric_ref}}">{{i.fabric_ref}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro dropdown2(items,isPos,isCategory) %}


{% for i in items %}
{% if isPos %}
<option value="{{i.name}}" data-type=1>{{i.point_of_sale}}</option>
{% elif isCategory %}
<option value="{{i.name}}" data-type=0>{{i.item_group_name}}</option>
{% elif i.name %}
<option value="{{i.name}}" data-type=0>{{i.name}}</option>
{% elif i.fabric_ref %}
<!-- <option value="{{i.fabric_ref}}">{{i.fabric_ref}}</option> -->
{% else %}
<!-- <option value="{{i}}">{{i}}</option> -->
{% endif %}
{% endfor %}


{% endmacro %}


<div id="container" class="mt-3">

    <div class="card" style="">
        <div class="card-body">
            <div class="upper">
                <div class="row">
                    <div class="col-4">
                        <div class="m-3">
                            <label for="" class="d-flex">{{_("Product Category")}}
                            </label>
                            <select class="form-control destination_list" id="category_list">
                                <option  value="" selected disabled>---:---</option>
                            {{dropdown2(categories,false,true)}}
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="m-3">
                            <label for="" class="d-flex">
                                {{_("Factory")}}
                                <a href="#" data-toggle="modal" data-target="#factory_modal"
                                    class="add-supplier text-teal ml-auto">Add
                                    new +</a></label>
                            {{dropdown(frappe.get_list('Brand Factory',filters={'brand':brand},fields=["factory","parent"]),'factory_list','factory_list')}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="m-3">
                            <label for="" class="d-flex">
                                {{_("Final Destination")}}
                                <a href="#" data-toggle="modal" data-target="#destination_modal"
                                    class="add-supplier text-teal ml-auto">Add
                                    new +</a></label>
                            <div class="form-group">
                                <select class="form-control destination_list" id="destination_list">
                                    <option  value="" selected disabled>---:---</option>
                                    {{dropdown2(frappe.get_all('Destination',filters={'brand':brand}))}}
                                    {{dropdown2(frappe.get_all('Point Of Sales',filters={'brand':brand},fields=['name','point_of_sale']),true)}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="m-3">
                            <label for="product">{{_("Product Name")}}</label>
                            <div class="form-group">
                                <select class="form-control" id="product">
                                    <option  value="" selected disabled>---:---</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-6">
                        <div class="m-3">
                            {{_("Internal ref")}}
                            <input id="internal-ref" type="text" class="form-control mt-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class='row service' style='padding-top:3%'>
                <div class='col-4 fab'>
                    <div class='row'>
                        <div class='col-6'>
                            <div class='m-3'>
                                <label for=''>{{_('Fabric Supplier')}}</label>
                                <input type="text" class="form-control" id="fab_supplier_list" disabled="disabled">
                                <!-- {{dropdown(frappe.get_list('Supplier',filters={'supplier_group':'Fabric','brand':brand},fields=['name']),'fab_sup','fab_supplier_list')}} -->
                            </div>
                        </div>
                        <div class='col-6'>
                            <div class='m-3'>
                                <label for='' class='d-flex'>{{_('Fabric ref')}}
                                </label>
                                <input type="text" class="form-control" id="fab_ref_list" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-6'>
                            <div class='m-3'>
                               <label style="width: 16rem;" for="">{{_('Fabric consumption')}}</label> 
                                <input type="text" class="form-control" id="fabric-consumption" disabled="disabled">
                            </div>

                        </div>
                        <div class='col-6'>
                            <div class='m-3'>
                                <label for="">{{_('Fabric status')}}</label>
                                <select id='fabric-status' type='text' class='form-control'>
                                    <option  value="" selected disabled>---:---</option>
                                    <option value='On stock at factory'>On stock at factory</option>
                                    <option value='To be sent later'>To be sent later</option>
                                    <option value='Shipped - see comments'>Shipped - see comments</option>
                                </select>

                            </div>

                        </div>

                    </div>
                    

                </div>
                <div class='col-4 trim'>
                    <div class='row'>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label style="width: 16rem;" for=''>{{_('Trimming Supplier')}}</label>
                                <input type="text" class="form-control" id="trim_supplier_list" disabled="disabled">
                            </div>

                        </div>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label for='' style="width: 16rem;" class='d-flex'>
                                    {{_('Trimming Ref')}}
                                </label>
                                <input type="text" class="form-control" id="trim_ref_list" disabled="disabled">

                            </div>

                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label style="width: 16rem;"  for="">{{_('Trimming consumption')}}</label>
                                <input id='trimming-consumption' disabled="disabled" type='text' class='form-control'>
                            </div>

                        </div>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label for="">{{_('Trimming status')}}</label>
                                <select id='trimming-status' type='text' class='form-control '>
                                    <option  value="" selected disabled>---:---</option>
                                    <option value='On stock at factory'>On stock at factory</option>
                                    <option value='To be sent later'>To be sent later</option>
                                    <option value='Shipped - see comments'>Shipped - see comments</option>
                                </select>
                            </div>

                        </div>

                    </div>
                    

                </div>
                <div class='col-4 pack'>
                    <div class='row'>
                        <div class='col-6' style='padding-right: 0%;padding-left:0%'>
                            <div class='m-3'>
                                <label style="width: 16rem;" for=''>{{_('Packaging Supplier')}}</label>


                                <input type="text" class="form-control" id="pack_supplier_list" disabled="disabled">
                            </div>

                        </div>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label for='' class='d-flex'>
                                    {{_('Packaging ref')}}
                                </label>
                                <input type="text" class="form-control" id="pack_ref_list" disabled="disabled">

                            </div>

                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-6' style='padding-right: 0%;padding-left:0%'>
                            <div class='m-3'>
                                <label style="width: 16rem;" for="">{{_('Packaging consumption')}}</label>
                                <input type="text" class="form-control" id="packaging-consumption" disabled="disabled">
                            </div>

                        </div>
                        <div class='col-6' style='padding-right: 0%;'>
                            <div class='m-3'>
                                <label for="">{{_('Packaging status')}}</label>
                                <select id='packaging-status' type='text' class='form-control'>
                                    <option  value="" selected disabled>---:---</option>
                                    <option value='On stock at factory'>On stock at factory</option>
                                    <option value='To be sent later'>To be sent later</option>
                                    <option value='Shipped - see comments'>Shipped - see comments</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    

                </div>

            </div>

        </div>

        <div class='row' style="padding: 2%;" id="">

            <div class="row mt-3 table-section">
            </div>



        </div>
        <div class="row">
            <div class="m-3" style="padding-left: 1rem;">
                <label for="">{{_("Comments")}}</label>
                <br>

                <textarea name="" id="comment" cols="30" rows="5"></textarea>
            </div>
        </div>

        <div class="col-12 text-right" style="padding-bottom: 1rem;">
            <button class="btn btn-primary" id="submit">{{_("Submit")}}</button>
        </div>
    </div>
</div>
</div>
</div>

</div>
{% include 'erpnext/www/modals/factory_modal.html' %}
{% include 'erpnext/www/modals/fabric_modal.html' %}
{% include 'erpnext/www/modals/trimming_modal.html' %}
{% include 'erpnext/www/modals/packaging_modal.html' %}
{% include 'erpnext/www/modals/product_category_modal.html' %}
{% include 'erpnext/www/modals/destination_modal.html' %}