{% import 'erpnext/templates/macros.html' as macros %}
{{ macros.breadcrumb([{'label':'Home','url':'/'},{'label':'Client','url':'/'},{'label':'Dispatch Bulk','url':'#'}]) }}

<h2  onload="ss()">{{_("Dispatch Bulk")}}</h2>
{% set ns = namespace(row_class="") %}
{% for location in presenting_order_data %}
<div>
    <div >
        <h3 class="col-3" >
            <a class="font-weight-bold" >
                {{presenting_order_data[location]["show_name"]}}
            </a>
        </h3>
    </div>
    <div class="table-wrapper table-responsive mt-2">
        <table class="table">
            <thead>
                <th colspan='1' scope='colgroup' >Order Date</th>
                <th colspan='1' scope='colgroup' >Order Detail</th>
                <th colspan='1' scope='colgroup' ></th>
                <th colspan='1' scope='colgroup' ></th>
                <th colspan='{{presenting_order_data[location]["max_col_span"]}}' scope='colgroup' >Sizing</th>
                <th colspan='1' scope='colgroup' >Status</th>
            </thead>
            <tbody>
                {% for order in presenting_order_data[location]["orders"] %}
                    {% set ns.soi_name = order[soi_name_index]  %}
                    <tr >
                        <td rowspan="{{order[sent_history_index]|length + 4}}" scope="rowgroup">
                            {% if ns.soi_name!=None %}{{order[soi_creation_time_index].strftime('%Y-%m-%d')}}
                            {% elif order[po_creation_time_index]!=None %}{{order[po_creation_time_index].strftime('%Y-%m-%d')}}{% endif %}
                        </td>
                        <td rowspan="{{order[sent_history_index]|length + 4}}" scope="rowgroup">
                            {% if ns.soi_name!=None %}{{ order[soi_parent_index] }}{% else %}{{ order[if_index] }}{% endif %} <br>
                             {{ order[item_name_index] }}
                        </td>
                        <td></td>
                        <td></td>
                        {% for size in order[sizes_scheme_index] %}
                            <td>{{size["size"]}}</td>
                        {% endfor %}
                        {% for empty_i in range (presenting_order_data[location]["max_col_span"]-order[sizes_scheme_index]|length) %}
                            <td></td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td>Qty</td>
                        {% for size_col in order[sizes_scheme_index] %}
                            {% for order_qty in order[order_qty_index] if order_qty.size==size_col.size %}
                                <td>{{order_qty.quantity}}</td>
                            {% else %}
                                <td>-</td>
                            {% endfor %}
                        {% endfor %}
                        {% for empty_i in range (presenting_order_data[location]["max_col_span"]-order[sizes_scheme_index]|length) %}
                            <td></td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td>Stock</td>
                        {% for size_col in order[sizes_scheme_index] %}
                            {% for stock_qty in order[stock_qty_index] if stock_qty.size==size_col.size %}
                                <td>{{stock_qty.quantity}}</td>
                            {% else %}
                                <td>-</td>
                            {% endfor %}
                        {% endfor %}
                        {% for empty_i in range (presenting_order_data[location]["max_col_span"]-order[sizes_scheme_index]|length) %}
                            <td></td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    {% for row_index in range(order[sent_history_index]|length) %}
                    <tr >
                        <td>
                            {{order[sent_history_index][row_index]["date"].strftime('%Y-%m-%d')}}
                            {% if order[is_tickable_index]==1 %}
                                {% if order[sent_history_index][row_index]["shipment_data"]==None %}
                                    <br>
                                    {% if ns.soi_name!=None %}
                                        <input class="sent-tick" type="checkbox" data-dispatch="{{order[sent_history_index][row_index]['dispatch_name']}}"   data-location="{{location}}" data-sales_order_item="{{ ns.soi_name}}" data-if="{{order[if_index]}}" />
                                    {% else %}
                                        <input class="sent-tick" type="checkbox" data-dispatch="{{order[sent_history_index][row_index]['dispatch_name']}}"   data-location="{{location}}"  data-if="{{order[if_index]}}" />
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>Sent</td>
                        {% for size_col in order[sizes_scheme_index] %}
                            {% for ship_qty in order[sent_history_index][row_index]["quantity_per_size"] if ship_qty.size==size_col.size %}
                                <td>{{ship_qty.quantity}}</td>
                            {% else %}
                                <td>-</td>
                            {% endfor %}
                        {% endfor %}
                        {% for empty_i in range (presenting_order_data[location]["max_col_span"]-order[sizes_scheme_index]|length) %}
                            <td></td>
                        {% endfor %}
                        <td>
                            <div class="row">
                                {% if order[sent_history_index][row_index]["shipment_data"]!=None %}
                                    <div class="col-6 s-tag-sent-shipment shipment-tag" data-location="{{location}}" data-poif="{{order[if_index]}}" data-ship_data="{{order[sent_history_index][row_index]['shipment_data']}}">S</div>
                                {% endif %}
                                <div class="col-6 s-tag-sent-shipment pl-tag">PL+I</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="ship-row">
                        <td>
                            {% if order[is_tickable_index]==1 %}
                                {% if order[current_active_shipment_index] != None %}
                                    {% if ns.soi_name!=None %}
                                        <input type="checkbox" class="not-sent-tick" data-ship_name="{{order[current_active_shipment_index].name}}"  data-ship_data="{{order[current_active_shipment_index]}}"   data-location="{{location}}" data-sales_order_item="{{ ns.soi_name}}" data-if="{{order[if_index]}}"  />
                                    {% else %}
                                        <input type="checkbox" class="not-sent-tick" data-ship_name="{{order[current_active_shipment_index].name}}"  data-ship_data="{{order[current_active_shipment_index]}}"   data-location="{{location}}"  data-if="{{order[if_index]}}"  />
                                    {% endif %}
                                {% else %}
                                    {% if ns.soi_name!=None %}
                                        <input type="checkbox" class="not-sent-tick"  data-location="{{location}}" data-sales_order_item="{{ ns.soi_name}}" data-if="{{order[if_index]}}"  />
                                    {% else %}
                                        <input type="checkbox" class="not-sent-tick"  data-location="{{location}}"  data-if="{{order[if_index]}}"  />
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td >Ship</td>
                        {% for size_col in order[sizes_scheme_index] %}
                            <td class="ship-quantity-boxs"><input class="background-ash ship-quantity-box" data-size="{{size_col.size}}" type="text" /></td>
                        {% endfor %}
                        {% for empty_i in range (presenting_order_data[location]["max_col_span"]-order[sizes_scheme_index]|length) %}
                            <td></td>
                        {% endfor %}
                        <td>
                            <div class="row">
                                {% if order[current_active_shipment_index] != None %}
                                <div class="col-6 s-tag-current-shipment shipment-tag" data-location="{{location}}" data-poif="{{order[if_index]}}" data-ship_data="{{order[current_active_shipment_index]}}">S</div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <div class="button-set">
            <button   type="button" class="btn btn-primary add-shipment-info" style="display: inline-block;" data-location="{{location}}">Add Shipment Info</button>
            <button   type="button" class="btn btn-primary add-pl-invoice" style="display: inline-block;" data-location="{{location}}">PL + Invoice</button>
            <button   type="button" class="btn btn-primary cancel-dispatch" style="display: inline-block;" data-location="{{location}}" >Cancel</button>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'erpnext/www/modals/shipment_order_modal.html' %}


<div class="modal fade" id="shipment-confirmation_pli" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to create a shipment</p>
            </div>
            <div class="modal-footer">
                <button id="yes-shipment-confirm-pli" type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
                <button type="button" id="yes-shipment-confirm-pli" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>