
.background-ash{
    background-color: rgb(213, 218, 226);
    text-align: center;
}
th{
    text-align: center;
}
td{
    text-align: center;
}

.reminder-link{
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(157, 179, 155);
}

#supply-button-section{
    margin-top: 45px;
}

table:not(.table-custom-header) tbody tr:nth-child(2n+1) td, table.table:not(.table-custom-header) tbody tr:nth-child(2n+1) td{
    background-color: white !important;
    border: none;
}

.ship-row{
    border-bottom: 1px solid #000;
}

.ship-quantity-box{
    width: 90%;
}
.button-set{
    text-align: right;
}
.shipment-tag{
    border-radius: 5px;
    background-color: rgb(192, 127, 66);
    margin: 0 auto;
    width: 36px;
    margin-right: 2px;
    float: left;
    font-size: 75%;
}
.pl-tag{
    border-radius: 5px;
    background-color: rgba(64, 209, 56, 0.891);
    margin: 0 auto;
    width: 36px;
    float: left;
    margin-left: 2px;
    font-size: 75%;
}

.ship-quantity-boxs{
    max-width: 30px;
}
.ship-quantity-box{
    border: none;
    max-width: 40px !important;
}
.status-div{
    width: 120px;
}