<h2>{{_("Prototype Order Summary")}}</h2>

{% macro dropdown(items,class,id) %}
<div class="form-group">
    <select class="form-control {{class}}" id="{{id}}">
        {% for i in items %}
        {% if typetwo %}
        <option value="{{i.name}}">{{i.item_name}}</option>
        {% elif i.name %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% elif i.fabric_ref %}
        <option value="{{i.fabric_ref}}">{{i.fabric_ref}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

<div id="container" class="container mt-3">
    <div class="card" style="">
        <div class="card-body row">
            {% if order %}
            <div id="{{order.product}}" class="mt-3 product-table" style="width:90%">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="exampleFormControlSelect1">{{_("Product Name")}}</label>
                            <br />
                            <span class="product"
                                data-product="{{order.product}}">{{frappe.db.get_value('Item',order.product,'item_name')}}</span>
                        </div>
                    </div>

                    <div class="row mt-3 table-section">
                        <table class="table table-bordered product-table">
                            <thead>
                                <tr class="sizing">
                                    <th scope="col">{{_("Sizing")}}</th>
                                    {% for s in order.quantity_per_size %}
                                    <th scope="col">{{s.size}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="qty">
                                    <th scope="row">{{_("Quantity")}}</th>
                                    {% for s in order.quantity_per_size %}
                                    <td scope="col" data-size="{{s.size}}">
                                        {{s.quantity}}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table class="table table-bordered pricing-table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">{{_("Price/Pcs")}}</th>
                                    <th scope="col">{{_("Total Price")}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="price-pp"></td>
                                    <td class="total-price"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="m-3">
                    {{_("Date")}} <br />
                    <span>{% if date %}{{date}}{% endif %}
                        {{frappe.format(order.creation, {'fieldtype': 'Date'})}}
                    </span>
                </div>
                <div id="order-no-section" class="m-3">
                    {{_("Order Number")}}
                    <br />
                    <span id="order-no">
                        {{order.name}}
                    </span>
                </div>
                <div class="m-3">
                    {{_("Internal ref")}}
                    <br />
                    {{order.internal_ref}}
                </div>

                <div class="m-3">
                    {{_("Fabric ref")}}
                    <br />
                    {{order.fabric_ref}}
                </div>
                <div class="m-3">
                    {{_("Fabric consumption")}}
                    <br />
                    {{order.fabric_consumption}}
                </div>
                <div class="m-3">
                    <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
                </div>
                <div class="m-3">
                    {{_("Comments")}}
                    <br />
                    {{order.comment}}
                </div>

            </div>
            <div class="col-6">
                <div class="m-3">
                    {{_("Production Factory Name")}}
                    <br />
                    {{order.production_factory}}
                </div>
                <div class="m-3">
                    {{_("Final Destination")}}
                    <br />
                    {{order.final_destination}}
                </div>
                <div class="m-3">
                    {{_("Trimming")}}
                    <br />
                    {{order.trimming_item}}
                </div>
                <div class="m-3">
                    {{_("Trimming consumption")}}
                    <br />
                    {{order.trimming_consumption}}
                </div>
                {% if order.techpack %}
                <div class="card mt-3 ml-3" style="width: 20rem;padding:1rem">
                    <a href="{{order.techpack}}">Tech pack</a>
                </div>
                {% endif %}
                {% if order.picture %}
                <div class="card mt-3 ml-3" style="width: 20rem;padding:1rem">
                    <a href="{{order.picture}}">Picture</a>
                </div>
                {% endif %}
                {% if order.pattern %}
                <div class="card mt-3 ml-3" style="width: 20rem;padding:1rem">
                    <a href="{{order.pattern}}">Pattern</a>
                </div>
                {% endif %}
            </div>

            <div class="ml-5">
                {% if order.docstatus==0 %}
                <button class="btn btn-primary" id="validate">{{_("Validate")}}</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    {# bottom part of summary page should go below, should be accessible only by production user(factory user) #}
    <div class="card" style="">
        <div class="card-body row">
            <div class="col-6">
                <div class="m-3">
                    {{_("Production")}}
                </div>
                <div class="m-3">
                    {{_("Date")}}
                    <span>
                        <div class="input-group date">
                            <input id="exWorkDate" class="form-control"
                                value={% if order.ex_work_date %}{{order.ex_work_date}}{% endif %} name="workDate"
                                placeholder="Desired date" type="date">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </span>
                </div>

                <div class="m-3">
                    {{_("Invoice")}}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" value={{order.invoice}} id="invoice">
                        {% if order.invoice==null %}
                        <label id="invoice-label" class="custom-file-label" for="invoice">{{_("Invoice")}}</label>
                        {% elif order.docstatus!=null %}
                        <label id="invoice-label" class="custom-file-label"
                            for="invoice">{% if order.invoice %}{{order.invoice}}{% endif %}</label>
                        {% endif %}
                    </div>
                </div>

                <div class="m-3">
                    {{_("Shipment")}}
                </div>

                <div class="m-3">
                    {{_("Career")}}
                    <input id="career" type="text" value="{% if order.carrier %}{{order.carrier}}{% endif %}"
                        class="form-control mt-2">
                </div>
                <div class="m-3">
                    {{_("Tracking Number")}}
                    <input id="tracking_number" type="text"
                        value="{% if order.tracking_number %}{{order.tracking_number}}{% endif %}"
                        class="form-control mt-2">
                </div>

                <div class="m-3">
                    {{_("Date of Shipment")}}
                    <div class="input-group date">
                        <input id="shipmentDate" class="form-control" value={{order.shipment_date}} name="desireddate"
                            placeholder="Desired date" type="date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="m-3">
                    {{_("Price")}}
                    <input id="price" type="text"
                        value="{% if order.shipment_price %}{{order.shipment_price}}{% endif %}"
                        class="form-control mt-2">
                </div>

                <div class="ml-5">
                    {% if order.docstatus==0 %}
                    <button class="btn btn-primary" id="prodSubmit">{{_("Submit")}}</button>
                    {% endif %}
                </div>
            </div>

            <div class="col-6">
                <div class="m-3">
                    {{_("Comments")}}
                    <textarea class="form-control" id="comment"
                        rows="4">{% if order.production_comment %}{{order.production_comment}}{% endif %}</textarea>
                </div>
            </div>


        </div>
    </div>

</div>