<div>
  <h2>
    List of Products in Stock
  </h2>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{_("Product Name")}}</th>
        <th scope="col">{{_("Quantity")}}</th>
        <th scope="col">{{_("Localization")}}</th>
        <th scope="col">{{_("Total Value")}}</th>
      </tr>
    </thead>
    <tbody>
      {% for o in products %}
      <tr>
        <th><input type="radio" class="selectedproduct" name="optradio" data-name="{{o[4]}}" data-qty="{{o[1]}}"
            data-item="{{o[0]}}" data-price="{{o[5]}}" checked></th>
        <th>{{o[0]}}</th>
        <th>{{o[1]}}</th>
        <th>{{o[2]}}</th>
        <th>{{o[3]}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shipFromExisting"
    id=shipFromExistingButton>
    Ship From existing Purchase
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#directShip" id=directShipButton>
    Direct Ship
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateStock" id=updateStockButton>
    Update Stock
  </button>
</div>

{% macro dropdown(items,class,id) %}
<div class="form-group">
  <select class="form-control {{class}}" id="{{id}}">
    {% for i in items %}
    {% if i.name %}
    <option value="{{i.name}}">{{i.name}}</option>
    {% else %}
    <option value="{{i}}">{{i}}</option>
    {% endif %}
    {% endfor %}
  </select>
</div>
{% endmacro %}


<div class="modal fade" id="shipFromExisting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ship From Existing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-md-5">
          <label for="exampleFormControlSelect1">{{_("Client")}}</label>
          {{dropdown(clients,'selected-client')}}
        </div>

        <div class="col-md-5">
          <label for="exampleFormControlSelect2">{{_("Purchase List")}}</label>
          {{dropdown(purchase,'selected-purchase','purchase')}}
        </div>
        <div class="tables" id="tables">
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="validatebutton">Ship</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="in-stock" class="col-form-label">In Stock</label>
            <input type="number" class="form-control" id="in-stock" readonly>
          </div>
          <div class="form-group">
            <label for="real-stock" class="col-form-label">Real Stock</label>
            <input type="number" class="form-control" id="real-stock">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="validatebutton">Validate</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="directShip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Direct Ship</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="quantity" class="col-form-label">Qty</label>
            <input type="number" class="form-control" id="quantity">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">{{_("Destination")}}</label>
            {{dropdown(destination,'','destination')}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id=shipbutton>Ship</button>
      </div>
    </div>
  </div>
</div>




{% include "erpnext/www/imports.html" %}