<div class="mt-4 pt-3 mb-2">
  <h1>
    List of Products in Stock
  </h1>
</div>

<div class="table-wrapper table-responsive mb-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{_("Product Name")}}</th>
        <th scope="col">{{_("Quantity")}}</th>
        <th scope="col">{{_("Localization")}}</th>
        <th scope="col">{{_("Total Value")}}</th>
      </tr>
    </thead>
    <tbody>
      {% for o in products %}
      <tr>
        <td><input type="radio" class="selectedproduct" name="optradio" data-name="{{o[4]}}" data-qty="{{o[1]}}"
            data-item="{{o[0]}}" data-price="{{o[5]}}" checked></td>
        <td><a href="/product-stock-history?stock={{o[4]}}">{{o[0]}}</a></td>
        <td>{{o[1]}}</td>
        <td>{{o[2]}}</td>
        <td>{{o[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="text-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shipFromExisting"
    id=shipFromExistingButton>
    {{_("Ship From existing Purchase")}}
  </button>
  <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#directShip" id=directShipButton>
    {{_("Direct Ship")}}
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateStock" id=updateStockButton>
    {{_("Update Stock")}}
  </button>
</div>

{% macro dropdown(items,class,id) %}
<div class="form-group">
  <select class="form-control {{class}}" id="{{id}}">
    <option value=""></option>
    {% for i in items %}
    {% if i.name %}
    <option value="{{i.name}}">{{i.name}}</option>
    {% else %}
    <option value="{{i}}">{{i}}</option>
    {% endif %}
    {% endfor %}
  </select>
</div>
{% endmacro %}


<div class="modal fade" id="shipFromExisting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_("Ship From existing")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-md-5">
          <label for="exampleFormControlSelect1">{{_("Client")}}</label>
          {{dropdown(clients,'selected-client')}}
        </div>

        <div class="col-md-5">
          <label for="exampleFormControlSelect2">{{_("Purchase List")}}</label>
          {{dropdown(purchase,'selected-purchase','purchase')}}
        </div>
        <div class="tables" id="tables">
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Close")}}</button>
          <button type="button" class="btn btn-primary" id="validatebutton">{{_("Ship")}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_("Update Stock")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="in-stock" class="col-form-label">{{_("In Stock")}}</label>
            <input type="number" class="form-control" id="in-stock" readonly>
          </div>
          <div class="form-group">
            <label for="real-stock" class="col-form-label">{{_("In Stock")}}</label>
            <input type="number" class="form-control" id="real-stock">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Close")}}</button>
        <button type="button" class="btn btn-primary" id="validatebutton">{{_("Validate")}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade tt" id="directShip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 42%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bv" id="exampleModalLabel">{{_("Direct Ship")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="selected-client" class="col-form-label">{{_("Client")}}</label>
                {{dropdown(clients,'','selected-client')}}
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <label for="selected-pos" class="col-form-label">{{_("Point of Sale")}}</label>
                <select class="form-control" id="pos-select">
                  <option value="">---:---</option>
              </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">{{_("Order Information")}}</label>
                <input class="form-control" type="text" id="order_info">
              </div>
            </div>
            <div class="col-6" style="display: none;" id="quantitySec">
              <div class="form-group">
                <label for="quatity">{{_("Quantity")}}</label>
                <input class="form-control" type="text" id="amountQty">
              </div>
            </div>

          </div>
          
          <div id="sizeTable">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shipment-order-modal" id=shipbutton>{{_("Add shipment info")}}</button>
        <button type="button" class="btn btn-primary" id=plNinv>{{_("PL+invoice")}}</button>
        <!-- <button type="button" class="btn btn-primary" id=shipbutton>{{_("Ship")}}</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  id="pl-invoice-confirmation" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><p id="modal-cusname"></p></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div id="PL-Invoice-Confirmation-body">
                Do you want to ship this item?
              </div>
          </div>
          <div class="modal-footer">
              <button id="needShipmentBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
              <button type="button" id="noShipmentBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

{% include 'erpnext/www/modals/shipment_order_modal_for_directship.html' %}