
<!-- <link rel="stylesheet" href="global.css" /> -->
<script src="https://js.stripe.com/v3/"></script>
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script> -->
<h2>Subscription Plans</h2>
<div id="container" class="container">
    <div class="card" style="width: 107%;">
        <div class="card-body">
            <table class="table table-striped table-text-center planTr" id="paymentPlans">
                <thead>
                    <tr>
                        <th>Description</th>
                        {% for plan in plans%}
                        <th><label class="custom-checkbox">
                                {{plan.plan_name}}
                            </label></th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="accessPart">{{_("Client")}}</td>
                        {% for plan in plans%}
                        {%if plan.client==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}

                    </tr>
                    <tr>
                        <td class="accessPart">{{_("No of Accesses")}} </td>
                        {% for plan in plans%}

                        <td><label class="custom-checkbox">
                                {{plan.no_of_clients}}

                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Supply")}}</td>
                        {% for plan in plans%}
                        {%if plan.supply==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Pre Production")}}</td>
                        {% for plan in plans%}
                        {%if plan.pre_production==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                        
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Production")}}</td>
                        {% for plan in plans%}
                        {%if plan.production==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Shipment")}}</td>
                        {% for plan in plans%}
                        {%if plan.shipment==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Stock")}}</td>
                        {% for plan in plans%}
                        {%if plan.stock==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                        
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("S&F")}}</td>
                        {% for plan in plans%}
                        {%if plan.snf==1%}
                        {% set checked=checked%}
                        {%else%}
                        {% set checked=""%}
                        {%endif%}
                        <td><label class="custom-checkbox ">
                                <input type="checkbox" {{checked}} disabled>
                                <span class="icon"></span>
                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Pricing-Month")}}</td>
                        {% for plan in plans%}
                        <td><label class="custom-checkbox">
                                {{plan.monthly_price}}

                            </label></td>
                        {%endfor%}
                       
                    </tr>
                    <tr>
                        <td class="accessPart">{{_("Pricing-Annual")}}</td>
                        {% for plan in plans%}
                        <td><label class="custom-checkbox">
                                {{plan.annual_price}}

                            </label></td>
                        {%endfor%}
                        
                    </tr>
                    
                    <tr>
                        <td></td>
                        {% for plan in plans%}
                        <td>

                            <button class="monthPay btn btn-primary ml-auto" type="button" style="margin-bottom: 2%;background-color:green" data-name="{{plan.name}}">Monthly Subscription</button>
                            <br>
                            <button class="annualPay btn btn-primary ml-auto" type="button" data-name="{{plan.name}}">Annual Subscription</button>
                        </td>
                        {%endfor%}
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div>
        <form id="payment-form" style="display: none;">

            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      
            <button id="submit">
      
              <div class="spinner hidden" id="spinner"></div>
      
              <span id="button-text">Pay</span>
      
            </button>
      
            <p id="card-error" role="alert"></p>
      
            <p class="result-message hidden">
      
              Payment succeeded, see the result in your
      
              <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      
            </p>
      
          </form>
    </div>
</div>